/*  section 부분    */
html,body{height:100%;color:#333;font-size:14px;font-weight:400;line-height:1.4;font-family:'Pretendard', sans-serif;word-break: break-all;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline; -webkit-font-smoothing:antialiased; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html,body{height:100%; color:#333; font-size:14px; font-weight:400; /*line-height:1.4; */font-family:'Pretendard', sans-serif; word-break: break-all;}
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; /*-ms-touch-action:none;*/ }

/* content-wrap */
.content-wrap{min-height:700px;}

/* frame-full head-mypage */
.head-mypage {
    background: #F7F7F7;
}
.frame-full{position:relative; width:100%;}

[class*="frame-"]:after{display:block; clear:both; content:'';}

/* frame-sm */
element.style {
}
.head-mypage ~ .frame-sm {
    margin-top: 45px;
}
.frame-sm{position:relative; max-width:1100px; margin:0 auto;}
[class*="frame-"]:after{display:block; clear:both; content:'';}

/* h2 blind */
.blind{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* user-info-box */
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* inner */
.user-info-box .inner {
    display: table;
    table-layout: auto;
    width: 100%
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* column user-info */
.user-info-box .inner > .column.user-info {
    position: relative;
    /*width:588px; width:53.45%;*/
    padding: 25px
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* span img */
.user-info-box .user-info .img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    padding: 8px 0 7px;
    position: relative;
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* ico-cou-level01 */
.ico-cou-level01 {
    background-position: 0 0;
}
[class*="ico-cou-level"] {
    display: inline-block;
    width: 60px;
    height: 62px;
    background: url('/mypage/images/ico_cou_level.png') 0 0;
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* user-tag-location-btn */
.user-info-box .user-info .img .user-tag-location-btn {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 2px;
    white-space: nowrap;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}
a{background:transparent; text-decoration:none; color:inherit;}

.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}

/* span user-tag-lication-inn */
.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    font-weight: 400;
}
.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 6px solid transparent;
    border-left-color: #333333;
    border-top-color: #333333;
    position: absolute;
    left: 23px;
    top: 0;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
}

/* strong */
.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn strong {
    font-weight: 600;
    color: #54defc;
    position: relative;
    display: inline-block;
    padding-right: 10px;
}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn strong::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-top: 2px solid #54defc;
    border-right: 2px solid #54defc;
}

/* div txt */
.user-info-box .user-info .txt {
    display: inline-block;
    vertical-align: middle;
}
.txt, .txt span {
    word-break: break-all;
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* p greeting */
.user-info-box .user-info .txt .greeting {
    font-size: 20px;
    font-weight: 400;
    position: relative;
}


/* span name */
.user-info-box .user-info .txt .greeting .name {
    font-weight: 700
}


/* sep-list user-info-list type3 */
.user-info-box .user-info .txt .greeting ~ .sep-list.type3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.user-info-box .user-info .user-info-list.type3 {
    overflow: visible;
}
.sep-list{overflow:inherit;}/* overflow:hidden */
.sep-list{overflow:hidden}
ol, ul{list-style:none;}
.user-info-box .user-info .user-info-list.type3:after {
    display: block;
    clear: both;
    content: '';
}

/* li */
.user-info-box .user-info .sep-list.type3 li {
    font-size: 13px;
    line-height: 15px;
}
.sep-list.type3 li{padding:0 10px 0 0; font-size:13px; color:#666}
.sep-list li{float:left; position:relative; padding:0 13px 0 0; color:#555; font-size:13px;letter-spacing: -0.5px;}

user-info-box .user-info .txt .greeting ~ .sep-list.type3 li:before {
    content: none;
}

.sep-list.type3 li:before{height:10px; background:#e6e6e6; margin:2px 10px 0 0;}
.sep-list li:before{display:inline-block; content:''; width:1px; height:10px; vertical-align:middle; background:#C4C4C4; margin:-1px 11px 0 0;}

/* li orange-entryItem */
.user-info-box .user-info .user-info-list.type3 li.orange-entryItem {
    padding-left: 3px;
    margin: 0 0 0 4px;
}
.sep-list li:last-child{padding-right:0}
.user-info-box .user-info .user-info-list.type3 li.orange-entryItem:before {
    display: none;
}

/* p level-tip */
.user-info-box .user-info .txt .sep-list.type3 ~ .level-tip {
    margin-top: 5px;
}
.user-info-box .user-info .level-tip {
    color: #ff6001;
    font-size: 13px;
}

/* column order */
.user-info-box .inner > .column + .column {
    border-left: 4px solid #F8F8F8
}
.user-info-box .inner > .column.order, .user-info-box .inner > .column.coupon, .user-info-box .inner > .column.point {
    width: 15.45%;
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* dt */
.user-info-box .column > dt {
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
}

/* dd */
.user-info-box .column > dd {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    word-break: keep-all;
    max-width: 200px;
    display: block
}

/* strong num */
.user-info-box .column > dd .num {
    font-size: 28px;
}

/* column coupon */
.user-info-box .inner > .column + .column {
    border-left: 4px solid #F8F8F8
}
.user-info-box .inner > .column.order, .user-info-box .inner > .column.coupon, .user-info-box .inner > .column.point {
    width: 15.45%
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* column point */
.user-info-box .inner > .column + .column {
    border-left: 4px solid #F8F8F8
}
.user-info-box .inner > .column.order, .user-info-box .inner > .column.coupon, .user-info-box .inner > .column.point {
    width: 15.45%
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}
.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

/* dd text-primary */
.text-primary{color:#FF6001 !important;}

/* layer-wrap layer-usertag */
.layer-wrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index: 10001;}
.layer-wrap:before{display:block; content: ''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.6); z-index:100;}

/* div layer-pop */
.layer-wrap.layer-usertag .layer-pop {
    border-radius: 8px;
    height: 680px;
    width: 460px;
}
.layer-wrap .layer-pop{width:900px;}
/*.layer-wrap .layer-pop{position:absolute; top:50%; left:50%; z-index:100;  background-color:#fff; -webkit-transform: translate3d(0,0,0) translateZ(1); transform: translate3d(0,0,0) translateZ(1); transform: translateY(-50%) translateX(-50%); -webkit-transform: translateY(-50%) translateX(-50%); backface-visibility: hidden; -webkit-backface-visibility: hidden;}*/
.layer-wrap.layer-usertag .layer-pop .layer-inner {
    height: 100%;
}

/* div layer-head */
.layer-wrap.layer-usertag .layer-pop .layer-inner .layer-head {
    padding: 30px;
}
.layer-pop .layer-inner .layer-head{padding:20px 30px;}

/* h4 layer-pop-title */
.layer-wrap.layer-usertag .layer-pop .layer-inner .layer-head .layer-pop-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
}
.layer-head .layer-pop-title{font-size:20px; font-weight:500; line-height:20px;}

/* div layer-body */
.layer-wrap.layer-usertag .layer-pop .layer-body {
    height: calc(100% - (21px + 30px * 2));
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
}

/* div layer-usertag-inn */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-inn {
    width: calc(100% + 26px * 2);
    margin-left: -26px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 18px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #E6E6E6 #FFFFFF;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-inn::-webkit-scrollbar {
    width: 4px;
    width: 4px;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-inn::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #E6E6E6;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-inn::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* layer-usertag img */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-img {
    width: 300px;
    margin: 0 auto 30px;
}

/* img */
img{max-width: 100%; vertical-align: top;}
fieldset, img{border:0}

/* layer-usertag-desc-group */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group {
    padding: 0 26px;
}

/* layer-usertag-defi */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi + .layer-usertag-defi {
    margin-top: 20px;
}

/* dt */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi dt {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #ff6001;
}

/* dd */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi dd {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

/* strong researchTxt1 */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi dd strong {
    font-size: 18px;
    font-weight: 700;
}

/* div layer-usertag-btn-group */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-btn-group {
    display: flex;
    width: 100%;
    gap: 8px;
}

/* btn-basic-lg2 btn-default */
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-btn-group [class*="btn-basic-"] {
    width: 100%;
}
.btn-default{background:#fff; color:#333; border:1px solid #ccc;}
.btn-basic-lg2{min-width:180px; height:48px; padding:10px 25px 11px}
[class*="btn-basic-"],[class*="btn-option"]{border-radius:6px;}
[class*="btn-rud-"]{display:inline-block; text-align:center; border:1px solid transparent; box-sizing:border-box; vertical-align:top;}
[class*="btn-rud-"] > span{display:inline-block; vertical-align:top;}
.btn-basic-xxlg{min-width:370px; height:70px; padding:15px 25px}
.btn-basic-xxlg > span{font-size:24px; line-height: 1.7;}
.btn-basic-xlg{min-width:215px; height:60px; padding:12px 25px}
.btn-basic-xlg > span{font-size:18px;  font-weight:700; line-height: 1.8;}
.btn-basic-lg{min-width:215px; height:56px; padding:10px 25px 11px}
.btn-basic-lg > span{font-size:18px; line-height: 1.8;}
.btn-basic-lg2 > span{font-size:15px; line-height:1.8;}
.btn-basic-lg2 > span + i{margin-left:5px; margin-top:5px; vertical-align:middle;}
.btn-basic-md{height:44px; padding:8px 20px;}
.btn-basic-md > span{font-size:15px; line-height:1.8}
.btn-basic-md > i + span{margin-left:5px;}
.btn-basic-md2{min-width:67px; height:40px; padding:5px 18px;}
.btn-basic-md2 > span{font-size:14px; line-height:2}
.btn-basic-md2 > i + span{margin-left:5px; font-weight:400;}
.btn-basic-md2 span + i{vertical-align:middle; margin-top:5px; margin-left:4px;}
.btn-basic-sm{height:34px; padding:5px 10px;}
.btn-basic-sm > span{font-size:13px; line-height:1.7}
.btn-basic-sm > i{vertical-align:middle; margin-top:3px;}
.btn-basic-sm > i + span{margin-left:5px; font-weight:400;}
.btn-basic-sm2{min-width:67px; height:32px; padding:5px 10px;}
.btn-basic-sm2 > span{font-size:13px; line-height:1.6}
.btn-basic-sm2 > i + span{margin-left:5px; font-weight:400;}
.btn-basic-sm3{min-width:67px; height:40px; padding:5px 16px;}
.btn-basic-sm3 > span{font-size:13px; line-height:1.6}
.btn-basic-sm3 > i + span{margin-left:5px; font-weight:400;}
.btn-basic-per{width:100%; padding:15px 0;}
.btn-basic-per > span{font-size: 24px;font-weight: 700;}
.btn-option{height:32px;/*height:28px;*/ padding:5px 10px;}

/* btn-basic-lg2 btn-black */
.btn-black{color:#fff; background:#333; border:1px solid #333;}

/* btn-x-sm ui-close-pop */
.layer-wrap.layer-usertag [class^="btn-x-"] {
    height: 38px;
    padding: 10px;
    top: calc((21px + 30px * 2 )/ 2);
    transform: translateY(-50%);
    right: 20px;
}
.layer-pop .layer-inner .ui-close-pop{position:absolute; top:15px; right:25px;}
.btn-x-sm{padding:10px;height:34px}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:none; appearance:none; cursor:pointer;/* border:0;*/ padding:0; background-image:none;}
button{background:none;font-family:'Pretendard', sans-serif; cursor:pointer; outline:none; border:0; margin:0; padding:0;}
button, select{text-transform:none;}
button, input{overflow:visible;}
button, input, optgroup, select, textarea{font:inherit; color:inherit; margin:0; padding:0; box-sizing:border-box; -webkit-appearance:none; appearance:none; }

/* ico-x-black */
.layer-wrap.layer-usertag [class^="btn-x-"] [class^="ico-x-"] {
    width: 18px;
    height: 18px;
}
.btn-x-sm [class^="ico-x-"]{width:14px; height:14px}
.ico-x-black{color:#333;}
[class^="ico-x-"]{position:relative; display:block; width:20px; height:20px}
[class^="ico-x-"]:before{transform:rotate(45deg);}
[class^="ico-x-"]:after{bottom:0; transform: rotate(-45deg);}
[class^="ico-x-"]:after{position:absolute; top:50%; left:-3px; display:block; content:''; width:130%; height:1px; /*background:#666;*/ box-shadow:inset 0 0 0 32px;}

/* button span blind */
button span {position:relative}
button .blind {position:relative;font-size:0;color:transparent}
.blind{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}

/* frame-sm */
.head-mypage ~ .frame-sm {
    margin-top: 45px;
}
.frame-sm{position:relative; max-width:1100px; margin:0 auto;}
[class*="frame-"]:after{display:block; clear:both; content:'';}

/* frame-left */
.frame-left{float:left}

/* aside-menu-wrap */
.aside-menu-wrap {
    width: 220px
}

/* aside-menu */
.aside-menu {
    padding: 10px 24px;
    border: 1px solid #E6E6E6;
}




/* aside-link-box */
.aside-link-box {
    border: 1px solid #E6E6E6;
    margin-top: 20px;
    padding: 18px 20px;
}

/* link-box a href */
.aside-link-box > a {
    display: block;
    position: relative;
    color: #000;
    font-size: 15px;
}

/* ico-bl-speaker */
.aside-link-box > a .ico-bl-speaker {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
}
.ico-bl-speaker{background-position:-120px -110px; width:22px; height:16px; }

/* ico-arr-right */
.aside-link-box > a .ico-arr-right {
    position: absolute;
    right: 0;
    top: 5px
}
[class*="ico-arr-"]{position:relative; display:inline-block; width:12px; height:12px; transition:.2s; -webkit-transition: .2s; transform:translateX(0); -webkit-transform:translateX(0);}
.aside-link-box > a [class*="ico-arr-"]:after, .aside-link-box > a [class*="ico-arr-"]:before {
    background: #666
}
.ico-arr-right:before{top:0; left:50%; width:1px; height:59.45%; -webkit-transform:rotate(135deg); transform:rotate(135deg);}
[class*="ico-arr-"]:before{position:absolute; display:block; content:''; background-color:#000; box-shadow:inset 0 0 0 32px;}
.ico-arr-right:after{bottom:0; left:50%; width:1px; height:59.45%; -webkit-transform:rotate(-135deg); transform:rotate(-135deg);}
.ico-arr-right2:before{top:0; left:50%; width:1px; height:59.45%; -webkit-transform:rotate(150deg); transform:rotate(150deg);}
.ico-arr-right2:after{bottom:0; left:50%; width:1px; height:59.45%; -webkit-transform:rotate(-150deg); transform:rotate(-150deg);}
.ico-arr-left:before{top:0; left:50%; width:1px; height:59.45%; -webkit-transform:rotate(-135deg); transform:rotate(-135deg);}
.ico-arr-left:after{bottom:0; left:50%;width:1px; height:59.45%;  -webkit-transform:rotate(135deg); transform:rotate(135deg);}
.ico-arr-down:before{top:50%; right:0; width:60%; height:1px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.ico-arr-down:after{top:50%; left:0; width:60%; height:1px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.ico-arr-up:before{top:50%; right:0; width:60%; height:1px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.ico-arr-up:after{top:50%; left:0; width:60%; height:1px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
[class*="ico-arrfill-"]:after{display:inline-block; content:''; border-width:6px 0 6px 7px; border-style:solid; border-top-color:transparent; border-bottom-color:transparent; }
.ico-arrfill-up:after{transform:rotate(-90deg); -webkit-transform:rotate(-90deg);}
.ico-arrfill-down:after{transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.ico-arrfill-left:after{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.ico-arrfill-right:after{transform:rotate(360deg); -webkit-transform:rotate(360deg);}
.ico-arr-toggle:before{top:50%; right:0; width:60%; height:1px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.ico-arr-toggle:after{top:50%; left:0; width:60%; height:1px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.toggle-on .ico-arr-toggle:before{top:50%; right:0; width:60%; height:1px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.toggle-on .ico-arr-toggle:after{top:50%; left:0; width:60%; height:1px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.btn-right-xs{display:inline-block; width:24px; height:22px; border:1px solid #d9d9d9; padding:5px; background-color:#fff; vertical-align:top;}
.btn-right-xs [class*="ico-arr-"]{width:9px; height:9px; color:#666; vertical-align:top;}
.btn-right-xs.disabled [class*="ico-arr-"]{opacity: 0.3;}
.btn-move-group [class^="btn-"]{margin-left:-4px}
.btn-move-group [class^="btn-"]:first-child{margin-left:0;}
[class^="btn-basic-"] [class*="ico-arr-"]:before{box-shadow: none;}
.ico-plus{position:relative; width:11px; height:11px; display:inline-block;}
.ico-plus:before{display:block; content:''; position:absolute; top:5px; left:0; width:100%; height:1px; background:#333;}
.ico-plus:after{display:block; content:''; position:absolute; top:0px; left:5px; width:1px; height:100%; background:#333;}
.ico-minus{position:relative; width:11px; height:11px; display:inline-block;}
.ico-minus:before{display:block; content:''; position:absolute; top:50%; left:0; width:100%; height:1px; background:#333;}
.ico-plus-xlg{position:relative; width:24px; height:24px; display:inline-block;}
.ico-plus-xlg:before{display:block; content:''; position:absolute; top:12px; left:0; width:100%; height:1px; background:#333;}
.ico-plus-xlg:after{display:block; content:''; position:absolute; top:0px; left:12px; width:1px; height:100%; background:#333;}
.ico-plus-xlg.color-primary:after{background:#FF6001;}
.ico-plus-xs{position:relative; width:7px; height:7px; display:inline-block;}
.ico-plus-xs:before{display:block; content:''; position:absolute; top:3px; left:0; width:100%; height:1px; background:#333;}
.ico-plus-xs:after{display:block; content:''; position:absolute; top:0px; left:3px; width:1px; height:100%; background:#333;}
.ico-minus-xs{position:relative; width:7px; height:7px; display:inline-block;}
.ico-minus-xs:before{display:block; content:''; position:absolute; top:50%; left:0; width:100%; height:1px; background:#333;}
.ico-plus-bold{position:relative; width:12px; height:12px; display:inline-block;}
.ico-plus-bold:before{display:block; content:''; position:absolute; top:5px; left:0; width:100%; height:2px; background:#c2c2c2;}
.ico-plus-bold:after{display:block; content:''; position:absolute; top:0px; left:5px; width:2px; height:100%; background:#c2c2c2;}
.ico-minus-bold{position:relative; width:12px; height:12px; display:inline-block;}
.ico-minus-bold:before{display:block; content:''; position:absolute; top:50%; left:0; width:100%; height:2px; background:#c2c2c2;}
.btn-qty{position:relative; line-height:0; padding:11px;}

/* frame-right */
.frame-right{float:right}

/* frame-cnt-inner */
.frame-cnt-inner {
    width: 820px;
}

/* div list-title-area */
.list-title-area{position:relative; min-height:32px;}

/* h3 title-list */
.list-title-area .title-list{font-size:18px; font-weight:500; line-height:32px;}

/* order-list-slide */
.list-title-area ~ .my-payment-box, .list-title-area ~ .board-form, .menu-title-area ~ .view-content-area, .list-title-area ~ .order-list-slide, .list-title-area ~ .grid-list-wrap {
    margin-top: 10px;
}
.order-list-slide {
    border-top: 1px solid #666;
}

/* no-data-type1 */
.order-list-slide .no-data-type1{padding:160px 0;}

/* p message */
.no-data-type1 .message{color:#999; font-size:15px; line-height: 23px;}

/* point-bnr-area */
.order-list-slide ~ .point-bnr-area {
    margin-top: 40px;
}

/* list-title-area */
.order-list-slide ~ .list-title-area, .board-form ~ .list-title-area, .grid-list-wrap ~ .grid-area-span2 {
    margin-top: 60px;
}

/* btn-link-txt2 */
.list-title-area .btn-link-txt2 {
    position: absolute;
    bottom: 5px;
    right: 0;
}
.btn-link-txt2{display:inline-block; vertical-align:top; font-size:13px;}

/* i ico-arr-right */
.btn-link-txt2 [class*="ico-arr-"]{vertical-align:middle; margin-top:-2px; margin-left:5px; width:11px; height:11px}
.btn-link-txt2 span + i{margin-left:5px; margin-right:0;}
.btn-link-txt2 i{vertical-align:middle; margin-top:-2px; margin-right:3px;}
.btn-link-txt2 [class*="ico-arr-"]:before{background-color: #999;}
.btn-link-txt3{display:inline-block; vertical-align:top; color:#fff; font-size:14px;}
.btn-link-txt3 i{vertical-align: middle; margin-top:-3px; margin-right:5px;}
.btn-link-txt3 span + i{margin-left:5px; margin-right:0;}
.btn-link-txt4{display:inline-block; vertical-align:top; color:#666; font-size:12px;}
.btn-link-txt4 > span + i{vertical-align: middle; margin-top:-2px;}
.btn-link-txt4 [class*="ico-arr-"]{width:8px; height:8px;}
.btn-link-txt4 [class*="ico-arr-"]:after,
.btn-link-txt4 [class*="ico-arr-"]:before{background-color: #666; box-shadow:none}
.btn-link-txt4 i + u{margin-left:3px}
.btn-link-txt5{display:inline-block; vertical-align:top; color:#666; font-size:13px;}
.btn-link-txt5 i{vertical-align: middle; margin-top:-3px; margin-right:5px;}
.btn-link-txt5 [class*="ico-arr-"]:after,
.btn-link-txt5 [class*="ico-arr-"]:before{background-color: #666; box-shadow:none}
.btn-link-txt5 > span + i{margin-left:5px}
.btn-link-txt6{display:inline-block; vertical-align:top;  font-size:15px;}
.btn-link-txt6 i{vertical-align: middle; margin-top:-3px; margin-right:5px;}
.btn-box-link1{display:inline-block; border-bottom:1px solid #999; color:#999;}
.btn-box-link1 > span{color:#999; font-size:11px;}
.btn-box-link1 > [class*="ico-arr-"]{width:10px; height:10px;}
.btn-box-link1 > span + i{margin-left:3px; color:#ddd}
.btn-blank{/*display:none;*/ position:absolute; top:0; left:0; width:100%; height:100%;}

/* grid-list-wrap */
.grid-list-wrap {
    border-top: 1px solid #666;
    padding: 20px 0 0;
    position: relative
}

/* grid-area-span2 gap50 */
[class*="grid-area-"].gap50{margin:0 -25px}
.grid-wrap,.grid-area,.grid-wrap-inline,[class*="grid-area-"]{position:relative; font-size:0;  text-align: left;}
.grid-area:after{display:block; content:''; clear:both;}
.grid-area > .colum{/*float:left;*/ display:inline-block; vertical-align:top; font-size:14px;}

/* div column */
.grid-area-span7 > .colum:nth-child(-n+7){margin-top:0 !important}
[class*="grid-area-"] .colum.col12{width:100%;}
[class*="grid-area-"] .colum.col11{width:91.66666667%;}
[class*="grid-area-"] .colum.col10{width:83.33333333%;}
[class*="grid-area-"] .colum.col9{width:75%;}
[class*="grid-area-"] .colum.col8{width:66.66666667%;}
[class*="grid-area-"] .colum.col7{width:58.33333333%;}
[class*="grid-area-"] .colum.col6{width:50%;}
[class*="grid-area-"] .colum.col5{width:41.66666667%;}
[class*="grid-area-"] .colum.col4{width:33.33333333%;}
[class*="grid-area-"] .colum.col3{width:25%;}
[class*="grid-area-"] .colum.col2{width:16.66666667%;}
[class*="grid-area-"] .colum.col1{width:8.33333333%;}
[class*="grid-area-"].gap50 > .colum {margin-top:50px;}
[class*="grid-area-"].gap50 > .colum{padding-left:25px; padding-right:25px}
.grid-area-span2 > .colum{width:50%;}

/* order-list-area */
.menu-title-area ~ .order-list-area, .list-title-area ~ .order-list-area, .list-title-area ~ .board-list {
    margin-top: 10px;
}

/* no-data-type1 */
.order-list-area .no-data-type1 {
    border-top: 1px solid #666
}
.no-data-type1{text-align:center; padding:160px 0;}
.grid-area > .colum{/*float:left;*/ display:inline-block; vertical-align:top; font-size:14px;}
.grid-wrap,.grid-area,.grid-wrap-inline,[class*="grid-area-"]{position:relative; font-size:0;  text-align: left;}

/* list-title-area */
.list-title-area{position:relative; min-height:32px;}
.list-title-area .title-list{font-size:18px; font-weight:500; line-height:32px;}
a{background:transparent; text-decoration:none; color:inherit;}


/* board-list */
.board-list{width:100%; border-top:1px solid #666;}

/* grid-area-span2 gap20 */
[class*="grid-area-"].gap20{margin:0 -10px}

/* column */
.grid-area-span7 > .colum:nth-child(-n+7){margin-top:0 !important}
[class*="grid-area-"].gap20 > .colum {margin-top:20px;}
[class*="grid-area-"].gap20 > .colum{padding-left:10px; padding-right:10px}

/* box-grey-type1 */
.box-grey-type1{padding:20px; background:#F8F8F8;}

/* h5 tit-box */
.box-grey-type1 .tit-box {
    font-size: 16px;
}

/* i ico-bl-cs */
.box-grey-type1 .tit-box i {
    vertical-align: middle;
    margin: -3px 6px 0 3px
}
.ico-bl-cs{background-position:-60px -110px; width:20px; height:20px;}
[class^="ico-bl-"]{display:inline-block; background-image:url("/mypage/images/ico_bullet.png");}

/* span 실시간 채팅 상담 */
.box-grey-type1 .tit-box i + span {
    color: #222;
}

/* ul consulting-time */
.consulting-time {
    overflow: hidden;
    margin-top: 5px;
}

/* li */
.consulting-time li:first-child {
    margin-right: 25px;
}
.consulting-time li {
    float: left;
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #333;
}
.consulting-time li:before {
    display: inline-block;
    content: '';
    width: 3px;
    height: 3px;
    background: #333;
    margin: -3px 8px 0 -10px;
    border-radius: 50%;
    vertical-align: middle;
}

/* li > span */
.consulting-time li .time {
    font-size: 16px;
    padding-left: 10px;
    color: #222;
}

/* lunch */
.consulting-time li .lunch {
    color: #666;
}

/* lunch span */
.consulting-time li .lunch .time {
    color: #666;
}

/* ico-bl-tel */
.ico-bl-tel{background-position:-90px -110px; width:20px; height:20px;}

/* em tel */
.box-grey-type1 .tit-box .tel {
    color: #FB5001;
    font-weight: 700;
    font-size: 18px;
}
address, caption, strong[lang=en], em, cite, b {font-weight:normal; font-style:normal; }

/* li bl-none */
.consulting-time li.bl-none {
    color: #000;
}
.consulting-time li.bl-none:before {
    content: none
}

/* command actionFlag */
label, select, input, textarea {vertical-align:middle; }
[class^="ico-bl-"]{display:inline-block; background-image:url("/mypage/images/ico_bullet.png");}




























/* 사용자 에이전트 스타일시트 */
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
i {
    font-style: italic;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
nav {
    display: block;
}
input {
    /*font-style: ;*/
    /*font-variant-ligatures: ;*/
    /*font-variant-caps: ;*/
    /*font-variant-numeric: ;*/
    /*font-variant-east-asian: ;*/
    /*font-variant-alternates: ;*/
    /*font-weight: ;*/
    /*font-stretch: ;*/
    /*font-size: ;*/
    /*font-family: ;*/
    /*font-optical-sizing: ;*/
    /*font-kerning: ;*/
    /*font-feature-settings: ;*/
    /*font-variation-settings: ;*/
    text-rendering: auto;
    /*color: fieldtext;*/
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    /*background-color: field;*/
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
form {
    display: block;
    margin-top: 0em;
}
script {
    display: none;
}
i {
    font-style: italic;
}
button {
    appearance: auto;
    /*font-style: ;*/
    /*font-variant-ligatures: ;*/
    /*font-variant-caps: ;*/
    /*font-variant-numeric: ;*/
    /*font-variant-east-asian: ;*/
    /*font-variant-alternates: ;*/
    /*font-weight: ;*/
    /*font-stretch: ;*/
    /*font-size: ;*/
    /*font-family: ;*/
    /*font-optical-sizing: ;*/
    /*font-kerning: ;*/
    /*font-feature-settings: ;*/
    /*font-variation-settings: ;*/
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /*border-color: buttonborder;*/
    border-image: initial;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div {
    display: block;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
dt {
    display: block;
}
dd {
    display: block;
    margin-inline-start: 40px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: disc;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
strong {
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
/* ========================================== */
























