<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <main>
            <div class="main_padding">
                <h1 class="main-header">도시락 목록</h1>

                <div class="card main-margin">
                    <div class="container">
                        <div class="move">
                            <form method="post">
                                <select class="inner2" id="comCd" name="comCd">
                                    <option value="">도시락명</option>
                                    <option value="">등록일</option>
                                </select>
                                <div class="inner">
                                    <input type="search" id="test">
                                    <img src="/img/admin/icon_search.svg">
                                    <div class="searching">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <a href="/admin/lunchbox/lunchboxWrite" class="register">등록</a>
                            </form>

                        </div>

                        <table id=user_table class="type09">
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th>도시락 이미지</th>
                                <th>도시락 명</th>
                                <th>가격</th>
                                <th>등록일</th>
                                <th>비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="no">1</td>
                                <td><img th:src="@{/img/admin/lunchbox/test1.jpg}" class="lunchboxList"></td>
                                <td>[맛있닭] 명실상부 No.1 닭가슴살 스테이크 & 추가증정</td>
                                <td>17,900원</td>
                                <td>2023-07-01</td>
                                <td><a href="#">수정</a><a href="#">삭제</a></td>
                            </tr>
                            <tr>
                                <td class="no">2</td>
                                <td><img th:src="@{/img/admin/lunchbox/test2.jpg}" class="lunchboxList"></td>
                                <td>[한끼통살] K-입맛을 저격할 10가지 특제 소스 닭가슴살, 소시지 증정!</td>
                                <td>36,900원</td>
                                <td>2023-07-01</td>
                                <td><a href="#">수정</a><a href="#">삭제</a></td>
                            </tr>
                            <tr>
                                <td class="no">3</td>
                                <td><img th:src="@{/img/admin/lunchbox/test3.jpg}" class="lunchboxList"></td>
                                <td>[한끼통살] K-입맛을 저격할 10가지 특제 소스 닭가슴살, 소시지 증정!</td>
                                <td>36,900원</td>
                                <td>2023-07-01</td>
                                <td><a href="#">수정</a><a href="#">삭제</a></td>
                            </tr>
                            <tr>
                                <td class="no">4</td>
                                <td><img th:src="@{/img/admin/lunchbox/test4.jpg}" class="lunchboxList"></td>
                                <td>[한끼통살] K-입맛을 저격할 10가지 특제 소스 닭가슴살, 소시지 증정!</td>
                                <td>36,900원</td>
                                <td>2023-07-01</td>
                                <td><a href="#">수정</a><a href="#">삭제</a></td>
                            </tr>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
                <div class="page_wrap">
                    <div class="page_nation" style="text-align: center">
                        <a class="changePage">
                            <code><</code>
                        </a>
                        <a class="changePage">1</a>
                        <a class="changePage">2</a>
                        <a class="changePage">3</a>
                        <a class="changePage">
                            <code>></code>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <br>
    </div>
</section>

</html>
