<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <main>
            <div class="main_padding">
                <div class="header_container">
                    <h1 class="main-header">도시락 등록</h1>
                </div>
                <form method="post" id="writeForm" action="/admin/lunchbox/save" enctype="multipart/form-data">
                    <div class="card main-margin">
                        <table border="1" width="500">
                            <tr>
                                <th colspan="7">
                                    도시락 등록
                                </th>
                            </tr>
                            <tr>
                                <th style="width: 15%">도시락 명</th>
                                <td colspan="7">
                                    <input type="text" name="lunchboxTitle" placeholder="도시락명을 입력하세요." style="width: 100%">
                                </td>
                            </tr>

                            <tr>
                                <th style="">도시락 이미지</th>
                                <td colspan="5">
                                    <input type="file" name="thumbnail" style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <th style="">가격</th>
                                <td colspan="5">
                                    <input type="text" name="price">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="button-container">
                                    <button type="submit" class="register">등록</button>
                                    <button type="button" class="cancel">취소</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>
</html>