#server
server:
  port: 10010


#jdbc
spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: hr
    password: hr

  jpa:
    defer-datasource-initialization: true
    open-in-view: false
    #  jpa
    hibernate:
      ddl-auto: update
#
#    #jpa format
    properties:
      hibernate:
    format_sql: true
    show-sql: true

  devtools:
    livereload:
      enabled: true

  web:
    resources:
      static-locations: classpath:/static/

  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    cache: false
    check-template-location: true

  #log
  output:
    ansi:
      enabled: always
      
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
#      location: C:/LunchBoxDonation/src/main/resources/static/img/


file:
 uploadDir: C:/LunchBoxDonation/

