.join-certified {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 147px;
}

.frame-full {
    position: relative;
    width: 100%;
}
.join-certified .frame-sm {
    background-color: #ffffff;
    width: 720px;
    margin: 0 auto;
    border-radius: 20px;
}
.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.join-certified .certified-btn-wrap{padding-top:24px;}
.join-certified .certified-btn{background-color: #FF6001;width:520px;height: 60px;color:#ffffff;line-height: 60px;font-size: 18px;font-weight: 400;border-radius: 6px;}
.join-certified .certified-title{padding-left:100px;}
.join-certified .certified-title h2{font-size: 28px;line-height: 32px;color:#333333;font-weight: 700;padding-bottom: 40px;}
.join-certified .certified-title p{font-size: 20px;line-height: 24px;color:#333333;font-weight: 500;padding-bottom: 6px;}
.join-certified .certified-title span{font-size:16px;color:#999999;}

.join-certified .sns-certified-title{padding-top:47px;}
.join-certified .sns-certified-title p{font-size: 16px;color:#333333;font-weight: 500;position: relative;}
.join-certified .sns-certified-title p:before{content:"";width:160px;background-color:#cccccc;height: 1px;position: absolute;left:100px;top:4px;}
.join-certified .sns-certified-title p:after{content:"";width:160px; background-color:#cccccc;height: 1px;position: absolute;right: 100px;top:4px;}
.join-certified .sns-login{margin:0;padding:24px 0 94px;}
.join-certified .frame-sm .certified-wrap{padding-top:60px;}

button {
    background: none;
    font-family: 'Pretendard', sans-serif;
    cursor: pointer;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}
.text-center {
    text-align: center !important;
}
.container {
    position: relative;
    min-height: 700px;
    padding-bottom: 100px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

.join-easyGeneral .dimd{display:none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.4);z-index:100;}
.join-easyGeneral .layer-box{width:376px;background-color:#FFFFFF;position: absolute;top: 50%;left: 50%;z-index:100;transform: translate(-50%, -50%);border-radius: 14px;padding:36px 0 30px 0;}
.join-easyGeneral .layer-box .title{text-align: center;padding-bottom: 26px;}
.join-easyGeneral .layer-box .title .certified-id{color:#FF6001;}
.join-easyGeneral .layer-box .title span{color:#333333;font-size: 15px;line-height: 21px;font-weight: 600;}
.join-easyGeneral .layer-box .login-btn-wrap{text-align: center;}
.join-easyGeneral .layer-box .login-btn-wrap div{cursor:pointer;}
.join-easyGeneral .layer-box .password-btn{border:1px solid #FF6001;width:134px;border-radius: 8px;display: inline-block;margin-right: 8px;}
.join-easyGeneral .layer-box .login-btn-wrap.login-sns .login-btn{width:276px;}
.join-easyGeneral .layer-box .login-btn-wrap.login-sns .password-btn{display:none;}
.join-easyGeneral .layer-box .login-btn-wrap.login-sns a{display:block;text-decoration: underline;color:#555555;font-size: 13px;padding-top:8px;text-underline-position: under;}
.join-easyGeneral .layer-box .login-btn-wrap a{display: none;}
.join-easyGeneral .layer-box .login-btn{background-color:#FF6001;width:134px;border-radius: 8px;display: inline-block;}
.join-easyGeneral .layer-box .login-btn span{color:#ffffff;font-size: 15px;font-weight: 400;line-height: 50px;}
.join-easyGeneral .layer-box .password-btn p{color:#FF6001;font-size: 15px;font-weight: 400;line-height: 50px;}
.join-easyGeneral .inner-layer-box{position: relative;}
.join-easyGeneral .xbox{position: absolute;top:15px; right: 15px;cursor:pointer;z-index: 101;}
.join-easyGeneral .xbox i{width:15px;height: 15px;}
.sns-login {
    margin: 40px 0;
}
.sns-login-list > li {
    display: inline-block;
    margin: 0 9px;
}
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.sns-login-list .ico-sns-loin {
    display: inline-block;
    width: 46px;
    height: 46px;
    overflow: hidden;
    background: url(ico_sns_login_m.png) no-repeat;
    background-size: auto 46px;
}
.sns-login-list .ico-sns-loin.apple {
    background-position: right top;
}
.sns-login-list .ico-sns-loin {
    display: inline-block;
    width: 46px;
    height: 46px;
    overflow: hidden;
    background: url(ico_sns_login_m.png) no-repeat;
    background-size: auto 46px;
}
.sns-login-list .ico-sns-loin {
    display: inline-block;
    width: 46px;
    height: 46px;
    overflow: hidden;
    background: url(ico_sns_login_m.png) no-repeat 0 0;
    background-size: auto 46px;
}
.sns-login-list .ico-sns-loin.kakao {
    background: url(ico_sns_kakao_m.png) no-repeat 0 0;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.sns-login-list .ico-sns-loin.naver {
    background-position: left top;
}
.sns-login-list {
    text-align: center;
}
ol, ul {
    list-style: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}
html, body {
    height: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Pretendard', sans-serif;
    word-break: break-all;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}