<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <main>
            <div class="main_padding">
                <h1 class="main-header">주문 목록</h1>

                <div class="card main-margin">
                    <div class="container">
                        <div class="move">
                            <form method="post">
                                <select class="inner2" id="comCd" name="comCd">
                                    <option>주문번호</option>
                                    <option>주문자 아이디</option>
                                    <option>주문자 명</option>
                                    <option>주문일</option>
                                </select>
                                <div class="inner">
                                    <input type="search" id="test">
                                    <img src="/img/admin/icon_search.svg">
                                    <div class="searching">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table id=user_table class="type09">
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th>주문번호</th>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>주문자명</th>
                                <th>주문일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="no">1</td>
                                <td>202308020001</td>
                                <td>[맛있닭] 명실상부 No.1 닭가슴살 스테이크 & 추가증정</td>
                                <td>13,900</td>
                                <td>user1</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr>
                                <td class="no">2</td>
                                <td>202308020002</td>
                                <td>[맛있닭] 명실상부 No.1 닭가슴살 스테이크 & 추가증정</td>
                                <td>20,800</td>
                                <td>user2</td>
                                <td>2023-06-30</td>
                            </tr>
                            <tr>
                                <td class="no">3</td>
                                <td>202308020003</td>
                                <td>[맛있닭] 명실상부 No.1 닭가슴살 스테이크 & 추가증정</td>
                                <td>35,600</td>
                                <td>user3</td>
                                <td>2023-06-29</td>
                            </tr>
                            <tr>
                                <td class="no">4</td>
                                <td>202308020004</td>
                                <td>[맛있닭] 명실상부 No.1 닭가슴살 스테이크 & 추가증정</td>
                                <td>50,400</td>
                                <td>user4</td>
                                <td>2023-06-29</td>
                            </tr>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
                <div class="page_wrap">
                    <div class="page_nation" style="text-align: center">
                        <a class="changePage">
                            <code><</code>
                        </a>
                        <a class="changePage">1</a>
                        <a class="changePage">2</a>
                        <a class="changePage">3</a>
                        <a class="changePage">
                            <code>></code>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <br>
    </div>
</section>

</html>
