<h2 class="blind">마이페이지</h2>
<div class="user-info-box">
    <div class="inner">
        <div class="column user-info">
            <span class="img">
                <i class="ico-cou-level04"></i>
                <a href="/member/userTag/intro" class="user-tag-location-btn">
                            <span class="user-tag-location-inn">나의 식단 유형은? <strong>테스트 하러가기</strong></span>
                        </a>
                    </span>
            <div class="txt">
                <p class="greeting">
                    <strong class="name">inho93</strong>님 반갑습니다
                </p>
                <ul class="sep-list user-info-list type3">
                    <li><a href="/mypage/memberBenefitsInfo"><i class="ico-bl-crown"></i> 오렌지 닭부장<i
                            class="ico-arr-right"></i></a></li>
                    <li id="groupPointRateText"><a href="/mypage/memberBenefitsInfo">2% 적립</a></li>
                </ul>
                <p class="level-tip"><a href="/mypage/orangeMember">멤버십기간 <span id="orangeEndDtText">2023.09.28</span>까지<i
                        class="ico-arr-right"></i></a></p>
            </div>
        </div><!--// user-info -->
        <dl class="column order">
            <dt>주문/배송</dt>
            <dd><a href="/mypage/orderlist"><strong class="num" id="orderCountText">1</strong>건</a></dd>
        </dl><!--// order -->
        <dl class="column coupon">
            <dt>쿠폰</dt>
            <dd><a href="/mypage/myCoupon"><strong class="num" id="couponCountText">0</strong>개</a></dd>
        </dl><!--// coupon -->
        <dl class="column point">
            <dt>포인트</dt>
            <dd class="text-primary"><a href="/mypage/myPoint"><strong class="num"
                                                                       id="totalUnusedPointText">3,142</strong>P</a>
            </dd>
        </dl><!--// point -->
    </div><!--// inner -->
</div><!--// user-info-box -->