<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" href="/css/login/join.css">
</th:block>

<!-- <link rel="stylesheet" type="text/css" href="static/css/login/rangking2.css"> -->
<section id="contents" class="container" layout:fragment="content" style="padding-bottom: 0px;">
  <div class="join-container" style="min-height: auto;">
    <div class="join-area type2">
      <h2 class="search-title">아이디 찾기</h2>
      <form id="find-member-pw-form" action="/login/sccuessFound" method="post"
            onsubmit="return onSubmitFindMemberPw();"><input type="hidden" name="_csrf"
                                                             value="cfd84807-199d-4930-9f79-84f549cad8f5"><input type="hidden" id="find-member-pw-phone-no-text"
                                                                                                                 name="find-member-pw-phone-no-text" value="">
        <input type="hidden" id="find-member-pw-email-text" name="find-member-pw-email-text" value="">
        <input type="hidden" id="find-member-pw-hidden-loginid" name="find-member-pw-hidden-loginid" value="">
        <fieldset class="form-group-area">
          <legend>아이디 찾기 방식 선택</legend>
          <ul class="find-id-list">
            <!-- 휴대폰번호로 찾기 -->
            <li>
              <div class="custom-radio">
                <input type="radio" id="find-member-id-radio-1" class="radio" value="phone"
                       name="find-member-id-radio" checked="">
                <label for="find-member-id-radio-1">휴대폰번호로 찾기</label>
                <button type="button" class="btn-icon-mark" onclick="toolbox()"><i class="ico-excl2"
                                                                                   style="border:2px solid #d9d9d9;"></i><span class="blind">주의</span></button>
                <div class="tooltip-wrap" onclick="hide($(this))">
                  <div class="tool">
                    <span>휴대폰 인증에 문제가 있으신 경우,<br>고객센터로 문의 주시기 바랍니다.</span>
                  </div>
                </div>
              </div>
              <div id="find-member-id-input-group" class="ui-radio-content active">
                <div class="input-group type-lg w-full">
                  <button type="button" class="btn-basic-lg2 btn-primary w-full"
                          onclick="fnGetCertifyInfo(); return false;">휴대폰 인증</button>
                </div><!--// input-group -->
                <div id="find-member-id-phone-no-error"></div>
              </div><!--// ui-radio-content -->
            </li><!--// 휴대폰번호로 찾기 -->

            <!-- 이메일로 찾기 -->
            <li>
              <div class="custom-radio">
                <input type="radio" id="find-member-id-radio-2" class="radio" value="email"
                       name="find-member-id-radio">
                <label for="find-member-id-radio-2">이메일로 찾기</label>
              </div>
              <div id="find-member-id-email-input-group" class="ui-radio-content">
                <div class="input-group type-lg w-full">
                  <label for="find-member-id-name-text2" class="blind">이름 입력</label>
                  <input type="text" id="find-member-id-name-text2" name="find-member-id-name-text2"
                         class="input-text" placeholder="이름 2자 이상 입력" maxlength="50"
                         onkeyup="onBlurFindMemberidInput();" onblur="onBlurFindMemberidInput();">
                </div><!--// input-group -->
                <div id="find-member-id-name-error2">
                </div>
                <div class="input-group type-lg w-full">
                  <input type="text" id="find-member-id-email-prefix"
                         name="find-member-id-email-prefix" class="input-text" placeholder="이메일 주소"
                         onkeyup="onBlurFindMemberidInput();" onblur="onBlurFindMemberidInput();">
                  <div class="input-group-form">
                    <div class="ui-select select-box w135" id="find-member-id-email-domain"
                         data-value="">
                      <a href="#none" title="선택" class="select-value"><span>직접입력</span></a>
                      <div class="select-list">
                        <ul>
                          <li data-name=""><a href="#none"><span>직접입력</span></a></li>
                          <li data-name="naver.com"><a href="#none"><span>naver.com</span></a>
                          </li>
                          <li data-name="daum.net"><a href="#none"><span>daum.net</span></a>
                          </li>
                          <li data-name="hanmail.net"><a
                                  href="#none"><span>hanmail.net</span></a></li>
                          <li data-name="gmail.com"><a href="#none"><span>gmail.com</span></a>
                          </li>
                          <li data-name="hotmail.com"><a
                                  href="#none"><span>hotmail.com</span></a></li>
                          <li data-name="yahoo.co.kr"><a
                                  href="#none"><span>yahoo.co.kr</span></a></li>
                          <li data-name="chollian.net"><a
                                  href="#none"><span>chollian.net</span></a></li>
                          <li data-name="empal.com"><a href="#none"><span>empal.com</span></a>
                          </li>
                          <li data-name="freechal.com"><a
                                  href="#none"><span>freechal.com</span></a></li>
                          <li data-name="hitel.net"><a href="#none"><span>hitel.net</span></a>
                          </li>
                          <li data-name="hanmir.com"><a
                                  href="#none"><span>hanmir.com</span></a></li>
                          <li data-name="hanafos.com"><a
                                  href="#none"><span>hanafos.com</span></a></li>
                          <li data-name="korea.com"><a href="#none"><span>korea.com</span></a>
                          </li>
                          <li data-name="lycos.co.kr"><a
                                  href="#none"><span>lycos.co.kr</span></a></li>
                          <li data-name="nate.com"><a href="#none"><span>nate.com</span></a>
                          </li>
                          <li data-name="netian.com"><a
                                  href="#none"><span>netian.com</span></a></li>
                          <li data-name="paran.com"><a href="#none"><span>paran.com</span></a>
                          </li>
                          <li data-name="unitel.co.kr"><a
                                  href="#none"><span>unitel.co.kr</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div><!--// input-group -->
                <div id="find-member-id-email-error"></div>

                <div id="certiNoEmailErrorArea"><div id="find-member-id-certi-no-error"></div></div>
                <div class="btn-bottom-area" id="certiBtnEmailArea" style="margin-top:20px;font-weight: 400;">
                  <button type="submit" id="find-member-id-submit-btn" class="btn-basic-lg2 btn-primary w-full btn-dim" disabled=""><span>확인 </span></button>
                </div>
              </div><!--// ui-radio-content -->
            </li><!--// 이메일로 찾기 -->
          </ul>
        </fieldset>
        <!-- 인증번호 입력 -->


        <div>
          <input type="hidden" name="_csrf" value="cfd84807-199d-4930-9f79-84f549cad8f5">
        </div>
      </form>
      <ul class="cs-box-bnr" style="margin-top:40px;margin-bottom: 0;">
        <li><a href="javascript:void(0);" id="ht-custom2" onclick="ht.open(); return false;"><img
                src="/img/login/img_cs_bnr01.png" alt="실시간 채팅 문의하기"></a></li>
        <li><a href="javascript:void(0);"><img src="/img/login/img_cs_bnr02.png"
                                               alt="전화상담 02.6405.8088"></a></li>
      </ul><!--// cs-box-bnr -->

    </div><!--// join-area -->
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    $('html').click(function (e){
      if($(e.target).parents('#find-member-id-email-domain').length < 1) {
        $('#find-member-id-email-domain').removeClass('on');
      }
    })

    $('#find-member-id-radio-1').click(function (){
      $('#find-member-id-input-group').addClass('active');
      $('#find-member-id-email-input-group').removeClass('active');
    });
    $('#find-member-id-radio-2').click(function (){
      $('#find-member-id-email-input-group').addClass('active');
      $('#find-member-id-input-group').removeClass('active');
    });
    $('#find-member-id-email-domain').click(function (){
      if($('#find-member-id-email-domain').hasClass('on')){
        $(this).removeClass('on');
      } else {
        $(this).addClass('on');
      }
      onBlurFindMemberidInput();
    })

    function toolbox() {
      $('div.tooltip-wrap').css('display', 'block');
    }
    function hide(el) {
      $(el).css('display', 'none');
    }

    // 커스텀 셀렉트 선택시 이벤트 처리
    const selEmailDomain = $('#find-member-id-email-domain').find('div.select-list').find('li').children('a');
    selEmailDomain.on('click', function (e) {
      let selectData = $(this).parents('li').data('name');
      $('#find-member-id-email-domain').attr('data-value', selectData);
      if(!selectData) {
        selectData = '직접입력';
      }
      $('#find-member-id-email-domain').find('a.select-value').children('span').text(selectData);

      e.preventDefault();
    });


    var nameCk = false;
    var emailCk = false;
    function onBlurFindMemberidInput() {

      var pattern3 = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; //한글
      var patternE = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}/; // 이메일
      var special_pattern = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
      var patternk = /[ㄱ-ㅎ|ㅏ-ㅣ]/; //한글

      var emailDomain = $('#find-member-id-email-domain').attr('data-value');

      console.log(emailDomain === '');
      console.log(emailDomain);

      const idLen = $('#find-member-id-id-text2').val();
      const nameLen = $('#find-member-id-name-text2').val();
      const emailLen = $('#find-member-id-email-prefix').val();

      // 이름 유효성
      if(nameLen.length < 2) {
        $('#find-member-id-name-error2').html('<p class="valid error">2자 이상 입력해주세요.</p>');
        nameCk = false;
        endCk();
        return false;
      } else if(patternk.test(nameLen) || special_pattern.test(nameLen)) {
        $('#find-member-id-name-error2').html('<p class="valid error">이름은 영문, 한글, 숫자로 시작하고 마침표, 쉼표, 공백은 입력할 수 없습니다.</p>')
        nameCk = false;
        endCk();
        return false;
      } else {
        $('#find-member-id-name-error2').html('');
        nameCk = true;
        endCk();
      }

      // 이메일 유효성
      if(!pattern3.test(emailLen) && (patternE.test(emailLen) || emailDomain)) {
        $('#find-member-id-email-error').html('');
        emailCk = true;
        endCk();
      } else if(emailLen.length > 0) {
        $('#find-member-id-email-error').html('<p class="valid error">직접입력의 경우 전체 이메일을 정확하게 입력해주세요.</p>');
        emailCk = false;
        endCk();
        return false;
      }
    }

    function endCk() {
      if(nameCk && emailCk) {
        $('#find-member-id-submit-btn').attr('disabled', false);
        $('#find-member-id-submit-btn').removeClass('btn-dim');
      } else {
        $('#find-member-id-submit-btn').attr('disabled', true);
        $('#find-member-id-submit-btn').addClass('btn-dim');
      }
    }

  </script>
</section>