
<nav class="aside-menu">
    <ul class="menu-list">
        <li>
            <a href="/mypage/orderlist" class="menu">주문관리</a>
            <ul class="depth2">
                <li><a href="/mypage/orderlist">주문내역</a></li>
                <li class=""><a href="/mypage/oldOrderlist">이전 주문내역<span
                        class="sub">(22.04.24 이전)</span></a></li>
                <li><a href="/mypage/cancellist">취소/반품 내역</a></li>
                <li class=""><a href="/mypage/routineDelivery">정기배송 관리</a></li>
                <li class=""><a href="/mypage/restock/list">재입고 알림 상품</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu">혜택관리</a>
            <ul class="depth2">
                <li class=""><a href="/mypage/myCoupon">쿠폰</a></li>
                <li class=""><a href="/mypage/myPoint">포인트</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu">활동관리</a>
            <ul class="depth2">
                <li class=""><a href="/mypage/recentProduct/list">최근 본 상품</a></li>
                <li class=><a href="/mypage/wish/list">찜한상품</a></li>
                <li class=><a href="/mypage/wishBrand/list">관심브랜드</a></li>
                <li class="current"><a href="/mypage/userCounsel/list">1:1문의</a></li>
                <!-- 활성화될 경우 li에 addClass current  -->
                <li><a href="/mypage/prodReview/list">상품후기</a></li>
                <!-- 활성화될 경우 li에 addClass current  -->
                <li><a href="/mypage/prodCounsel/list">상품문의내역</a></li>
                <!-- 활성화될 경우 li에 addClass current  -->
            </ul>
        </li>
        <li>
            <a href="#" class="menu">식단상담</a>
            <ul class="depth2">
                <li><a href="/mypage/dietManage/list">식단상담 목록</a></li>
                <!-- 활성화될 경우 li에 addClass current  -->
                <li><a href="/mypage/dietManage/app">식단상담 등록</a></li>
                <!-- 활성화될 경우 li에 addClass current  -->
            </ul>
        </li>
        <li>
            <a href="" class="menu goVipView">VIP전용관</a>
        </li>
        <li class="">
            <a href="/mypage/orangeMember" class="menu">오렌지멤버스</a>
        </li>
        <li>
            <a href="/mypage/delivery" class="menu">회원정보관리</a>
            <ul class="depth2">
                <li class=""><a href="/mypage/delivery">배송지 관리</a></li>
                <li><a href="/mypage/info/mypage">정보수정</a></li>
                <!-- 활성화될 경우 li에 addClass current  -->
            </ul>
        </li>
    </ul>
</nav><!--// menu-mypage -->
<div class="aside-link-box">
    <a href="/service/voc"><i class="ico-bl-speaker"></i><span>고객의 소리</span><i
            class="ico-arr-right"></i></a>
</div>
