<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <div class="help_content_bx">
            <div class="content_bx_st">
                <strong class="tit">공지 사항</strong>
                <div class="help_tbl_common help_tbl_style01 help_tbl_style03" id="styleclass">
                    <table>
                        <caption>공지 사항</caption>
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:30%">
                            <col style="width:20%">
                            <col style="width:30%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">제목</th>
                            <td colspan="3"><span id="title">공지사항 테스트 1</span></td>
                        </tr>
                        <tr>
                            <th scope="row">내용</th>
                            <td colspan="3">
                                <div class="tbl_content_bx">
                                    <span id="content">공지사항 내용 테스트 1 <br>언제오나요? 100일째 안오고 있어요</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card main-margin">
                    <div class="boardView">
                        <div class="page" data-brl-use="PH">
                            <div>
                                <strong>이전글</strong>
                                <a class="read">23/07/01 문의입니다</a>
                            </div>
                            <div>
                                <strong class="next">다음글</strong>
                                <a class="read">23/07/01 문의입니다</a>
                            </div>
                            -
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</html>