<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <script th:src="@{/js/admin/bargain/write.js}"></script>
    <div id="main_content">
        <main>
            <div class="main_padding">
                <div class="header_container">
                    <h1 class="main-header">이달의 특가 등록</h1>
                </div>
                <form method="post" id="writeForm" action="/admin/bargain/save" enctype="multipart/form-data">
                    <input type="hidden" name="startDt">
                    <input type="hidden" name="endDt">
                    <div class="card main-margin">
                        <table border="1" width="500">
                            <tr>
                                <th colspan="7">
                                    이달의 특가 등록
                                </th>
                            </tr>
                            <tr>
                                <th style="width: 15%">제목</th>
                                <td colspan="7">
                                    <input type="text" name="title" placeholder="제목을 입력하세요." style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 15%">내용</th>
                                <td colspan="7">
                                    <input type="text" name="content" placeholder="내용을 입력하세요." style="width: 100%">
                                </td>
                            </tr>

                            <tr>
                                <th style="">이미지</th>
                                <td colspan="5">
                                    <input type="file" name="thumbnail" style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <th style="">유효 기간</th>
                                <td colspan="5">
                                    <input type="text"  id="startDt" class="pick"> ~ <input type="text"  id="endDt" class="pick">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="button-container">
                                    <button type="submit" class="register">등록</button>
                                    <button type="button" class="cancel">취소</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>
</html>