<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mainPage/benefits.css">
    <style>
        input:focus {
            outline: none; /* 클릭 시 테두리 제거 */
        }
    </style>
</th:block>

<section layout:fragment="content">
    <!-- scroll-따라오는 애 -->
    <div class="scrollable-container">
        <div id="stickyDiv">
            <a href="">
                <div class="stickyItem1"></div>
            </a>
            <a href="">
                <div class="stickyItem2"></div>
            </a>
            <a href="">
                <div class="stickyItem3"></div>
            </a>
            <a href="" onclick="scrollToTop()">
                <div class="stickyItem4" style="cursor: pointer;">top
                    <img src="https://www.rankingdak.com/resources/pc/images/icon/ico-go-up.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <!-- scroll-따라오는 애 -->

    <div>
        <img src="/img/mainPage/banner-benefits.jpg" style="margin-left: 97px;">
    </div>


    <div class="benefit-1">
        <div><img src="/img/mainPage/benefits1.jpg"></div>
        <div><img src="/img/mainPage/benefits2.jpg"></div>
    </div>


    <div class="benefit-section1">
        <div class="benefit-section2-div"></div>
        <img src="/img/mainPage/benefitSection1.jpg">
        <div class="benefit-section1-div">
            <div class="benefit-sec1">HAPPY BIRTHDAY!<br>랭킹닭컴 11주년 페스티벌</div>
            <div class="benefit-sec2">하나/ HAPPY BIRTHDAY!<br>11주년 페스티벌 최대 58%할인+추가쿠폰!<br>둘/ 다시 돌아온 신나는 여름휴가!<br>재원MD의 식단계획 패키지</div>
            <div class="benefit-img">
                <div><img src="/img/mainPage/benefitSec1.jpg">
                    <div class="price">31,300원</div>
                </div>
                <div><img src="/img/mainPage/benefitSec2.jpg">
                    <div class="price">34,400원</div>
                </div>
                <div><img src="/img/mainPage/benefitSec3.jpg">
                    <div class="price">38,000원</div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100px; height: 250px; background-color: white;"></div>

    <div class="benefit-section2">
        <div class="benefit-section3-div"></div>
        <img src="/img/mainPage/benefitSection2.jpg">
        <div class="benefit-section2-div">
            <div class="benefit-sec3">넘사벽 고단백 닭가슴살↗<br>프로를 만나보세요!</div>
            <div class="benefit-sec4">한 팩만으로 최대 26g까지,<br>단백질의 축복이 끝이 없네!<br>ㅤㅤㅤㅤㅤㅤ<br>ㅤㅤㅤㅤㅤㅤ</div>
            <div class="benefit-img1">
                <div><img src="/img/mainPage/benefitSec4.jpg">
                    <div class="price1">24,900원</div>
                </div>
                <div><img src="/img/mainPage/benefitSec5.jpg">
                    <div class="price1">25,900원</div>
                </div>
                <div><img src="/img/mainPage/benefitSec6.jpg">
                    <div class="price1">26,850원</div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100px; height: 250px; background-color: white;"></div>

    <div class="benefit-section2">
        <div class="benefit-section4-div"></div>
        <img src="/img/mainPage/benefitSection3.jpg">
        <div class="benefit-section3-div">
            <div class="benefit-sec3">먹고 싶은 만큼 양껏,<br>골라 먹는 BIG 용량 볶음밥</div>
            <div class="benefit-sec4">200g만으로는 섭섭하니까<br>더 많이 담았어요<br>ㅤㅤㅤㅤㅤㅤ<br>ㅤㅤㅤㅤㅤㅤ</div>
            <div class="benefit-img1">
                <div><img src="/img/mainPage/benefitSec7.jpg">
                    <div class="price1">38,900원</div>
                </div>
                <div><img src="/img/mainPage/benefitSec8.jpg">
                    <div class="price1">32,900원</div>
                </div>
                <div><img src="/img/mainPage/benefitSec9.jpg">
                    <div class="price1">24,900원</div>
                </div>
            </div>
        </div>
    </div>


    <!-- header footer 빈 공간 -->
    <div style="height: 200px; background-color: white;"></div>
    <!-- header footer 빈 공간 -->


    <!-- footer -->
    <!-- footer -->

    <!-- footer -->
    <script>
        /* 누르면 맨위로 올라가는 JS */
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</section>