<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mainPage/event.css">
    <style>
        input:focus {
            outline: none; /* 클릭 시 테두리 제거 */
        }
    </style>
</th:block>


<section layout:fragment="content">
    <!-- scroll-따라오는 애 -->
    <div class="scrollable-container">
        <div id="stickyDiv">
            <a href="">
                <div class="stickyItem1"></div>
            </a>
            <a href="">
                <div class="stickyItem2"></div>
            </a>
            <a href="">
                <div class="stickyItem3"></div>
            </a>
            <a href="" onclick="scrollToTop()">
                <div class="stickyItem4" style="cursor: pointer;">top
                    <img src="https://www.rankingdak.com/resources/pc/images/icon/ico-go-up.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <!-- scroll-따라오는 애 -->
    <div class="container">
        <div class="row">
            <div class="column" id="c1"></div>
            <div class="column" id="c2"></div>
            <div class="c-intro">랭킹닭컴 상품권 사용법을 소개합니다.</div>
            <div class="c-intro2" style="margin-left: 259px;">문화 It Day.<불안이 젖은 옷처럼 달라붙어 있을 때> 증정 이벤트</div>
        </div>
        <div class="row">
            <div class="column" id="c3"></div>
            <div class="column" id="c4"></div>
            <div class="c-intro">최대 10,000P & 경품 증정! 히든 검색 이벤트</div>
            <div class="c-intro2" style="margin-left: 211px;">타브카 인증하면 100% 기프티콘 증정!</div>
        </div>
        <div class="row">
            <div class="column" id="c5"></div>
            <div class="column" id="c6"></div>
            <div class="c-intro">7월 출석체크 이벤트! 11주년이니깐 11명에게 쏜닭!</div>
            <div class="c-intro2" style="margin-left: 168px;">빅컬처. 60 뮤지컬 <매직 판타지아_도로시 리턴즈> 초대권 이벤트</div>
        </div>
        <div class="row">
            <div class="column" id="c7"></div>
            <div class="column" id="c8"></div>
            <div class="c-intro">내 식다은 취향은? 식단 유형 테스트</div>
            <div class="c-intro2" style="margin-left: 280px;">초대짱 정답 맞추고 100P 받자!</div>
        </div>
        <div class="row">
            <div class="column" id="c9"></div>
            <div class="column" id="c10"></div>
            <div class="c-intro">문화 It Day. 도서 <돈은, 너로부터다> 증정 이벤트</div>
            <div class="c-intro2" style="margin-left: 175px;">빅컬처. 59 연극 <2시 22분> 초대권 이벤트</div>
        </div>
        <div class="row">
            <div class="column" id="c11"></div>
            <div class="column" id="c12"></div>
            <div class="c-intro">매일 1번씩, 최대 1만원! 근육절 룰렛 이벤트</div>
            <div class="c-intro2" style="margin-left: 227px;">당일배송이용하고 썸머 콜드컵 받자!</div>
        </div>
    </div>









    <!-- header footer 빈 공간 -->
    <div style="height: 200px; background-color: white;"></div>
    <!-- header footer 빈 공간 -->






    <!-- footer -->
    <!-- footer -->

    <!-- footer -->
    <script>
        /* 누르면 맨위로 올라가는 JS */
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</section>