<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mainPage/read.css">
    <style>
        input:focus {
            outline: none; /* 클릭 시 테두리 제거 */
        }
        #items option {
            white-space: pre-wrap;
        }
    </style>
</th:block>

<section layout:fragment="content">
    <!-- scroll-따라오는 애 -->
    <div class="scrollable-container">
        <div id="stickyDiv">
            <a href="">
                <div class="stickyItem1"></div>
            </a>
            <a href="">
                <div class="stickyItem2"></div>
            </a>
            <a href="">
                <div class="stickyItem3"></div>
            </a>
            <a href="" onclick="scrollToTop()">
                <div class="stickyItem4" style="cursor: pointer;">top
                    <img src="https://www.rankingdak.com/resources/pc/images/icon/ico-go-up.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <!-- scroll-따라오는 애 -->



    <div class="item-total">
        <div class="item-img">
            <img class="item-big-img" src="https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20220510/IMG1652xdA145362055_600_600.jpg"> <!-- 도시락 상세보기 사진 -->
            <img class="item-big-banner" src="https://www.rankingdak.com/resources/pc/images/img/pc_delivery_banner2.jpg" alt="">
        </div>


        <div class="item-title">[맛잇닭]닭가슴살 스테이크 No.1</div> <!-- 도시락 상세보기 제목 -->
        <div class="item-star"></div>
        <div class="item-price">
            <div class="percent"><span class="price1">29</span>%ㅤ</div> <!-- 상세보기 가격 % -->
            <div class="price2">17,900원</div>                           <!-- 상세보기 가격 -->
            <div class="price3">24,900</div>
            <div class="badge"><img src="https://file.rankingdak.com/image/RANK/PRODUCT/ICONTHUMB/20230419/IMG1681XzJ889805863.png"></div>                             <!-- 할인 되기 전 가격 -->
        </div>

        <div class="orange-members">
            <div class="test"></div>
            <div><span class="orange-member1">오렌지멤버스 할인가</span></div>
            <div class="orange-member2">17,550</div>                        <!-- 오렌지 멤버스 할인가 -->
            <div class="orange-member3">원</div>
        </div>

        <div class="line"></div>


        <div class="item-info">
            <div>판매량ㅤㅤㅤ<span style="color: black;">74,528,705 팩 구매</span></div><br>
            <div>배송방법ㅤㅤ<div class="badge1"></div></div><br>
            <div>추가혜택ㅤㅤ<span>10팩 이상 구매 시, 스파클링 1개 증정</span></div><br>
            <div>브랜드관ㅤㅤ<span>맛있닭</span></div><br>
            <div>상품구성ㅤㅤ혼합 10팩 : 오리지널2, 호박2, 고추2, 갈릭2, 야채2</div><br>
            <select id="items">
                <option value="">ㅤㅤ상품옵션선택</option>
                <option value="item1">오리지널 100g X 10팩<br>17,900원(1팩당 1,790원)</option>
                <option value="item2">오리지널 100g X 30팩<br>(+34,000원)</option>
                <option value="item3">오리지널 100g X 50팩<br>(+68,600원)</option>
                <option value="item4">오리지널 100g X 100팩(+147,100원)</option>
                <option value="item5">호박맛 100g X 10팩(+600원)</option>
                <option value="item6">호박맛 100g X 30팩(+35,800원)</option>
                <option value="item7">호박맛 100g X 50팩(+69,600원)</option>
                <option value="item8">호박맛 100g X 100팩(+153,100원)</option>
            </select>


            <ul>
                <li>
                    <div>
                        <input type="radio" style="margin-left: -20px;" name="subscription" checked>
                        <span style="margin-left: 10px;">일반회원가</span>
                        <span style="margin-left: 270px; font-size: 25px; color: black; font-weight: bolder;">17,900원</span>
                    </div>
                </li>
                <li>
                    <div>
                        <input type="radio" onclick="showAdditionalDiv()" style="margin-left: -20px;" name="subscription">
                        <span style="margin-left: 10px;">기부 구독하기(10% 추가 금액)</span>
                        <span id="price" style="margin-left: 152px; font-size: 25px; color: black; font-weight: bolder;">19,690원</span>
                    </div>
                </li>
            </ul>
            <div id="additionalDiv" style="display: none;">
                <!-- 이 부분에 추가적인 내용을 입력하세요 -->
                추가 내용이 여기에 들어갑니다.
                <div class="donation-block" style="margin-left: 214px;">
                    <div class="donation-img" style="width: 97px; margin-left: 155px;"></div>
                    <div style="display: flex; margin-left: 20px; margin-top: -87px;">
                        <select id="donations">
                            <option value="">ㅤㅤ상품옵션선택</option>
                            <option value="item1">100g X 10팩<br>17,900원(1팩당 1,790원)</option>
                            <option value="item2">100g X 30팩<br>(+34,000원)</option>
                        </select>
                        <div class="donation-name" style="margin-left: 50px; font-size: 10px;">오늘의 기부 도시락</div> <!-- 후기 닉네임 -->
                        <div class="donation-date" style="margin-left: -53px; margin-top: 17px;">2023.07.06</div> <!-- 후기 작성 날짜 -->
<!--                        <div class="donation-imotion" style="margin-left: -67px; margin-top: 95px;">BEST <span class="donation-content">sdad</span></div>  &lt;!&ndash; 후기 내용 &ndash;&gt;-->
                    </div>
                </div>
            </div>

            <script>
                function showAdditionalDiv() {
                    var additionalDiv = document.getElementById("additionalDiv");
                    var radioInput = document.querySelectorAll('input[name="subscription"]');
                    var donationSubscriptionRadio = radioInput[1];

                    if (donationSubscriptionRadio.checked) {
                        additionalDiv.style.display = "block";
                    } else {
                        additionalDiv.style.display = "none";
                    }
                }

                // "일반회원가" 라디오 버튼 클릭 시 "additionalDiv" 숨기기
                var normalMembershipRadio = document.querySelector('input[name="subscription"]:first-child');
                normalMembershipRadio.addEventListener("click", function() {
                    var additionalDiv = document.getElementById("additionalDiv");
                    additionalDiv.style.display = "none";
                });
            </script>
<!--            <script>-->
<!--                function showAdditionalDiv() {-->
<!--                    var additionalDiv = document.getElementById("additionalDiv");-->
<!--                    var radioInput = document.querySelector('input[type="radio"]');-->

<!--                    if (radioInput.checked) {-->
<!--                        additionalDiv.style.display = "block";-->
<!--                    } else {-->
<!--                        additionalDiv.style.display = "none";-->
<!--                    }-->
<!--                }-->
<!--            </script>-->


            <div class="line2"></div>

            <div style="display: flex;" class="big-price">
                <div class="purchase-img"></div>
                <div class="purchase1">장바구니</div>
                <div class="purchase2" style="background-color: rgb(255, 123, 0);">바로구매</div>
            </div>

            <div class="review-intro">베스트 구매후기<span style="font-size: 12px;"> (3,778)</span></div>

            <div class="review" style="display: flex;">
                <div class="review-block">
                    <div class="review-star" style="width: 100px;"></div>
                    <div class="review-img" style="width: 65px; margin-left: 155px;"></div>
                    <div style="display: flex; margin-left: 20px; margin-top: -87px;">
                        <div class="review-name" style="font-size: 10px;">랭킹닭체고!</div> <!-- 후기 닉네임 -->
                        <div class="review-date" style="margin-left: -53px; margin-top: 17px;">2023.07.06</div> <!-- 후기 작성 날짜 -->
                        <div class="review-imotion" style="margin-left: -67px; margin-top: 95px;">BEST <span class="review-content">sdad</span></div>  <!-- 후기 내용 -->
                    </div>
                </div>
                <div class="review-block">
                    <div class="review-star" style="width: 100px;"></div>
                    <div class="review-img" style="width: 65px; margin-left: 155px;"></div>
                    <div style="display: flex; margin-left: 20px; margin-top: -87px;">
                        <div class="review-name" style="font-size: 10px;">랭킹닭체고!</div> <!-- 후기 닉네임 -->
                        <div class="review-date" style="margin-left: -53px; margin-top: 17px;">2023.07.06</div> <!-- 후기 작성 날짜 -->
                        <div class="review-imotion" style="margin-left: -67px; margin-top: 95px;">BEST <span class="review-content">sdad</span></div>  <!-- 후기 내용 -->
                    </div>
                </div>
                <div class="review-block">
                    <div class="review-star" style="width: 100px;"></div>
                    <div class="review-img" style="width: 65px; margin-left: 155px;"></div>
                    <div style="display: flex; margin-left: 20px; margin-top: -87px;">
                        <div class="review-name" style="font-size: 10px;">랭킹닭체고!</div> <!-- 후기 닉네임 -->
                        <div class="review-date" style="margin-left: -53px; margin-top: 17px;">2023.07.06</div> <!-- 후기 작성 날짜 -->
                        <div class="review-imotion" style="margin-left: -67px; margin-top: 95px;">BEST <span class="review-content">sdad</span></div>  <!-- 후기 내용 -->
                    </div>
                </div>
                <div class="review-block">
                    <div class="review-star" style="width: 100px;"></div>
                    <div class="review-img" style="width: 65px; margin-left: 155px;"></div>
                    <div style="display: flex; margin-left: 20px; margin-top: -87px;">
                        <div class="review-name" style="font-size: 10px;">랭킹닭체고!</div> <!-- 후기 닉네임 -->
                        <div class="review-date" style="margin-left: -53px; margin-top: 17px;">2023.07.06</div> <!-- 후기 작성 날짜 -->
                        <div class="review-imotion" style="margin-left: -67px; margin-top: 95px;">BEST <span class="review-content">sdad</span></div>  <!-- 후기 내용 -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <script>
        const radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach(button => {
            button.addEventListener('click', () => {
                radioButtons.forEach(btn => {
                    if (btn !== button) {
                        btn.checked = false;
                    }
                });
            });
        });

        /* 누르면 맨위로 올라가는 JS */
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</section>
