<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <div class="help_content_bx">
            <div class="content_bx_st">
                <strong class="tit">1:1 문의</strong>
                <p class="sub_copy">최근 6개월 동안 접수된 문의 내역 입니다.</p>
                <p class="sub_copy02">※ 문의 내용 중 개인정보가 포함되었거나 중복된 문의인 경우 삭제될 수 있습니다.</p>
                <div class="help_tbl_common help_tbl_style01 help_tbl_style03" id="styleclass">
                    <table>
                        <caption>1:1 문의</caption>
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:30%">
                            <col style="width:20%">
                            <col style="width:30%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">등록자</th>
                            <td><span>조은솔</span></td>
                            <th scope="row">처리상태</th>
                            <td id="state">답변중</td>
                        </tr>
                        <tr>
                            <th scope="row">제목</th>
                            <td colspan="3"><span id="title">배송 문의 드립니다.</span></td>
                        </tr>
                        <tr>
                            <th scope="row">내용</th>
                            <td colspan="3">
                                <div class="tbl_content_bx">
                                    <span id="content">안녕하세요? 배송 문의드립니다.<br>언제오나요? 100일째 안오고 있어요</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 답변 부분-->
                <div class="tbl_content_bx">
                    <div class="help_tbl_common help_tbl_style01">
                        <table>
                            <caption>답변</caption>
                            <colgroup>
                                <col style="width:20%">
                                <col style="width:80%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">답변 하기</th>
                                <td>
                                    <div class="tbl_content_bx">
                                        <div class="se-contents"
                                             style="box-sizing: content-box;  color: rgb(0, 0, 0); line-height: 1.8;">
                                            <div class="se-div" style="box-sizing: content-box; line-height: 1.8;">

                                                <p style="margin: 0px;">
                                                    <span><input type="text" class="answer"></span>
                                                </p>
                                                <button class="answerbtn">등록</button>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!---->
                    <div class="card main-margin">
                        <div class="boardView">
                            <div class="page" data-brl-use="PH">
                                <div>
                                    <strong>이전글</strong>
                                    <a class="read">23/07/01 문의입니다</a>
                                </div>
                                <div>
                                    <strong class="next">다음글</strong>
                                    <a class="read">23/07/01 문의입니다</a>
                                </div>-
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>