<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <main>
            <div class="main_padding">
                <h1 class="main-header">회원 목록</h1>
                <div class="card main-margin">
                    <div class="container">
                        <div class="move">
                            <form method="post">
                                <select class="inner2" id="comCd" name="comCd">
                                    <option>번호</option>
                                    <option>이름</option>
                                    <option>아이디</option>
                                    <option>전화번호</option>
                                    <option>이메일</option>
                                    <option>가입일</option>
                                </select>
                                <div class="inner">
                                    <input type="search" id="test">
                                    <img src="/img/admin/icon_search.svg">
                                    <div class="searching">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table id=user_table class="type09">
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>전화번호</th>
                                <th>이메일</th>
                                <th>가입일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="no">1</td>
                                <td>사용자1</td>
                                <td>admin111</td>
                                <td>010-1234-1234</td>
                                <td>aaa@gmail.com</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr>
                                <td class="no">2</td>
                                <td>사용자2</td>
                                <td>admin222</td>
                                <td>010-1234-1234</td>
                                <td>bbb@naver.com</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr>
                                <td class="no">3</td>
                                <td>사용자3</td>
                                <td>admin333</td>
                                <td>010-1234-1234</td>
                                <td>ccc@gmail.com</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr>
                                <td class="no">4</td>
                                <td>사용자4</td>
                                <td>admin444</td>
                                <td>010-1234-1234</td>
                                <td>ddd@naver.com</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr>
                                <td class="no">5</td>
                                <td>사용자5</td>
                                <td>admin555</td>
                                <td>010-1234-1234</td>
                                <td>eee@naver.com</td>
                                <td>2023-07-01</td>
                            </tr>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
                <div class="page_wrap">
                    <div class="page_nation" style="text-align: center">
                        <a class="changePage">
                            <code><</code>
                        </a>
                        <a class="changePage">1</a>
                        <a class="changePage">2</a>
                        <a class="changePage">3</a>
                        <a class="changePage">
                            <code>></code>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <br>
    </div>
<!--    </div>-->
</section>


</html>
