/* header */
/* d */
#stickyDiv {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -70%);
    /* position: sticky; */
    top: 0;
    padding: 10px;
    /* margin-left: 1613px; */
    width: 100px; /* 원하는 넓이 설정 */
    float: right; /* 오른쪽에 배치 */
    text-align: center; /* 내용 가운데 정렬 */
    z-index: 9999;
    margin-top: 840px;
    margin-left: 1750px;
    height: 400px;
  }
#stickyDiv > a{
    margin-bottom: 30px;
  }

.stickyItem1{
   background-image: url(https://file.rankingdak.com/image/RANK/BANNER/AR_CLOSE/20230419/IMG1681IJX890452208.png);
   height: 94px;
   max-width: 91%;
   border-radius: 15px;
}
.stickyItem2{
   background-image: url(https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_1/20230419/IMG1681Xyy890561004.png);
   height: 94px;
   max-width: 91%;
   border-radius: 15px;
}
.stickyItem3{
   background-image: url(https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_1/20230419/IMG1681UfY890476355.png);
   height: 94px;
   max-width: 91%;
   border-radius: 15px;
}

.stickyItem4{
    line-height: 25px;
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 18px;
}
.stickyItem4 > img{
    margin-top: 11px;
}


.hamburger{
    background-image: url(https://www.rankingdak.com/resources/pc/images/icon/ico_gnb_all.png);
    width: 38px;
    height: 12px;
    margin-left: -30px;
    margin-top: 4px;
}

.category{
    margin-top: -17px
}


.category-container {
    position: relative;
    width: 100px;
    margin-left: 10px;
    margin-top: 17px;
    font-size: 18px;
    font-weight: bolder;
    z-index: 4;
  }

  .items-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 22px;
    border-radius: 15px;
    white-space: nowrap; /* 항목들이 가로로 나열되도록 설정 */
  }
  
  .item {
    display: inline-block; /* 항목들이 가로로 나열되도록 설정 */
    padding: 5px;
  }
  
  .show {
    display: block !important; /* 항목들이 계속 보이도록 설정 */
  }

.ttt .item{
    margin-right: 37px;
}
.ttt{
    margin-right: -35px;
}

/* 팝업 창 */
#divpop{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 80%;
    left: 70%;
    z-index: 9999;
}

#divpop-close{
    margin-top: -210px;
    margin-left: 452px;
}
/* 팝업 창 */

/* slide */
section.container {
    margin: 0 auto;
    width: 90vw;
    overflow: hidden;
    height: fit-content;
    position: relative;
}

div.banner {
    width: 540vw;
    /* transform: translate(-90vw); */
    transition: transform 0.5s;
}

div.img {
    width: 90vw;
    float: left;
}

div.img img {
    width: 100%;
    display: block;
}



div.next {
    right: 0;
}

.btn{
    border-radius: 5px;
    background-color: #00000021;
    opacity: 0.7;
    color: white;
    border: none;
    cursor: pointer;
}

div.btns {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 90vw;
}
/* slide */




/* category */

#category-box-1{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 370px;
    margin-top: 91px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-1{
    display: block;
    width: 58px;
    height: 52px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: 2px 4px;
}
#category-box-2{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 490px;
    margin-top: -70px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-2{
    display: block;
    width: 58px;
    height: 61px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -117px 5px;
}
#category-box-3{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 610px;
    margin-top: -70px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-3{
    display: block;
    width: 58px;
    height: 61px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -173px 6px;
}
#category-box-4{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 730px;
    margin-top: -65px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-4{
    display: block;
    width: 58px;
    height: 61px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -115px -115px;
}
#category-box-5{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 850px;
    margin-top: -68px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-5{
    display: block;
    width: 58px;
    height: 62px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -233px 4px;
}
#category-box-6{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 970px;
    margin-top: -68px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-6{
    display: block;
    width: 58px;
    height: 62px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -58px -55px;
}
#category-box-7{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 1090px;
    margin-top: -68px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-7{
    display: block;
    width: 58px;
    height: 62px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -118px -55px;
}
#category-box-8{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 1210px;
    margin-top: -68px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-8{
    display: block;
    width: 58px;
    height: 62px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -233px -171px;
}
#category-box-9{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 1330px;
    margin-top: -68px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-9{
    display: block;
    width: 58px;
    height: 52px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -118px -171px;
}
#category-box-10{
    background-color: #f8f8f8;
    width: 86px;
    height: 68px;
    margin-left: 1450px;
    margin-top: -68px;
    border-radius: 24px;
    cursor: pointer;
}

#category-img-10{
    display: block;
    width: 58px;
    height: 62px;
    margin: auto;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/category-ico-compilation.png?ver=20230425");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: -59px -170px;
}


#category-comment{
    font-size: 14px;
    display: block;
    margin-top: 18px;
    margin-left: 19px;
    width: 100px;
    cursor: pointer;
}
.test1{
    background-image: url("https://file.rankingdak.com/image/RANK/BANNER/GNB_ICON/20220330/IMG1648CEL614146730.png");
    display: inline-block;
    width: 90px;
    height: 17px;
    overflow: hidden;
    background-size: cover;
    position: relative;
    top: 17px;
    left: -11px;
}

/* category */





html, body {
    height: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 1.4; */
    font-family: 'Pretendard', sans-serif;
    word-break: break-all;
}

.header-inner{
    position: relative;
    max-width: 1100px;
    min-height: 120px;
    margin: 0 auto;
}

.btn-menu-all:before {
    display: inline-block;
    width: 14px;
    height: 12px;
    content: '';
    vertical-align: middle;
    background: url("https://www.rankingdak.com/resources/pc/images/icon/ico_gnb_all.png") 0 0;
    margin: -3px 10px 0 20px;
}

.header-inner .logo{
    display: block;
    position: absolute;
    top: 16px;
    left: 49px;
    width: 500px;
    height: 200px;
    background: url("https://www.rankingdak.com/resources/pc/images/logo.png");
    background-repeat: no-repeat;
    background-size: 110px;
}

.header-inner .util{
    position: absolute;
    top: -16px;
    left: 788px;
}


.util > ul{
    overflow: hidden;
}

ol, ul{
    list-style: none;
}

.util > ul > li{
    float: left;
    position: relative;
    padding: 0 12px 0 0;
    font-size: 13px;
    color: #4D4D4D;
}

a{
    background: transparent;
    text-decoration: none;
    color: inherit;
}

.header-inner .header-search {
    position: absolute;
    top: 60px;
    left: 370px;
    text-align: center;
    z-index: 100;
    width: 380px;
}

.top-search {
    position: relative;
    display: inline-block;
    width: 290px;
    height: 35px;
    border: 1px solid #FFA751;
    border-radius: 6px;
    background: #fff;
    padding: 0 45px 0 15px;
    top: -13px;
    left: 2px;
}

.top-search .input-search {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    font-size: 13px;
    color: #555;
    text-align: left;
    background: transparent;
    border: none;
}

.top-search .btn-top-search {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    background-color: white;
    border: none;
}
.btn-top-search:after {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background: url("https://www.rankingdak.com/resources/pc/images/icon/ico_header_search.svg");
    vertical-align: top;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

button .blind {
    position: relative;
    font-size: 0;
    color: transparent;
}

.header-search .search-layer {
    display: none;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border: 1px solid #FFA751;
    border-top: 0;
    border-radius: 0 0 6px 6px;
}

.autoResultBox {
    text-align: left;
    padding: 12px 15px;
    display: none;
}

.autoResultBox a {
    text-align: left;
    padding: 6px 0;
    display: block;
}

.search-layer .tit-area {
    padding: 12px 15px;
}

.search-layer .tit-area > h2 {
    color: #222;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}

.search-layer .search-rank {
    padding: 0 15px;
    overflow: hidden;
}

.search-rank .list:last-child {
    border-right: 0;
}

.search-rank .list {
    position: relative;
    display: flex;
    gap: 10px 30px;
    width: 100%;
    height: calc(20px * 5 + 10px * 4);
    flex-flow: column wrap;
}

.search-rank .list > li {
    position: relative;
    text-align: left;
    width: calc((100% - 30px) / 2);
}

.search-rank li > a {
    display: flex;
    height: 20px;
    align-items: center;
    position: relative;
}
.search-layer .search-bottom {
    border-top: 1px solid #e6e6e6;
    margin-top: 16px;
}

.search-bottom .tit {
    position: relative;
    padding: 12px 15px 6px;
    display: flex;
    height: calc(12px * 2 + 20px);
    align-items: center;
}

.search-bottom .tit > h3 {
    font-size: 13px;
    color: #333;
    font-weight: 700;
    text-align: left;
}

.search-bottom .tit .text-guide-sm {
    margin-left: auto;
    font-size: 13px;
    line-height: 16px;
    color: #999;
}

button span {
    position: relative;
}

.search-bottom .latest-search {
    padding-bottom: 15px;
}

ol, ul {
    list-style: none;
}

.latest-search .no-data {
    padding: 23px 0 25px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #999;
}

.header-inner .my-menu {
    position: absolute;
    top: 55px;
    right: 0;
}

.my-menu > ul {
    font-size: 0;
}

.my-menu > ul > li {
    display: inline-block;
    vertical-align: top;
    
}

.btn-util-coupon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/top-util-compiltaion.png");
    background-size: auto 48px;
    background-position: 0% center;
}

.my-menu > ul > li + li {
    margin-left: 15px;
}

.btn-util-mypage {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/top-util-compiltaion.png");
    background-size: auto 48px;
    background-position: 50% center;
}

.btn-util-cart {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/top-util-compiltaion.png");
    background-size: auto 48px;
    background-position: 100% center;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.btn-util-cart .count {
    display: block;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    font-family: "Malgun Gothic";
    text-align: center;
    line-height: 1.6;
    background: #FF542A;
    border-radius: 50%;
}

/* div class gnb-wrap */
.gnb-test{
    position: sticky;
    top: 0px; /* 도달했을때 고정시킬 위치 */
    z-index: 601;
}
.gnb-wrap {
    width: 100%;
    border-bottom: 1px solid #eee;
    background: #fff;
    z-index: 600;
}


.gnb-wrap .inner {
    display: flex;
    position: relative;
    width: 1100px;
    min-width: 1100px;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding-left: 140px;
}

.gnb-wrap .category-wrap {
    position: absolute;
    width: 160px;
    bottom: 0;
    left: -20px;
}

.category-wrap .btn-menu-all {
    position: relative;
    display: block;
    width: 160px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    transition: .1s;
    -webkit-transition: .1s;
    padding: 19px 0;
    line-height: 50px;
    left: 120px;
    top: 2px;
    font-weight: bolder;
}

.btn-menu-all:after {
    display: block;
    content: '';
    position: absolute;
    top: 21px;
    right: 0;
    width: 1px;
    height: 16px;
    margin-top: 14px;
    background: #ccc;
}

.gnb-wrap .gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -31px;
    margin-left: -54px;
}

.gnb-wrap .inner:after, .gnb-wrap:after, .gnb-wrap .gnb > ul {
    display: flex;
    width: 77%;
    justify-content: space-between;
    padding-left: 110px;
    /* padding-right: 28px; */
}

.gnb-wrap .gnb > ul > li {
    word-break: keep-all;
}

.gnb > ul > li > a {
    display: block;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 18px 22px 18px;
    height: 100%;
    white-space: nowrap;
    line-height: 20px;
    font-weight: bolder;
}
/* header */



#items{
    height: 60px;
    width: 500px;
    border-radius: 5px;
    border: 1.6px solid grey;
}


#items option {
  white-space: pre-wrap;
  word-break: break-all;
  width: 100px;
    height: 100px;
}
option{
    /* background-color: red; */
    width: 100px;
    height: 100px;
}


.item-total{
    text-align: left;
    display: flex;
}

.item-img{
    margin-top: 84px;
}


.item-big-img{
    width: 472px;
    margin-left: 500px;
    
}
.item-big-banner{
    display: flex;
    margin-top: 25px;
    margin-left: 494px;
}

.item-title{
    margin-top: 80px;
    margin-left: 48px;
    font-size: 25px;
    font-weight: bold;
}

.item-star{
    background-image: url(https://www.rankingdak.com/resources/pc/images/icon/ico_rating.png);
    width: 6%;
    height: 23px;
    margin-top: 130px;
    margin-left: -365px;
    overflow: hidden;
    background-position: 0% 47%;
}

.item-price{
    display: flex;
    margin-top: 160px;
    margin-left: -120px;
}

.item-price > div{
    font-weight: bolder;
}
.price1{
    color: #ff6001;
    font-size: 35px;
}

.percent{
    color: #ff6001;
    font-size: 20px;
}

.price2{
    font-size: 35px;
    word-spacing: 0px;
}

.price3{
    font-size: 18px;
    margin-top: 19px;
    text-decoration: line-through;
}

.badge{
    margin-top: 50px;
    margin-left: -280px;
}

.badge > img{
    width: 63px;
    height: 24px;
}



.orange-members{
    display: flex;
    background-color: #f8f8f8;
    height: 60px;
    margin-top: 273px;
    width: 500px;
    margin-left: -64px;
    border-radius: 5px;
    line-height: 30px;
}


.test {
    background-image: url(https://www.rankingdak.com/resources/pc/images/icon/ico_bullet.png);
    width: 28px;
    height: 27px;
    background-position: -120px -136px;
    outline: none;
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    margin-left: 13px;
    margin-top: 17px;
}

.orange-member1{
    font-size: 15px;
    font-weight: bolder;
    color: #ff6001;
    line-height: 59px;
    word-spacing: -2px;
}

.orange-member2{
    margin-left: 217px;
    margin-top: 14px;
    color: #ff6001;
    font-size: 15px;
    font-weight: bolder;
}

.orange-member3{
    margin-left: 3px;
    margin-top: 14px;
    color: #ff6001;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: #f8f8f8;
    width: 500px;
    height: 2px;
    margin-top: 357px;
    margin-left: -500px;
}

.item-info{
    margin-left: -492px;
    margin-top: 409px;
    color: #999;
    font-weight: 500;
}

.badge1{
    width: 79px;
    height: 32px;
    background-position: -562% -20%;
    margin-left: 85px;
    margin-top: -31px;
    background-image: url(https://www.rankingdak.com/resources/pc/images/txt/txt_badge_dlv.png);
}


input[type="radio"] {
    width: 20px;
    height: 20px;
    /* 원하는 크기로 조정하세요 */
  }

  input[type="radio"]:checked {
      accent-color: rgb(255, 123, 0);
      /* 원하는 색상으로 변경하세요 */
    }


.line2{
    background-color: #f8f8f8;
    width: 500px;
    height: 2px;
    margin-top: 49px;
    margin-left: 9px;
}

.big-price{
    margin-top: 20px;
}

.purchase-img{
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url(/img/mainPage/ico-gift-like.png);
    background-position: 44% 46%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.purchase1{
    margin-left: 10px;
    border: 1px solid gray;
    width: 230px;
    height: 50px;
    text-align: center;
    line-height: 3;
    color: gray;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bolder;
    word-spacing: 10px;
    cursor: pointer;
}

.purchase2{
    margin-left: 10px;
    border: 1px solid gray;
    width: 230px;
    height: 50px;
    text-align: center;
    line-height: 3;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bolder;
    word-spacing: 10px;
    cursor: pointer;
}


.review-intro{
    margin-bottom: 26px;
    margin-top: 148px;
    margin-left: -590px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.review{
    margin-left: -601px;
    margin-bottom: 73px;
}

.review > div{
    background-color: #f8f8f8;
    width: 300px;
    margin-left: 0px;
    height: 190px;
}

.review > div > div{
    margin-left: 20px;
}

.review-star{
    background-image: url(https://www.rankingdak.com/resources/pc/images/icon/ico_rating.png);
    width: 35%;
    height: 23px;
    margin-top: 23px;
    overflow: hidden;
    background-position: 0% 47%;
}

.review-img{
    background-image: url(https://file.rankingdak.com/image/RANK/REVIEW/PD_RV_IMG1/20230609/IMG1686jzU298115662.jpg);
    width: 68px;
    height: 92px;
    background-size: 68px;
}

.review-name{
}

.review-date{

}

.review-imotion{
    color: #ff6001;
}

.review-content{
    color: black;
}




.donation{
    margin-bottom: 26px;
    margin-top: 148px;
    margin-left: -590px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.donation{
    margin-left: -601px;
    margin-bottom: 73px;
}

.donation > div{
    background-color: #f8f8f8;
    width: 300px;
    margin-left: 0px;
    height: 190px;
}

.donation > div > div{
    margin-left: 20px;
}

.donation-star{
    background-image: url(https://www.rankingdak.com/resources/pc/images/icon/ico_rating.png);
    width: 35%;
    height: 23px;
    margin-top: 23px;
    overflow: hidden;
    background-position: 0% 47%;
}

.donation-img{
    background-image: url(https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20230316/IMG1678wms948113093_330_330.jpg);
    width: 68px;
    height: 92px;
    background-size: 95px;
}

.donation-name{

}

.donation-date{

}

.donation-imotion{
    color: #ff6001;
}

.donation-content{
    color: black;
}

#donations{
    margin-left: -232px;
    height: 41px;
    width: 185px;
    border-radius: 5px;
    border: 1.6px solid grey;
}


#donations option {
    white-space: pre-wrap;
    word-break: break-all;
    width: 100px;
    height: 100px;
}







































/* footer */
.footer-menu {
    width: 100%;
    /* max-width: 1920px; */
    min-height: 30px;
    padding: 2px 0 3px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-menu-list > li {
    display: inline-block;
    padding: 0 16px 0 0;
}

.footer-menu-list > li > a {
    color: #666;
    font-size: 12px;
    font-weight: bolder;
}
.footer-menu-list > li:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 13px;
    vertical-align: middle;
    background: #ccc;
    margin: 0px 20px 0 0;
}

.family-select {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    width: 215px;
}

.family-select button.select-btn {
    padding: 0 25px;
    border: #f8f8f8;
}

button span {
    position: relative;
}

.family-select .select-btn .ico-arr-toggle {
    position: absolute;
    top: 3px;
    right: 15px;
}

.family-select .family-list-box {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 0;
    z-index: 1;
}

.family-list-box ul li {
    padding: 6px 25px;
}

.family-list-box ul li > a {
    display: block;
    color: #999;
}

.footer-info {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 0 45px 117px;
    overflow: hidden;
    margin-left: 345px;
}

.footer-info .footer-logo {
    position: absolute;
    top: 35px;
    left: 0;
    display: block;
    width: 85px;
    height: 38px;
    background: url("https://www.rankingdak.com/resources/pc/images/footer_logo.png?ver=20230412") 0 0 no-repeat;
    background-size: contain;
    margin-bottom: 26px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.footer-info .colum-info {
    position: relative;
    float: left;
    width: 50%;
    font-size: 12px;
    color: #666;
}

.footer-biz-info {
    padding-right: 55px;
}

.footer-biz-info li:first-child {
    display: block;
    border: none;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 16px;
    color: #333;
}

.footer-biz-info li .company-name {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.footer-biz-info li {
    font-size: 13px;
    color: #666;
    line-height: 23px;
    display: inline;
}

.colum-info .copyright {
    margin-top: 10px;
    color: #666;
    font-size: 13px;
    line-height: 23px;
    margin-left: 41px;
}

.footer-info .colum-info {
    position: relative;
    float: left;
    width: 50%;
    font-size: 12px;
    color: #666;
    margin-right: -44px;
}

.footer-info .customer-info > li.cscenter {
    display: block;
    width: 100%;
    margin-right: 0;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    color: #333;
}

.footer-info .customer-info > li.cscenter .footer-tel {
    display: block;
    font-size: 22px;
    line-height: 16px;
    font-weight: 600;
    margin: 16px 0 9px;
    padding-left: 24px;
    position: relative;
}

.footer-info .customer-info > li.cscenter .footer-tel::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/ico-tel-black.png");
    background-size: 100%;
    background-position: center;
}

.footer-info .customer-info > li {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 13px;
    line-height: 23px;
}

.footer-info .customer-info > li {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 13px;
    line-height: 23px;
}

.footer-info .customer-btns {
    margin-top: 8px;
    margin-left: 40px;
}

.footer-info .customer-btns > a {
    display: inline-block;
    font-size: 11px;
    color: #777;
    border: 1px solid #ccc;
    margin-right: 3px;
    padding: 0 6px;
    height: 22px;
    line-height: 2;
    border-radius: 4px;
}

.footer-info .customer-btns > a {
    display: inline-block;
    font-size: 11px;
    color: #777;
    border: 1px solid #ccc;
    margin-right: 3px;
    padding: 0 6px;
    height: 22px;
    line-height: 2;
    border-radius: 4px;
}

.footer-sns-list {
    margin-top: 18px;
    overflow: hidden;
}

.footer-sns-list > li {
    float: left;
    margin-right: 10px;
}

.ico-sns-facebook {
    background-position: 0 0;
}

[class^="ico-sns-"] {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/ico_footer_sns_dark.png");
}

.footer-bottom {
    border-top: 1px solid #eee;
    width: 1100px;
    margin: 0 auto 0;
    padding: 14px 0 17px;
}

.footer-bottom .service-txt {
    text-align: center;
}

.footer-bottom .service-txt li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #666;
    font-size: 13px;
    line-height: 20px;
}

.ico-footer-service01 {
    background-position: left top;
    width: 22px;
}

[class^="ico-footer-"] {
    display: inline-block;
    vertical-align: top;
    height: 21px;
    background-image: url("https://www.rankingdak.com/resources/pc/images/icon/ico_footer_service.png");
    margin-right: 8px;
    margin-top: -1px;
}

.footer-bottom .service-txt li:after {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 0;
    content: '';
    width: 1px;
    height: 12px;
    background: #ccc;
    vertical-align: middle;
}

.footer-bottom .service-txt li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #666;
    font-size: 13px;
    line-height: 20px;
}

.ico-footer-service02 {
    background-position: right top;
    width: 18px;
    margin-top: -2px;
}

.ico-sns-facebook {
    background-position: 0 0;
}
.ico-sns-instagram {
    background-position: -40px 0;
}
.ico-sns-blog {
    background-position: -80px 0;
}
.ico-sns-post {
    background-position: -120px 0;
}
.ico-sns-kakaotalk {
    background-position: -160px 0;
}
.ico-sns-youtube {
    background-position: -200px 0;
}
/* footer */