
/*=====================================================
 Reset
========================================================*/
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; /*-ms-touch-action:none;*/ }
html,body{height:100%; color:#333; font-size:14px; font-weight:400; /*line-height:1.4; */font-family:'Pretendard', sans-serif; word-break: break-all;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline; -webkit-font-smoothing:antialiased; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul{list-style:none;}
a{background:transparent; text-decoration:none; color:inherit;}
a:hover, a:active{text-decoration:none; outline:0;}
label, select, input, textarea {vertical-align:middle; }
table{border-collapse:collapse; border-spacing:0;}
legend,caption{position:absolute; left:-99999px; display:block; width:1px; height:1px; overflow:hidden; text-indent:-99999px; clip:rect(0,0,0,0); *display:none;}
table td,table th{word-break: keep-all; word-wrap: break-word;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
address, caption, strong[lang=en], em, cite, b {font-weight:normal; font-style:normal; }
fieldset, img{border:0}
img{max-width: 100%; vertical-align: top;}

/****** Content ******/
.container{position:relative; min-height:700px;  padding-bottom:100px;}
.container-input{position:relative; min-height:600px;  padding-bottom:10px;}
.content-wrap{min-height:700px;}


/* 간격 */
.reply-area  ~ .pagination,
.banner-list-wrap ~ .pagination,
.board-list ~ .pagination,
.board-list ~ .btn-bottom-area,
.board-form ~ .btn-bottom-area,
.list-lately-wrap ~ .btn-bottom-area,
.order-list-area ~ .pagination{margin-top:20px;}

/*========================================================
 Common
========================================================*/
.blind{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}

/**** Frame ****/
.frame-full{position:relative; width:100%;}
.frame-sm{position:relative; max-width:1100px; margin:0 auto;}
.frame-wrap,
.clear:after,
[class*="frame-"]:after{display:block; clear:both; content:'';}


/**** Frame ****/
.frame-left{float:left}
.frame-right{float:right}



/**** Text Align,Style ****/
.text-left{text-align:left !important;}
.text-center{text-align:center !important;}
.text-num-md{font-weight:400;}
/* ellipsis */
.text-elps{text-overflow:ellipsis; white-space:nowrap; overflow:hidden; word-break: break-all;}
table td .title-elps{display:inline-block; vertical-align: middle; max-width:94%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; word-break: keep-all;}

/**** Text Color ****/
.text-primary{color:#FF6001 !important;}
.text-grey3{color:#999 !important;}


/* state */
[class^="state-"]{display:inline-block; vertical-align:top; padding:0 7px; height:22px; font-size:12px; text-align:center; line-height:1.8; border-radius:2px;}
.state-done{background:#556180; color:#fff;}


/* 필수체크 */
.es:after{display:inline-block;content:"";margin-top:5px;margin-left:2px;width:5px;height:5px;border-radius:50%;vertical-align:top;background:#FF6001;}


/* btn-form */
.btn-form{display:inline-block; height:42px; padding:0 13px; text-align:center; border-radius: 3px;}
.btn-form > span{display:inline-block; height:100%; line-height:2.8}

/* 폼요소 Size */
.input-group{height:40px;}
.input-group .btn-form{height:40px;}

.input-group .input-text{height:100%; /*height:40px;*/ padding:3px 15px;}

/**** textarea ****/
.textarea-box-count{position:relative; border:1px solid #ccc; width:100%; padding:15px 20px 40px;}
.textarea-box-count textarea{border:0; width:100%; min-height:60px; height:100%; resize:none;font-size:13px;}
.textarea-box-count .txt-count{position:absolute; right:15px; bottom:15px; font-size:12px; color:#333;}
.textarea-box-count .txt-count .total{color:#999}

/* 간격 */
.content-wrap.frame-sm .page-title-area:first-child{padding-top:70px;}
.page-title-area ~ .frame-wrap{margin-top:20px}
.menu-title-area ~ .grid-list-wrap{margin-top:10px;}

/* Width */
.wp100,.w-full{width:100% !important;}
/* Height*/
.h230{height:230px;}
/* -px */
.w150{width:150px !important;}
.w225{width:225px !important;}
/* 간격 */
.mt20{margin-top:20px}

/*========================================================
 Button
========================================================*/
button{background:none;font-family:'Pretendard', sans-serif; cursor:pointer; outline:none; border:0; margin:0; padding:0;}
button .blind {position:relative;font-size:0;color:transparent}
button span {position:relative}


/* Button shape + size  */
[class*="btn-rud-"]{display:inline-block; text-align:center; border:1px solid transparent; box-sizing:border-box; vertical-align:top;}
[class*="btn-rud-"] > span{display:inline-block; vertical-align:top;}

/* btn-basic- */
[class*="btn-basic-"],[class*="btn-option"]{border-radius:6px;}
.btn-basic-lg2{min-width:180px; height:48px; padding:10px 25px 11px}
.btn-basic-lg2 > span{font-size:15px; line-height:1.8;}

/* Title */
.page-title-area{position:relative;}
.title-page{font-size:25px; font-weight:700;}

.menu-title-area{position:relative; min-height:30px;}
.menu-title-area .title-menu{display:inline-block; font-size:24px; font-weight:500;}
.menu-title-area .right{position:absolute; right:0; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:1;}

.menu-title-area .input-group-wrap.box-type{margin-top:-4px; border-radius:3px;}
.menu-title-area .input-group-wrap.box-type .input-group{height:36px}
.menu-title-area .input-group-wrap.box-type .input-group .select-box {min-width: 80px}

/* aside-menu  */
.aside-menu-wrap{width:220px}
.aside-menu{padding:10px 24px; border:1px solid #E6E6E6;}
.aside-menu .menu-list > li{padding:15px 0; border-top:1px solid #eee}
.aside-menu .menu-list > li:first-child{border-top:0;}
.aside-menu .menu-list > li .menu{font-size:15px; color:#000; font-weight: 500;}
.aside-guide-box{padding:30px 24px; border:1px solid #E6E6E6; margin-top:15px;}
.aside-guide-box dl + dl{border-top:1px solid #eee; padding-top:30px; margin-top:30px}
.aside-guide-box dl dt{color:#333; font-size:15px; font-weight:500; margin-bottom:8px}
.aside-guide-box dd{color:#666; line-height:19px}
.aside-guide-box .phone-num{color:#333; font-size:22px; font-weight:700;  margin-bottom:5px}

/*========================================================
 Form
========================================================*/
button, input, optgroup, select, textarea{font:inherit; color:inherit; margin:0; padding:0; box-sizing:border-box; -webkit-appearance:none; appearance:none; }
button, input{overflow:visible;}
button, select{text-transform:none;}
button[disabled], html input[disabled], input[disabled] + label,button[readonly]{cursor:default;}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:none; appearance:none; cursor:pointer;/* border:0;*/ padding:0; background-image:none;}

input[disabled]{background-color:#f5f5f5; border:1px solid #ccc; opacity:1; color:#999;}
select,textarea{-webkit-appearance:none; appearance:none;}


/**** Input ****/
.input-text{height:40px; padding:5px 15px; background:#fff; color:#333; border:1px solid #ccc; box-sizing:border-box; font-size:13px; border-radius:0;}


/* input-group */
.input-group{position:relative; display:table; border-collapse:collapse; /*width:100%;*/}
.input-group > .input-text{position:relative; display:table-cell; float:left; width:100%; z-index:2;}
.input-group-wrap .input-group > .input-group-btn:last-child{padding:0}
.input-group > .input-group-btn{display:table-cell; position:relative; white-space:nowrap; width:1%; vertical-align:middle; border:0; padding:0 5px;}
.input-group > .input-group-form,
.input-group > .input-group-btn{display:table-cell; position:relative; white-space:nowrap; width:1%; vertical-align:middle; border:0; padding:0 5px;}


/* input-group-wrap box-type */
.input-group-wrap.box-type .select-box{margin:0 0 0 -1px; height:calc(100% + 2px)}
input-group-wrap.box-type .select-box{margin:0 0 0 -1px; height:calc(100% + 2px)}

/* Button shape + size  */
[class*="btn-rud-"]{display:inline-block; text-align:center; border:1px solid transparent; box-sizing:border-box; vertical-align:top;}
[class*="btn-basic-"] > span,
[class*="btn-option"] > span,
[class*="btn-rud-"] > span{display:inline-block; vertical-align:top;}


/* btn-basic- */
[class*="btn-basic-"],[class*="btn-option"]{border-radius:6px;}
.btn-basic-md2{min-width:67px; height:40px; padding:5px 18px;}
.btn-basic-md2 > span{font-size:14px; line-height:2}


/**** Color *****/
.btn-primary{background:#ff6001; color:#fff; border:1px solid #ff6001;}
.btn-default{background:#fff; color:#333; border:1px solid #ccc;}
.btn-black{color:#fff; background:#333; border:1px solid #333;}
.btn-grey3{background:#ccc; color:#fff;}
/* 예외 */
.btn-grey3 > span{font-weight:400;}
.btn-ex-white{display:inline-block; background-color:#fff; font-size:13px; min-width:100px; height:40px; line-height:40px;  text-align:center; color:#333; border:1px solid #333}

/* 간격 */
.input-group > .input-group-form:first-child{padding-left:0 !important}
.input-group > .input-text + .input-group-form:last-child,
.input-group > .input-text + .input-group-btn:last-child{padding:0 0 0 5px}
.input-group > .input-group-btn:last-child{padding:0}

/* 예외 */
.input-group-wrap .input-group > .input-text + .input-group-btn:last-child{padding:0; height:100%}

/**** Input group ****/
/* input-group-wrap */
.input-group-wrap{border:1px solid transparent;}
.input-group-wrap .input-group .input-text{border:0;}

/* input-group-wrap box-type */
.input-group-wrap.box-type{border:1px solid #ccc;}
.input-group-wrap.box-type .input-group-btn > .btn-icon-search{padding:0 10px; margin-top:2px}

/**** Selectbox ****/
.select-box{display:inline-block; min-width:120px; position:relative; height:40px; vertical-align:top; z-index:2; text-align:left; max-width:100%}
.select-box .select-value{display:block; position:relative; height:100%; padding:0 36px 0 15px;  border: 1px solid #ccc; font-size:14px; color:#333;  box-sizing:border-box; background:#fff;}
.select-box .select-value:after{content:''; display:block; position:absolute; right:20px; top:50%; width:7px; height:7px; border-top:1px solid #555; border-left:1px solid #555; transform:rotate(225deg) translateY(100%);-webkit-transform:rotate(225deg) translateY(100%); -ms-transform:rotate(225deg) translateY(100%)}
.select-box .select-value.placeholder{color:#999}
.select-box .select-value > span{position:relative; top:50%; left:0; transform: translateY(-50%); -webkit-transform: translateY(-50%); display:block; max-width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; word-break: break-all;color:#999;}
.select-box .select-list{display:none;overflow-y:auto;position:absolute; top:calc(100% - 1px); width:100%;max-height:300px;padding:0;border:1px solid #ddd;background:#fff;z-index:1}
.select-box .select-list li + li{border-top:1px solid #ddd}
.select-box .select-list li:first-child{margin-top:0}
.select-box .select-list a{display:block;width:100%;height:100%;padding:10px 17px 10px;background:#fff;box-sizing:border-box;font-size:14px}

/**** Area ****/
.btn-bottom-area{position:relative; text-align:center; margin-top: 10px;}
.btn-bottom-area:after{display:block; content:''; clear:both}

/* 간격 */
.btn-bottom-area > [class*="btn-"]:not(.w-full){margin:0 3px;  vertical-align:top;}
.btn-bottom-area > [class*="btn-"]:first-child:not(.w-full):not(:only-child){margin:0 2px 0 0;}
.btn-bottom-area > [class*="btn-"]:last-child:not(.w-full):not(:only-child){margin:0 0 0 2px;}
.btn-bottom-area > [class*="btn-"]:only-child{margin:0;}

/*영역 위치*/
.btn-bottom-area > .btn-basic-md2 {min-width:120px;}

/*========================================================
 Icon
========================================================*/
/**** Arrow ****/
[class*="ico-arr-"]{position:relative; display:inline-block; width:12px; height:12px; transition:.2s; -webkit-transition: .2s; transform:translateX(0); -webkit-transform:translateX(0);}
[class*="ico-arr-"]:after,
[class*="ico-arr-"]:before{position:absolute; display:block; content:''; background-color:#000; box-shadow:inset 0 0 0 32px;}
/* right */
.ico-arr-right:before{top:0; left:50%; width:1px; height:59.45%; -webkit-transform:rotate(135deg); transform:rotate(135deg);}

/* 아이콘 버튼 */
[class*="btn-icon-"]{display:inline-block;}

/**** 이미지 ****/
/* 버튼 */
[class^="ico-btn-"]{display:inline-block; background-image:url("img/ico_btns.png");}
.ico-btn-search{background-position:0 0; width:18px; height:18px;}

/* 블릿 */
[class^="ico-bl-"]{display:inline-block; background-image:url("img/ico_bullet.png");}
.ico-bl-notice{background-position:0 0; width:18px; height:14px; }
.ico-bl-crown{background-position:-180px -110px; width:13px; height:8px; }
.ico-bl-speaker{background-position:-120px -110px; width:22px; height:16px; }

/* Arrow(Fill) */
[class*="ico-arrfill-"]:after{display:inline-block; content:''; border-width:6px 0 6px 7px; border-style:solid; border-top-color:transparent; border-bottom-color:transparent; }
.ico-arrfill-up:after{transform:rotate(-90deg); -webkit-transform:rotate(-90deg);}
/* Arrow Toggle */
.ico-arr-toggle:before{top:50%; right:0; width:60%; height:1px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
/* 토글활성화시 */
.toggle-on .ico-arr-toggle:before{top:50%; right:0; width:60%; height:1px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}

/**** Plus, Minus ****/
.ico-plus-xlg{position:relative; width:24px; height:24px; display:inline-block;}
.ico-plus-xlg:before{display:block; content:''; position:absolute; top:12px; left:0; width:100%; height:1px; background:#333;}
.ico-plus-xlg:after{display:block; content:''; position:absolute; top:0px; left:12px; width:1px; height:100%; background:#333;}

/**** X Icon ****/
[class^="ico-x-"]{position:relative; display:block; width:20px; height:20px}
/* color */
.ico-x-black{color:#333;}

/* 버튼으로 적용시 */
.btn-x-sm{padding:10px;height:34px}
/*========================================================
 테이블
========================================================*/

/**** board-list ****/
.board-list{width:100%; border-top:1px solid #666;}
.board-list table{width:100%; table-layout:fixed; border-collapse:collapse;}
.board-list table td{border-bottom:1px solid #ddd; vertical-align:middle; word-break: break-all; line-height:20px}
.board-list table td{padding:16px 10px;}

/**** board-form ****/
.board-form{width:100%; border-top:1px solid #666; border-bottom:1px solid #ccc}
.board-form table{width:100%; table-layout:fixed; border-collapse:collapse;}
.board-form table th,
.board-form table td{border-top:1px solid #F6F6F6; padding:8px 0 8px 10px; vertical-align:middle; word-break: break-all;}
.board-form table tbody th{border-right:1px solid #E9E9E9; font-size:14px; font-weight:500;}
.board-form table tbody td{border-right:1px solid #E9E9E9; font-size:15px; color:#666}
.board-form table tbody td:last-child{border-right:0}
.board-form table tbody tr:first-child td{border-top:0;}

.board-form table .in-tb{padding:3px 0 4px; word-break: break-all;}

/* type2 */
.board-form.type2 table tbody th{border-right:0; font-weight:400;}
.board-form.type2 table th,
.board-form.type2 table td{padding:18px 0;}
.board-form.type2 table td{padding:18px 0;}

board-form + .btn-bottom-area [class*="btn-basic-"],
.board-form + .btn-bottom-area [class*="btn-option"]{border-radius:6px;}/* border-radius:2px; */

/*========================================================
 Pagination
========================================================*/
.pagination{position:relative; text-align:center;font-size:0;}
.pagination > a{display:inline-block; vertical-align:top; height:25px; padding:0 1px; margin:0 8px 0; color:#999; font-size:14px;}
.pagination > a.current,
.pagination > a.on{border-bottom:2px solid #FB5001; color:#FB5001; font-weight:700;}
.pagination > a > span{display:block; height:100%; line-height:25px}
.pagination .btn-page{width:25px; background:url("img/ico_pagination.png");}
.pagination .btn-page.first{margin:0;background-position:-8px 0;}
.pagination .btn-page.prev{background-position:0 0; margin:0 0 0 6px;}
.pagination .btn-page.next{background-position:0 -30px; margin:0 6px 0 0;}
.pagination .btn-page.last{margin:0;background-position:0 -30px;}

.frame-cnt-inner{width:820px;}

.board-list ~ .page-bottom {
    margin-top: 30px;
}

.page-bottom {
    position: relative
}
.page-bottom .right-area {
    position: absolute;
    top: 0;
    right: 0;
}
.page-bottom .pagination {
    padding: 9px 0
}

.list-title-area ~ .my-payment-box, .list-title-area ~ .board-form, .menu-title-area ~ .view-content-area, .list-title-area ~ .order-list-slide, .list-title-area ~ .grid-list-wrap {
    margin-top: 10px;
}
.view-content-area {
    border-top: 1px solid #666
}

.view-content-area ~ .prev-list-bottom {
    margin-top: 80px;
}
.prev-list-bottom {
    border-bottom: 1px solid #ccc;
}
.prev-list-bottom .prev-list-tb {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.prev-list-tb .list-tb-item {
    display: table-row
}
.prev-list-tb .list-tb-item .cla-cell {
    display: table-cell;
    width: 100px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc
}
.prev-list-tb .list-tb-item .tit-cell {
    display: table-cell;
    width: auto;
    padding: 20px 0;
    border-top: 1px solid #ccc
}

.prev-list-tb .list-tb-item .tit-cell > a {
    display: block;
    max-width: 90%;
    color: #666
}
.prev-list-tb .list-tb-item .date-cell {
    display: table-cell;
    width: 140px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 13px;
}
.prev-list-tb .list-tb-item .date-cell .date {
    color: #666;
}

.prev-list-tb .list-tb-item .cla-cell .txt {
    font-weight: 700;
}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"] {
    margin-left: 10px;
}

.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]:after {
    border-width: 5px 0 5px 6px;
}
.page-bottom {
    position: relative
}

.prev-list-bottom ~ .page-bottom {
    margin-top: 30px;
}

.view-content-area > .inner-text {
    padding: 40px 20px 0;
}

.view-content-area .view-content-head {
    background: #F8F8F8;
}

.view-content-area .view-content-head .inner {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.view-content-head.type2 .inner .tit-cell {
     padding: 20px
 }
.view-content-head .inner .tit-cell {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 20px
}
.view-content-head .inner .date-cell {
    display: table-cell;
    vertical-align: top;
    width: 210px;
    padding: 20px;
    text-align: center;
}

.view-content-head .inner .tit-cell .tit {
    font-size: 20px;
    font-weight: 500;
}
.view-content-head.type2 .inner .date-cell {
    width: 140px;
    padding: 20px;
}
.view-content-head .inner .date-cell .sep-list {
    display: inline-block;
    vertical-align: middle;
}

.view-content-head.type2 .inner .tit-cell .tit {
    font-size: 14px;
    font-weight: 500;
}

.txt, .txt span {
    word-break: break-all;
}

/*========================================================
 텍스트 목록
========================================================*/
.sep-list{overflow:inherit;}/* overflow:hidden */

/****  separate list ****/
.sep-list{overflow:hidden}
.sep-list li{float:left; position:relative; padding:0 13px 0 0; color:#555; font-size:13px;letter-spacing: -0.5px;}
/* type2 */
.sep-list.type2 li{padding:0 8px 0 0; font-size:13px; color:#666}
/* type3 */
.sep-list.type3 li{padding:0 10px 0 0; font-size:13px; color:#666}


/* 공통 */
.sep-list li:last-child{padding-right:0}
.sep-list:after{content:'';display:block;clear:both;}

/*========================================================
 Layer Popup
========================================================*/
.layer-wrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index: 10001;}
.layer-wrap .layer-pop{position:absolute; top:50%; left:50%; z-index:100;  background-color:#fff; -webkit-transform: translate3d(0,0,0) translateZ(1); transform: translate3d(0,0,0) translateZ(1); transform: translateY(-50%) translateX(-50%); -webkit-transform: translateY(-50%) translateX(-50%); backface-visibility: hidden; -webkit-backface-visibility: hidden;}
.layer-pop .layer-inner{position:relative;}
.layer-pop .layer-inner .ui-close-pop{position:absolute; top:15px; right:25px;}
.layer-pop .layer-inner .layer-head{padding:20px 30px;}
/* 사이즈 */
.layer-wrap .layer-pop{width:900px;}

/* full-scroll-type */
.layer-head .layer-pop-title{font-size:20px; font-weight:500; line-height:20px;}

/* 마이랭닭 상단 정보 박스 */
.head-mypage {
    background: #F7F7F7;
}

.user-info-box {
    width: 1100px;
    margin: 0 auto;
    background: #F8F8F8;
    text-align: center;
    padding: 30px 0
}

.user-info-box .inner {
    display: table;
    table-layout: auto;
    width: 100%
}
.user-info-box .inner > .column {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding: 0 25px;
    text-align: left;
}

.user-info-box .inner > .column.order, .user-info-box .inner > .column.coupon, .user-info-box .inner > .column.point {
    width: 15.45%
}

.user-info-box .inner > .column + .column {
    border-left: 4px solid #F8F8F8
}

.user-info-box .inner > .column.user-info {
    position: relative;
    /*width:588px; width:53.45%;*/
    padding: 25px
}

.user-info-box .user-info .img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    padding: 8px 0 7px;
    position: relative;
}

.user-info-box .user-info .img .user-tag-location-btn {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 2px;
    white-space: nowrap;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}
.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    font-weight: 400;
}

.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 6px solid transparent;
    border-left-color: #556180;
    border-top-color: #556180;
    position: absolute;
    left: 23px;
    top: 0;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
}
.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn strong {
    font-weight: 600;
    color: #54defc;
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.user-info-box .user-info .img .user-tag-location-btn .user-tag-location-inn strong::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-top: 2px solid #54defc;
    border-right: 2px solid #54defc;
}

.user-info-box .user-info .txt {
    display: inline-block;
    vertical-align: middle;
}

.user-info-box .user-info .txt .greeting {
    font-size: 20px;
    font-weight: 400;
    position: relative;
}
.user-info-box .user-info .txt .greeting .name {
    font-weight: 700
}

.user-info-box .user-info .sep-list.type3 li {
    font-size: 13px;
    line-height: 15px;
}

.user-info-box .user-info .sep-list.type3 li .ico-arr-right {
    transform: translateY(2px);
}
.user-info-box .user-info .sep-list.type3 li .ico-arr-right::before {
    width: 40%;
    height: 40%;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-50%) rotate(45deg);
    box-shadow: none;
    background-color: transparent;
}

.user-info-box .user-info .level-tip {
    color: #ff6001;
    font-size: 13px;
}
.user-info-box .user-info .level-tip .ico-arr-right {
    color: #ff6001;
    vertical-align: middle;
    margin-top: -2px;
}


.level-tip .ico-arr-right:after, .level-tip .ico-arr-right:before {
    background-color: #ff6001;
    box-shadow: none
}


.user-info-box .user-info .sep-list.type3 li .ico-bl-crown {
    margin-top: -4px;
    vertical-align: middle;
}


.user-info-box .user-info .user-info-list.type3 {
    overflow: visible;
}

.user-info-box .user-info .user-info-list.type3:after {
    display: block;
    clear: both;
    content: '';
}

.user-info-box .column > dt {
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
}

.user-info-box .column > dd {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    word-break: keep-all;
    max-width: 200px;
    display: block
}

.user-info-box .column > dd .num {
    font-size: 28px;
}


/* 간격 */
.user-info-box .user-info .txt .greeting ~ .sep-list.type3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.user-info-box .user-info .txt .sep-list.type3 ~ .level-tip {
    margin-top: 5px;
}



/* 쿠폰 슬라이드 타이틀 영역 */
[class*="ico-cou-level"] {
    display: inline-block;
    width: 60px;
    height: 62px;
    background: url('img/ico_cou_level.png') 0 0;
}


.ico-cou-level04 {
    background-position: 0 -210px;
}


.layer-wrap.layer-usertag .layer-pop {
    border-radius: 8px;
    height: 680px;
    width: 460px;
}

.layer-wrap.layer-usertag .layer-pop .layer-inner {
    height: 100%;
}

.layer-wrap.layer-usertag .layer-pop .layer-inner .layer-head {
    padding: 30px;
}
.layer-wrap.layer-usertag .layer-pop .layer-inner .layer-head .layer-pop-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
}

.layer-wrap.layer-usertag [class^="btn-x-"] {
    height: 38px;
    padding: 10px;
    top: calc((21px + 30px * 2 )/ 2);
    transform: translateY(-50%);
    right: 20px;
}
.layer-wrap.layer-usertag [class^="btn-x-"] [class^="ico-x-"] {
    width: 18px;
    height: 18px;
}

.layer-wrap.layer-usertag .layer-pop .layer-body {
    height: calc(100% - (21px + 30px * 2));
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
}

.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-inn {
    width: calc(100% + 26px * 2);
    margin-left: -26px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 18px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #E6E6E6 #FFFFFF;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-btn-group {
    display: flex;
    width: 100%;
    gap: 8px;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-btn-group [class*="btn-basic-"] {
    width: 100%;
}

.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-img {
    width: 300px;
    margin: 0 auto 30px;
}


.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group {
    padding: 0 26px;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi + .layer-usertag-defi {
    margin-top: 20px;
}

.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi dt {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #ff6001;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi dd {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.layer-wrap.layer-usertag .layer-pop .layer-body .layer-usertag-desc-group .layer-usertag-defi dd strong {
    font-size: 18px;
    font-weight: 700;
}
/* aside-menu (마이페이지, 고객센터 공통) */
.aside-menu-wrap {
    width: 220px
}

.aside-menu {
    padding: 10px 24px;
    border: 1px solid #E6E6E6;
}
.aside-menu .menu-list > li {
    padding: 15px 0;
    border-top: 1px solid #eee
}
.aside-menu .menu-list > li:first-child {
    border-top: 0;
}
.aside-menu .menu-list > li .menu {
    font-size: 15px;
    color: #000;
    font-weight: 500;
}
.aside-menu .menu-list > li .depth2 {
    margin-top: 8px;
}
.aside-menu .menu-list > li .depth2 > li {
    font-size: 14px;
    color: #666;
}
.aside-menu .menu-list > li .depth2 > li .sub {
    color: #999;
    font-size: 12px;
}

.aside-menu .menu-list > li .depth2 > li + li {
    margin-top: 8px
}
.aside-menu .menu-list > li .depth2 > li.current > a {
     color: #FF6001;
     font-weight: 500
 }

.aside-link-box {
    border: 1px solid #E6E6E6;
    margin-top: 20px;
    padding: 18px 20px;
}

.aside-link-box > a {
    display: block;
    position: relative;
    color: #000;
    font-size: 15px;
}
.aside-link-box > a .ico-bl-speaker {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
}
.aside-link-box > a .ico-arr-right {
    position: absolute;
    right: 0;
    top: 5px
}
.aside-link-box > a [class*="ico-arr-"]:after, .aside-link-box > a [class*="ico-arr-"]:before {
    background: #666
}

.head-mypage ~ .frame-sm {
    margin-top: 45px;
}

.board-form.type2 .attach-file-line th, .board-form.type2 .attach-file-line td {
    padding: 0 0 18px;
    border-top: 0
}
.div-attach-thumb {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    background: #f8f8f8;
    border: 1px solid #e6e6e6;
}


.btn-attach-thumb {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 68px;
    height: 68px;
    padding: 22px;
}

.accordion-list {
    border-bottom: 1px solid #bbb
}

.accordion-list > li > .title-div {
    position: relative;
    display: block;
    padding: 24px 150px 20px 0;
    cursor: pointer;
}

.accordion-list > li > .title-div .right {
    position: absolute;
    top: 24px;
    right: 15px;
    color: #999
}

.accordion-list .title-div .subject [class^="state-"] {
    vertical-align: top;
}

.accordion-list .title-div .classify {
    display: inline-block;
    color: #FB5001;
    vertical-align: top;
    margin: 0 3px
}
.accordion-list .title-div .txt {
    display: inline-block;
    vertical-align: top;
    max-width: 75%;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
}


.accordion-list .active .title-div .txt {
    white-space: normal;
    overflow: visible;
}

.accordion-list .title-div .right .date {
    color: #666;
    margin-right: 30px;
}
.accordion-list .title-div .right [class*="ico-arr-"] {
    width: 15px;
    height: 15px;
}
.accordion-list .question .detail-div {
    padding: 30px 25px;
    background: #F8F8F8;
    border-top: 1px solid #E9E9E9;
}
.accordion-list .question .detail-div .txt {
    line-height: 24px;
}

.question .detail-div .bottom {
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    min-height: 18px
}

.question .detail-div .bottom .added-file {
    float: left;
    color: #666
}


.question .detail-div .bottom .added-file .thum-list {
    font-size: 0
}

.answer .bottom {
    margin-top: 15px
}
.answer .bottom .added-file .thum-list {
    font-size: 0
}

.accordion-list .answer {
    position: relative;
    padding: 30px 25px 30px 50px;
    background: #F8F8F8;
}
.accordion-list .answer:before {
    display: block;
    content: '';
    position: absolute;
    top: 34px;
    left: 30px;
    width: 10px;
    height: 16px;
    background: url("img/ico_bullet.png") -150px 0
}

.accordion-list .answer .info .name {
    color: #000;
    font-weight: 500;
    margin-right: 10px;
}
.accordion-list .answer .info .date {
    color: #999;
}
.accordion-list .answer .txt {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}
.ui-accordion-view {
    position: relative;
}
.ui-accordion-view .question ~ .answer {
    margin-top: 2px;
}
