<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="6671c50e-2136-4b8f-840e-11b85abe3866"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>

    <meta property="og:title" content="랭킹닭1컴">
    <meta property="og:description" content="No.1 닭가슴살 순위스토어,닭가슴살 식단,헬스,훈제,소세지,추천 요리법">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.rankingdak.com/">
    <meta property="og:image" content="https://file.rankingdak.com/rankingdak_og.jpg">
    <meta name="referrer" content="unsafe-url">
    <meta name="facebook-domain-verification" content="n9wxauvvyf2hn7mnw0h7h78b8s6ade">
    <meta name="naver-site-verification" content="f49456f63ff3a881b3c179737e504259c28307f8"/>
    <!-- ======================== 공통 CSS / JS ======================== -->
    <link rel="stylesheet" href="../header-footer/header-footer.css">
    <link rel="stylesheet" href="../../static/css/board/board.css">
    <link rel="icon" href="https://www.rankingdak.com/resources/pc/images/icon/favicon.ico">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../static/js/board/board.js"></script>
    <!-- 서머노트를 위해 추가해야할 부분 -->
    <script src="../summernote/summernote-lite.js"></script>
    <script src="../summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="../summernote/summernote-lite.css">
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                minHeight: 250,
                maxHeight: null,
                lang: "ko-KR"
            });
        });

        /****** 아코디언 ******/
        function accordionList() {
            var listWrap = $('.ui-accordion').children('.ui-accordion-list'),
                click = listWrap.children('li').find('.ui-accordion-click');

            click.on('click', function () {
                var view = $(this).next('.ui-accordion-view'),
                    list = $(this).parent('li');

                if (!list.hasClass('active')) {
                    list.addClass('active').siblings('li').removeClass('active').find('.ui-accordion-view').addClass('hide');
                    view.removeClass('hide')
                } else if (list.hasClass('active')) {
                    list.removeClass('active');
                    view.addClass('hide')
                }
            });
        }
    </script>
    <!--헤더 푸터 로드 -->
    <script src="../header-footer/header-footer.js"></script>

    <title>랭킹닭컴 </title></head>
<body>
<header>
    <div id="header"></div>
</header>
<!--// ========== 공통 헤더 :: header ========== -->

<!-- ========== 컨텐츠 영역 :: container ========== -->
<section id="contents" class="container">

    <div class="content-wrap">
        <div class="frame-full head-mypage">
            <h2 class="blind">마이페이지</h2>
            <div class="user-info-box">
                <div class="inner">
                    <div class="column user-info">
            <span class="img">
                <i class="ico-cou-level04"></i>
                <a href="/member/userTag/intro" class="user-tag-location-btn">
                            <span class="user-tag-location-inn">나의 식단 유형은? <strong>테스트 하러가기</strong></span>
                        </a>
                    </span>
                        <div class="txt">
                            <p class="greeting">
                                <strong class="name">inho93</strong>님 반갑습니다
                            </p>
                            <ul class="sep-list user-info-list type3">
                                <li><a href="/mypage/memberBenefitsInfo"><i class="ico-bl-crown"></i> 오렌지 닭부장<i
                                        class="ico-arr-right"></i></a></li>
                                <li id="groupPointRateText"><a href="/mypage/memberBenefitsInfo">2% 적립</a></li>
                            </ul>
                            <p class="level-tip"><a href="/mypage/orangeMember">멤버십기간 <span id="orangeEndDtText">2023.09.28</span>까지<i
                                    class="ico-arr-right"></i></a></p>
                        </div>
                    </div><!--// user-info -->
                    <dl class="column order">
                        <dt>주문/배송</dt>
                        <dd><a href="/mypage/orderlist"><strong class="num" id="orderCountText">1</strong>건</a></dd>
                    </dl><!--// order -->
                    <dl class="column coupon">
                        <dt>쿠폰</dt>
                        <dd><a href="/mypage/myCoupon"><strong class="num" id="couponCountText">0</strong>개</a></dd>
                    </dl><!--// coupon -->
                    <dl class="column point">
                        <dt>포인트</dt>
                        <dd class="text-primary"><a href="/mypage/myPoint"><strong class="num"
                                                                                   id="totalUnusedPointText">3,142</strong>P</a>
                        </dd>
                    </dl><!--// point -->
                </div><!--// inner -->
            </div><!--// user-info-box -->

            <div class="layer-wrap layer-usertag" id="usertag-popup">
                <div class="layer-pop">
                    <div class="layer-inner">
                        <div class="layer-head">
                            <h4 class="layer-pop-title">나의 식단 유형</h4>
                        </div>
                        <div class="layer-body">
                            <div class="layer-usertag-inn">
                                <div class="layer-usertag-img">
                                    <img id="researchImg" src="../../static/img/board/usertag-simpler.jpg" alt="간편식 러버">
                                </div>
                                <div class="layer-usertag-desc-group">
                                    <dl class="layer-usertag-defi">
                                        <dt>유형별 한마디</dt>
                                        <dd><strong id="researchTxt1">"밥보다 시간!"</strong></dd>
                                    </dl>
                                    <dl class="layer-usertag-defi">
                                        <dt>유형 소개</dt>
                                        <dd id="researchTxt2">혹시 도시락 찾으러 오셨어요? 편하고 빠른 식사를 선호해요.</dd>
                                    </dl>
                                    <dl class="layer-usertag-defi">
                                        <dt>랭닭 이용 꿀팁</dt>
                                        <dd id="researchTxt3">홈화면 [랭킹]메뉴의 [별별랭킹] 카테고리에서 상황에 맞는 다양한 꿀조합을 소개 받아요!</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="layer-usertag-btn-group">
                                <a href="/member/userTag/intro" class="btn-basic-lg2 btn-default">
                                    <span>테스트 다시하기</span>
                                </a>
                                <a href="/promotion/exhibit/userTagList" class="btn-basic-lg2 btn-black">
                                    <span>추천 식단 보러가기</span>
                                </a>
                            </div>
                        </div><!--// layer-body -->
                        <button type="button" class="btn-x-sm ui-close-pop" title="닫기"><i class="ico-x-black"></i><span
                                class="blind">닫기</span></button>
                    </div>
                </div><!--// layer-pop  -->
            </div><!--// layer-pop-wrap #popupSample-02 -->

            <!--            <script>-->
            <!--                $(document).ready(function () {-->
            <!--                    let tagResult = '';-->
            <!--                    let resultObj = {-->
            <!--                        '01':{-->
            <!--                            img:'/resources/pc/images/img/usertag-newbie.jpg',-->
            <!--                            text1:'"여기는 뭐가 맛있어?"',-->
            <!--                            text2:'환영해요! 닭가슴살의 세계에 이제 막 입문했네요!',-->
            <!--                            text3:'내 입맛에 딱 맞는 닭가슴살 찾고 있다면, 홈화면의 [1팩 담기]에서 여러 상품을 한 팩 씩 골라보세요! '-->
            <!--                        },-->
            <!--                        '02':{-->
            <!--                            img:'/resources/pc/images/img/usertag-smart.jpg',-->
            <!--                            text1:'"어? 이거 맛있을까?"',-->
            <!--                            text2:'이 구역의 맛잘알! 하지만 그냥 사진 않죠. 할인 혜택과 후기까지 꼼꼼히 살피고 신중하게 구매해요. ',-->
            <!--                            text3:'홈화면에서 [이달의 특가]를 확인하세요! 매달 새로운 맛과 혜택으로 찾아갑니다!'-->
            <!--                        },-->
            <!--                        '03':{-->
            <!--                            img:'/resources/pc/images/img/usertag-maint.jpg',-->
            <!--                            text1:'"다이어트는 꾸준히 해야죠~"',-->
            <!--                            text2:'타이트하기 보단 꾸준히 실천할 수 있는 식단을 선호해요. 맛있으면서도 단백질, 당류 등 성분은 꼭 체크하는 진짜 다이어터! ',-->
            <!--                            text3:'맛도 성분도 한 번에 비교하려면 최근 본 상품에서 [비교담기] 서비스를 이용해보세요!'-->
            <!--                        },-->
            <!--                        '04':{-->
            <!--                            img:'/resources/pc/images/img/usertag-mania.jpg',-->
            <!--                            text1:'"먹다보면 다~ 맛있어"',-->
            <!--                            text2:'다이어트에서 효율을 아주 중시해요. 때로 지겹더라도 끈기있는 실천이 다이어트의 지름길이라고 생각해요.',-->
            <!--                            text3:'[오렌지멤버스]에 가입하고, 살 때마다 추가할인&적립 받아요!'-->
            <!--                        },-->
            <!--                        '05':{-->
            <!--                            img:'/resources/pc/images/img/usertag-frenz.jpg',-->
            <!--                            text1:'"저는 그냥 랭닭에서 사요"',-->
            <!--                            text2:'식단은 이미 일상이에요. 오랜 경험으로 믿고 먹는, 믿고 추천하는 제품들이 있어요.',-->
            <!--                            text3:'꾸준히 먹는 제품은 [정기구매] 서비스를 통해서 추가할인 받아보세요!'-->
            <!--                        },-->
            <!--                        '06':{-->
            <!--                            img:'/resources/pc/images/img/usertag-standard.jpg',-->
            <!--                            text1:'"저는 그냥 정석대로 먹는 편?"',-->
            <!--                            text2:'대회, 바디프로필 등 명확한 목표를 갖고 식단을 하고 있어요. 건강기능식품부터 다이어트 간식까지 다이어트 제품에 대해서는 빠삭해요!',-->
            <!--                            text3:'식단은 하루라도 놓칠 수 없어! [특급배송]으로 빠르게 받아 완벽한 식단 텐션을 유지하세요!'-->
            <!--                        },-->
            <!--                        '07':{-->
            <!--                            img:'/resources/pc/images/img/usertag-simpler.jpg',-->
            <!--                            text1:'"밥보다 시간!"',-->
            <!--                            text2:'혹시 도시락 찾으러 오셨어요? 편하고 빠른 식사를 선호해요.',-->
            <!--                            text3:'홈화면 [랭킹]메뉴의 [별별랭킹] 카테고리에서 상황에 맞는 다양한 꿀조합을 소개 받아요!'-->
            <!--                        },-->
            <!--                    };-->
            <!--                    let userTag = '';-->
            <!--                    if(isEmpty(userTag) == false){-->
            <!--                        let userTagType = '';-->
            <!--                        for (const key in resultObj) {-->
            <!--                            if (key === userTagType) {-->
            <!--                                tagResult = resultObj[key];-->
            <!--                                break;-->
            <!--                            };-->
            <!--                        };-->
            <!--                        $('#researchImg').attr('src',tagResult.img);-->
            <!--                        $('#researchTxt1').text(tagResult.text1);-->
            <!--                        $('#researchTxt2').text(tagResult.text2);-->
            <!--                        $('#researchTxt3').text(tagResult.text3);-->
            <!--                    }-->

            <!--                    const benefitsAlertMsg = '';-->
            <!--                    //혜택 쿠폰 alert 메시지-->
            <!--                    if(isEmpty(benefitsAlertMsg) == false){-->
            <!--                        alert(benefitsAlertMsg);-->
            <!--                    }-->
            <!--                });

                   </script>-->
        </div>
        <div class="frame-sm">
            <div class="frame-left">
                <div class="aside-menu-wrap">
                    <nav class="aside-menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/mypage/orderlist" class="menu">주문관리</a>
                                <ul class="depth2">
                                    <li><a href="/mypage/orderlist">주문내역</a></li>
                                    <li class=""><a href="/mypage/oldOrderlist">이전 주문내역<span
                                            class="sub">(22.04.24 이전)</span></a></li>
                                    <li><a href="/mypage/cancellist">취소/반품 내역</a></li>
                                    <li class=""><a href="/mypage/routineDelivery">정기배송 관리</a></li>
                                    <li class=""><a href="/mypage/restock/list">재입고 알림 상품</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu">혜택관리</a>
                                <ul class="depth2">
                                    <li class=""><a href="/mypage/myCoupon">쿠폰</a></li>
                                    <li class=""><a href="/mypage/myPoint">포인트</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu">활동관리</a>
                                <ul class="depth2">
                                    <li class=""><a href="/mypage/recentProduct/list">최근 본 상품</a></li>
                                    <li class=><a href="/mypage/wish/list">찜한상품</a></li>
                                    <li class=><a href="/mypage/wishBrand/list">관심브랜드</a></li>
                                    <li class="current"><a href="/mypage/userCounsel/list">1:1문의</a></li>
                                    <!-- 활성화될 경우 li에 addClass current  -->
                                    <li><a href="/mypage/prodReview/list">상품후기</a></li>
                                    <!-- 활성화될 경우 li에 addClass current  -->
                                    <li><a href="/mypage/prodCounsel/list">상품문의내역</a></li>
                                    <!-- 활성화될 경우 li에 addClass current  -->
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu">식단상담</a>
                                <ul class="depth2">
                                    <li><a href="/mypage/dietManage/list">식단상담 목록</a></li>
                                    <!-- 활성화될 경우 li에 addClass current  -->
                                    <li><a href="/mypage/dietManage/app">식단상담 등록</a></li>
                                    <!-- 활성화될 경우 li에 addClass current  -->
                                </ul>
                            </li>
                            <li>
                                <a href="" class="menu goVipView">VIP전용관</a>
                            </li>
                            <li class="">
                                <a href="/mypage/orangeMember" class="menu">오렌지멤버스</a>
                            </li>
                            <li>
                                <a href="/mypage/delivery" class="menu">회원정보관리</a>
                                <ul class="depth2">
                                    <li class=""><a href="/mypage/delivery">배송지 관리</a></li>
                                    <li><a href="/mypage/info/mypage">정보수정</a></li>
                                    <!-- 활성화될 경우 li에 addClass current  -->
                                </ul>
                            </li>
                        </ul>
                    </nav><!--// menu-mypage -->
                    <div class="aside-link-box">
                        <a href="/service/voc"><i class="ico-bl-speaker"></i><span>고객의 소리</span><i
                                class="ico-arr-right"></i></a>
                    </div>
                </div><!--// aside-menu-wrap -->
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    /*setCurrnetMenuCss();*/

                    $(".goVipView").click(function (e) {
                        e.preventDefault();
                        cmAjax({
                            url: "/mypage/vip/checkTargetAjax"
                            , type: "POST"
                            , dataType: "json"
                            , success: function (data) {

                                if (data.status == "succ") {
                                    if (data.message == "Y") {
                                        document.location.href = "/mypage/vip/list";
                                        return;
                                    } else {
                                        alert(data.message);
                                        return false;
                                    }
                                } else {
                                    return false;
                                }
                            }
                        });
                    });
                });

                function setCurrnetMenuCss() {
                    const pathUrl = window.location.pathname;
                    $('.menu-list').find('li').removeClass('current');
                    $('.menu-list').find('a').each(function () {
                        if (pathUrl.indexOf($(this).attr('href')) > -1) {
                            $(this).parent('li').addClass('current')
                        }
                    });
                }
            </script>
            <!--            <script src="/resources/common/js/cm_jfupload.js?ver=20220921"></script>-->
            <!--            <script src="/resources/common/js/lib/jquery.fileupload.js"></script>-->
            <!--            <script src="/resources/common/js/lib/jquery.fileupload-ui.js"></script>-->
            <!--            <script src="/resources/common/js/lib/jquery.fileupload-process.js"></script>-->
            <!--            <script src="/resources/common/js/lib/jquery.fileupload-validate.js"></script>-->
            <script type="text/javascript">
                var cnt = 0;

                $(document).ready(function () {
                    addBtnEvent();
                    init();

                    $("#vQuestionCont").on("change", function (event) {
                        var content = $(this).val();
                        $('#counter').html(content.length);
                        if (content.length > 1000) {
                            $("#vQuestionCont").val(content.substr(0, 1000));
                        }
                    })
                    $('#vQuestionCont').keyup(function (e) {
                        var content = $(this).val();
                        if (content.length > 1000) {
                            content = content.substr(0, 1000);
                            $("#vQuestionCont").val(content);
                        }
                        $('#counter').html(content.length);
                    })
                });

                function addBtnEvent() {
                    // 팝업
                    $(".btn_orderProduct").unbind("click").click(function (event) {
                        event.preventDefault();

                        $('#orderProductPopUp').load('/mypage/userCounsel/selectCounselOrderProductPop?siteCd=' + $('select[name="siteCd"]').val(), function () {
                            if (cnt == 0) {
                                toggleCnt();
                                customScroll();
                                cnt++;
                            }
                            var scrollValue = $('body').scrollTop();
                            $('body').css({'overflow': 'hidden'}).scrollTop(scrollValue);

                        });
                    });


                    // 커스텀 셀렉트 선택시 이벤트 처리
                    const counselType = $('#counselRegFrm').find('.select-list').find('li').children('a');
                    counselType.on('click', function (e) {
                        console.log($(this).parents('li').data('name'));
                        if ($(this).parents('li').data('name') == "500" || $(this).parents('li').data('name') == "999") {
                            $('#mainPrd').html('');
                            $("#btn_orderProduct").attr("disabled", true);

                        } else {
                            $("#btn_orderProduct").attr("disabled", false);
                        }
                    });
                    // 저장
                    $('.btn_save').on('click', goSave);
                }

                function goSave() {
                    const reqData = {};
                    $('#counselRegFrm').serializeArray().forEach(function (form) {

                        if (form.name != "vQuestionCont" && form.name != "vQuestionTitle") {

                            reqData[form.name] = encodeURIComponent(form.value);
                        }
                    });

                    /*필수 값 체크*/
                    if (!fnChkByte()) {
                        return;
                    }
                    ;
                    if ($("#vCounselType").data("value") == '' || $("#vCounselType").data("value") == null || $("#vCounselType").data("value") == undefined || $("#vCounselType").data("value") == NaN) {
                        alert("문의 유형을 선택해주세요.")
                        return;
                    } else if ($("#vQuestionTitle").val() == '' || $("#vQuestionTitle").val() == null || $("#vQuestionTitle").val() == undefined || $("#vQuestionTitle").val() == NaN) {
                        alert("제목을 입력해주세요.");
                        return
                    } else if ($("#vQuestionCont").val() == '' || $("#vQuestionCont").val() == null || $("#vQuestionCont").val() == undefined || $("#vQuestionCont").val() == NaN) {
                        alert("문의내용을 입력해주세요.");
                        return
                    }

                    function getDataNameList($target) {

                        const result = [];
                        $target.each(function (i, row) {
                            const rowData = {};
                            $('[data-name]', $(row)).each(function (j, data) {
                                rowData[data.dataset.name] = encodeURIComponent(data.value);
                            });
                            result.push(rowData);
                        });

                        return result;
                    }

                    reqData["vCounselType"] = encodeURIComponent($("#vCounselType").data("value"));


                    reqData.userList = getDataNameList($('.targetUserBox input[type="checkbox"]:checked').parent());

                    const param = [];
                    param.push($('#counselRegFrm').serialize());
                    param.push('flagAction=' + reqData.flagAction);
                    param.push('vCounselType=' + $("#vCounselType").data("value"));
                    param.push('json=' + JSON.stringify(reqData));

                    if (confirm("등록 하시겠습니까?")) {
                        cmAjax({
                            url: "/mypage/userCounsel/save"
                            , type: "post"
                            , data: param.join('&')
                            , dataType: "json"
                            , success: function (data) {

                                if (data.status == "succ") {
                                    alert("등록 되었습니다.");
                                    document.location.href = "/mypage/userCounsel/list";
                                } else {
                                    console.log(data.message);
                                    alert("등록 실패");
                                }
                            }
                            , error: function (e) {
                                alert("ajax error!");
                            }
                        });
                    }
                }

                //1000byte check
                function fnChkByte() {
                    var str = $("#vQuestionCont").val();
                    var str_len = str.length;
                    var maxByte = 1000;
                    var rbyte = 0;
                    var rlen = 0;
                    var one_char = "";
                    var str2 = "";

                    for (var i = 0; i < str_len; i++) {
                        one_char = str.charAt(i);
                        if (escape(one_char).length > 4) {
                            rbyte += 2;                                         //한글2Byte
                        } else {
                            rbyte++;                                            //영문 등 나머지 1Byte
                        }
                        if (rbyte <= maxByte) {
                            rlen = i + 1;                                          //return할 문자열 갯수
                        }
                    }
                    if (rbyte > maxByte) {
                        alert("문의내용은 최대 " + maxByte + "byte를 초과할 수 없습니다.")
                        str2 = str.substr(0, rlen);                                  //문자열 자르기
                        $("#vQuestionCont").val(str2);
                        fnChkByte();
                        return false;
                    } else {
                        return true;
                    }
                }

                function init() {
                    if ($("#vCounselType").data("value") == "500" || $("#vCounselType").data("value") == "999") {
                        $("#btn_orderProduct").attr("disabled", true);
                    } else {
                        $("#btn_orderProduct").attr("disabled", false);
                    }
                }

                function delProduct() {
                    $('#mainPrd').html('');
                }


                function fnSetProduct(prdList) {

                    let addHtml = [];

                    $(prdList).each(function (i, e) {


                        var imgPath = e.thumbnailpath + e.thumbnailnm + e.thumbnailext;


                        addHtml.push('<div class="my-order-box" id = "recommPrd" >');

                        addHtml.push('<div class="prd-info-area type-sm">');
                        addHtml.push('<div class="inner">');
                        addHtml.push('<div class="column img">');

                        addHtml.push('<img src="' + "https://file.rankingdak.com" + imgPath + '"  onerror="fnNoImage(this);"/>');

                        addHtml.push('      <input type="hidden" name="VOrderType" value="' + e.ordertype + '" />');
                        addHtml.push('      <input type="hidden" name="vOrdercd" value="' + e.ordercd + '" />');
                        addHtml.push('      <input type="hidden" name="vOrderProdid" value="' + e.orderprodid + '" />');
                        addHtml.push('      <input type="hidden" name="vProductcd" value="' + e.productcd + '" />');
                        addHtml.push('      <input type="hidden" name="vProductnm" value="' + e.productnm + '" />');
                        addHtml.push('      <input type="hidden" name="vOptionNm1" value="' + e.optionnm1 + '" />');
                        addHtml.push('      <input type="hidden" name="vOptionNm2" value="' + e.optionnm2 + '" />');
                        addHtml.push('      <input type="hidden" name="vOptionNm3" value="' + e.optionnm3 + '" />');
                        if (e.prodcnt != null) {
                            addHtml.push('      <input type="hidden" name="nProdCnt" value="' + e.prodcnt + '" />');
                        }
                        if (e.textoption1 != null) {
                            addHtml.push('      <input type="hidden" name="vTextOption1" value="' + e.textoption1 + '" />');
                        }
                        if (e.textoption2 != null) {
                            addHtml.push('      <input type="hidden" name="vTextOption2" value="' + e.textoption2 + '" />');
                        }
                        if (e.textoption3 != null) {
                            addHtml.push('      <input type="hidden" name="vTextOption3" value="' + e.textoption3 + '" />');
                        }
                        if (e.thumbnailpath != null) {
                            addHtml.push('      <input type="hidden" name="vThumbnailPath" value="' + e.thumbnailpath + '" />');
                        }
                        if (e.thumbnailnm != null) {
                            addHtml.push('      <input type="hidden" name="vhumbnailNm" value="' + e.thumbnailnm + '" />');
                        }
                        if (e.thumbnailext != null) {
                            addHtml.push('      <input type="hidden" name="vThumbnailExt" value="' + e.thumbnailext + '" />');
                        }

                        addHtml.push('		</div>');
                        addHtml.push('		<div class="column tit">');
                        addHtml.push('		<p class="tit">');
                        addHtml.push('		</p><p class="order-num">' + e.ordercd + '</p>');
                        addHtml.push('		<a href="../../product/view?productCd=' + e.productcd + '" class="text-elps2">' + e.productnm + '</a>');
                        addHtml.push('		<p></p>');
                        addHtml.push('		</div>');
                        addHtml.push('		</div>');
                        addHtml.push('		</div>');
                        addHtml.push('		<button type="button" class="btn-x-sm btn_del_product" title="" onclick="delProduct();"><i class="ico-x-grey"></i><span class="blind">삭제</span></button>');
                        addHtml.push('		</div>');
                    });

                    $('#mainPrd').html('');
                    $('#mainPrd').append(addHtml.join('\n'));

                }
            </script>

            <script type="text/javascript">

                $(document).ready(function () {
                    addBtnEvent();

                    const openCounselid = '';
                    if ($.isEmptyObject(openCounselid) == false) {

                        console.log($(this).val());
                        const $target = $("li[id=li_" + openCounselid + "]");
                        $target.addClass("active");
                        $target.find('div.hide').removeClass('hide')
                    }
                });

                function addBtnEvent() {
                    $(".btn_update").unbind("click").click(function (event) {
                        event.preventDefault();
                        var cd = $(this).attr("data-cd");

                        console.log()

                        goView(cd);
                    });

                    $(".btn_delete").unbind("click").click(function (event) {
                        event.preventDefault();
                        var cd = $(this).attr("data-cd");
                        deleteCouncel(cd);
                    });
                }

                function goView(cd) {
                    if (cd != null) {
                        location.href = '/mypage/userCounsel/regCouncel?vCounselid=' + cd;
                    } else {
                        location.href = '/mypage/userCounsel/regCouncel';
                    }
                }

                function deleteCouncel(cd) {
                    const param = [];
                    param.push('vCounselid=' + cd);

                    if (confirm("삭제하시겠습니까?")) {
                        cmAjax({
                            url: "/mypage/userCounsel/deleteCouncel"
                            , type: "post"
                            , data: param.join('&')
                            , dataType: "json"
                            , success: function (data) {
                                if (data.status == "succ") {
                                    alert("삭제 되었습니다.");
                                    document.location.href = "/mypage/userCounsel/list";
                                } else {
                                    alert("삭제 실패");
                                }
                            }
                            , error: function (e) {
                                //alert(JSON.stringify(e));
                                alert("ajax error!");
                            }
                        });
                    }
                }

                $(document).ready(function () {
                    $(".thumDtlQuestion").unbind("click").click(function (event) {
                        var cd = $(this).attr("data-cd");
                        $('#thumDtlPop').load('/mypage/userCounsel/selectThumDtlPop?vCounselid=' + cd + '&type=question', function () {
                        });
                    });

                    $(".thumDtlAnswer").unbind("click").click(function (event) {
                        var cd = $(this).attr("data-cd");
                        $('#thumDtlPop').load('/mypage/userCounsel/selectThumDtlPop?vCounselid=' + cd + '&type=answer', function () {
                        });
                    });
                });
            </script>
            <form id="popUpFrm" name="popUpFrm" action="/mypage/userCounsel/regCouncel" method="post">
                <div id="orderProductPopUp"></div>
                <div>
                    <input type="hidden" name="_csrf" value="b10b2301-79a2-4558-a078-7144759aa8ed"/>
                </div>
            </form>
            <form id="frm" name="frm" action="/mypage/userCounsel/list" method="post"><input type="hidden"
                                                                                             name="nowPageNo" value="1">
                <div class="frame-right">
                    <div class="frame-cnt-inner">
                        <div class="menu-title-area">
                            <h3 class="title-menu">1:1 문의</h3>
                        </div><!--// menu-title-area -->

                        <div class="board-list ui-accordion">
                            <ul class="accordion-list ui-accordion-list">

                                <li class="active" id="li_99726"><!-- 활성화시 addClass active -->
                                    <!-- 질문 영역 -->
                                    <a href="javascript:;" class="title-div ui-accordion-click"
                                       onclick="accordionList();">
                                        <div class="subject">
                                            <span class="state-done">답변완료</span>
                                            <span class="classify">[배송관련]</span>
                                            <p class="txt">
                                                <span style="white-space:pre-wrap">보틀주문</span></p>
                                        </div>
                                        <div class="right">
                                            <span class="date">2021.06.18</span>
                                            <i class="ico-arr-toggle"></i>
                                        </div>
                                    </a><!-- title-div -->
                                    <div class="ui-accordion-view">

                                        <div class="question">
                                            <div class="detail-div">
                                                <p class="txt">
                                                    <span style="white-space:pre-wrap">보틀을 주문했는데 1개만배송됬어요</span>
                                                </p>
                                                <div class="bottom">
                                                    <div class="added-file thumDtlQuestion" data-cd="99726">
                                                        <ul class="thum-list">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--// detail-div -->
                                        </div><!--// question :: 질문 영역 -->
                                        <!-- 답변 영역 -->
                                        <div class="answer">
                                            <!--
                                                아이콘이 img 태그로 들어가야 하는 경우 :
                                                <span class="img"><img src="../../images/_samples/@sample_40x40_chracter.png" alt="닭대리" /></span>
                                            -->
                                            <div class="info"><span class="name">닭대리
                                            </span><span class="date">2021.06.18</span></div>
                                            <p class="txt">
                                                <span style="white-space:pre-wrap">안녕하세요 회원님 닭가슴살 감동쇼핑 랭킹닭컴 닭대리입니다.

먼저, 이용에 불편드려서 죄송합니다.
주문처리과정을 확인해보니, 포장과정에서 실수가 있었던 것 같습니다.

누락된 상품은 월요일 출고진행하고, 운송장은 월요일 오후 6시 이후에 문자로 회신드리겠습니다.

추가문의사항이 있으신 경우

고객센터(02-6405-8088)으로 연락주시거나 게시판 또는 사이트하단 오른쪽의 실시간채팅으로

문의주시면 운영시간 내에 빠르게 안내 도와드리겠습니다.



랭킹닭컴을 이용해 주셔서 감사합니다.</span>
                                            </p>
                                            <div class="bottom">
                                                <div class="added-file thumDtlAnswer" data-cd="99726">
                                                    <ul class="thum-list">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!--// answer :: 답변 영역 -->
                                    </div><!--// ui-accordion-view -->
                                </li>
                            </ul>
                        </div><!--// board-accordion -->
                        <div class="page-bottom">
                            <div class="pagination">


                                <script type="text/javascript">
                                    //<![CDATA[
                                    function CmPageMove(pg, size) {
                                        var frm = document.frm;
                                        frm["nowPageNo"].value = pg;

                                        if (size != undefined) {
                                            frm["pageSize"].value = size;
                                        }

                                        frm.submit();
                                    }

                                    //]]>
                                </script>
                                <div class="pagging-wrap page-area">
                                    <div class="page-number">
                                        <div class="pagination mt20">
                                            <a href="javascript:CmPageMove('0')" data-page="0"
                                               class="btn-page prev"><span class="blind">이전</span></a>
                                            <a href="#" class="current"><span>1</span></a>
                                            <a href="javascript:CmPageMove('2')" data-page="2"
                                               class="btn-page next"><span class="blind">다음</span></a>
                                        </div>
                                    </div>

                                </div>
                            </div><!--// pagination -->
                            <div class="right-area">
                                <a href="#" class="btn-basic-md2 btn-default w150" onclick="goView()"><span>문의하기</span></a>
                            </div>
                        </div>
                    </div><!--// frame-cnt-inner -->
                </div><!--// frame-right -->
                <div>
                    <input type="hidden" name="_csrf" value="7e61c0f1-0523-4bdf-9390-05283af840bc">
                </div>
            </form><!--// frame-cnt-inner -->
        </div><!--// frame-right -->
        <div>
            <input type="hidden" name="_csrf" value="b10b2301-79a2-4558-a078-7144759aa8ed"/>
        </div>
        </form></div><!--// frame-sm -->
    </div><!--// content-wrap -->

</section>
<!--// ========== 컨텐츠 영역 :: container ========== -->

<!-- ========== 공통 푸터 :: footer :: include.footer() 영역  ========== -->
<footer>
    <div id="footer"></div>
</footer>


<!--// ========== 공통 푸터 :: footer :: include.footer() 영역  ========== -->

<form id="logoutForm" name="logoutForm" action="/logout" method="post">
    <div>
        <input type="hidden" name="_csrf" value="b10b2301-79a2-4558-a078-7144759aa8ed"/>
    </div>
</form>

</body>
</html>
