/* 테이블 스타일 */
.order-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 주문내역 없음 메시지 스타일 */
.no-data-type1 {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #999;
}