<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--configFragment 선언-->
    <th:block th:fragment="configFragment">

        <!-- Content Page의 CSS fragment 삽입 -->
        <th:block layout:fragment="css">
            <link rel="stylesheet" href="/css/header-footer/header-footer.css">
            <!--  favicon  -->
            <link rel="icon" href="https://www.rankingdak.com/resources/pc/images/icon/favicon.ico">
        </th:block>

        <!-- Content Page의 script fragment 삽입 -->
        <th:block layout:fragment="script">
            <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        </th:block>
        
    </th:block>
</html>