<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block layout:fragment="css">
    <style>
        #content h1 {
            text-align: center;
            margin: 160px;
            font-size: 90px;
        }
    </style>

</th:block>

<body>
<div id="content" layout:fragment="content">
    <h1> 타임리프 테스트~! </h1>
</div>
</body>
</html>