<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefaultLayout}">

<section layout:fragment="adminContent">
    <div id="main_content">
        <main>
            <div class="main_padding">
                <h1 class="main-header">후원 관리</h1>
                <div class="card main-margin">
                    <div class="container">
                        <div class="move">
                            <form method="post">
                                <select class="inner2" id="comCd" name="comCd">
                                    <option>후원자</option>
                                    <option>후원물품</option>
                                    <option>후원금액</option>
                                    <option>후원일자</option>
                                </select>
                                <div class="inner">
                                    <input type="search" id="test">
                                    <img src="/img/admin/icon_search.svg">
                                    <div class="searching">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table id=user_table class="type09">
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th>후원물품</th>
                                <th>후원자</th>
                                <th>후원금액</th>
                                <th>후원일자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="no">1</td>
                                <td>떡갈비 도시락</td>
                                <td>권재언</td>
                                <td>22,000 원</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr>
                                <td class="no">2</td>
                                <td>치킨 도시락</td>
                                <td>이재원</td>
                                <td>22,000 원</td>
                                <td>2023-06-30</td>
                            </tr>
                            <tr>
                                <td class="no">3</td>
                                <td>연어 도시락</td>
                                <td>표창영</td>
                                <td>22,000 원</td>
                                <td>2023-06-29</td>
                            </tr>
                            <tr>
                                <td class="no">4</td>
                                <td>고등어 도시락</td>
                                <td>황인호</td>
                                <td>22,000 원</td>
                                <td>2023-06-29</td>
                            </tr>
                            <tr>
                                <td class="no">5</td>
                                <td>김치 도시락</td>
                                <td>조은솔</td>
                                <td>22,000 원</td>
                                <td>2023-06-29</td>
                            </tr>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
                <div class="page_wrap">
                    <div class="page_nation" style="text-align: center">
                        <a class="changePage">
                            <code><</code>
                        </a>
                        <a class="changePage">1</a>
                        <a class="changePage">2</a>
                        <a class="changePage">3</a>
                        <a class="changePage">
                            <code>></code>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <br>
    </div>
</section>
</html>
