<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/myPage/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/myPage/css/content.css}">
  <link rel="stylesheet" th:href="@{/css/myPage/css/regular.css}">
</th:block>

<section layout:fragment="content">

  <div class="content-wrap">
    <div class="frame-full head-mypage">
      <h2 class="blind">마이페이지</h2>
      <div class="user-info-box">
        <div class="inner">
          <div class="column user-info">
            <span class="img">
                <i class="ico-cou-level01"></i>
                <a href="/member/userTag/intro" class="user-tag-location-btn">
                            <span class="user-tag-location-inn">나의 식단 유형은? <strong>테스트 하러가기</strong></span>
                        </a>
                    </span>
            <div class="txt">
              <p class="greeting">
                <strong class="name">표창영</strong>님 반갑습니다
              </p>
              <ul class="sep-list user-info-list type3">
                <li><!--<i class="ico-bl-crown"></i>--> <a href="/mypage/memberBenefitsInfo">닭대리<i class="ico-arr-right"></i></a></li>
                <li id="groupPointRateText"><a href="/mypage/memberBenefitsInfo">1% 적립</a></li>
                <li class="orange-entryItem">
                  <a href="/mypage/orangeMember">
                    <span class="entry-tooltip">+3% 추가적립!</span>
                  </a>
                </li>
              </ul>
              <p class="level-tip" id="levelUpText"><a href="/mypage/memberBenefitsInfo">83,000원 더 구매 시, 닭과장 진급!</a></p>
            </div>
          </div><!--// user-info -->
          <dl class="column order">
            <dt>주문/배송</dt>
            <dd><a href="/mypage/orderlist"><strong class="num" id="orderCountText">0</strong>건</a></dd>
          </dl><!--// order -->
          <dl class="column coupon">
            <dt>쿠폰</dt>
            <dd><a href="/mypage/myCoupon"><strong class="num" id="couponCountText">0</strong>개</a></dd>
          </dl><!--// coupon -->
          <dl class="column point">
            <dt>포인트</dt>
            <dd class="text-primary"><a href="/mypage/myPoint"><strong class="num" id="totalUnusedPointText">1,370</strong>P</a></dd>
          </dl><!--// point -->
        </div><!--// inner -->
      </div><!--// user-info-box -->

      <div class="layer-wrap layer-usertag" id="usertag-popup">
        <div class="layer-pop">
          <div class="layer-inner">
            <div class="layer-head">
              <h4 class="layer-pop-title">나의 식단 유형</h4>
            </div>
            <div class="layer-body">
              <div class="layer-usertag-inn">
                <div class="layer-usertag-img">
                  <img id="researchImg" th:src="@{/css/myPage/images/usertag-simpler.jpg}" alt="간편식 러버">
                </div>
                <div class="layer-usertag-desc-group">
                  <dl class="layer-usertag-defi">
                    <dt>유형별 한마디</dt>
                    <dd><strong id="researchTxt1">"밥보다 시간!"</strong></dd>
                  </dl>
                  <dl class="layer-usertag-defi">
                    <dt>유형 소개</dt>
                    <dd id="researchTxt2">혹시 도시락 찾으러 오셨어요? 편하고 빠른 식사를 선호해요.</dd>
                  </dl>
                  <dl class="layer-usertag-defi">
                    <dt>랭닭 이용 꿀팁</dt>
                    <dd id="researchTxt3">홈화면 [랭킹]메뉴의 [별별랭킹] 카테고리에서 상황에 맞는 다양한 꿀조합을 소개 받아요!</dd>
                  </dl>
                </div>
              </div>
              <div class="layer-usertag-btn-group">
                <a href="/member/userTag/intro" class="btn-basic-lg2 btn-default">
                  <span>테스트 다시하기</span>
                </a>
                <a href="/promotion/exhibit/userTagList" id="researchTag" class="btn-basic-lg2 btn-black">
                  <span>추천 식단 보러가기</span>
                </a>
              </div>
            </div><!--// layer-body -->
            <button type="button" class="btn-x-sm ui-close-pop" title="닫기"><i class="ico-x-black"></i><span class="blind">닫기</span></button>
          </div>
        </div><!--// layer-pop  -->
      </div><!--// layer-pop-wrap #popupSample-02 -->

      <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
          let tagResult = '';
          let resultObj = {
            '01': {
              img: '/css/myPage/images/usertag-newbie.jpg',
              text1: '"여기는 뭐가 맛있어?"',
              text2: '환영해요! 닭가슴살의 세계에 이제 막 입문했네요!',
              text3: '내 입맛에 딱 맞는 닭가슴살 찾고 있다면, 홈화면의 [1팩 담기]에서 여러 상품을 한 팩 씩 골라보세요! ',
              tag: '',
              type: '01'
            },
            '02': {
              img: '/css/myPage/images/usertag-smart.jpg',
              text1: '"어? 이거 맛있을까?"',
              text2: '이 구역의 맛잘알! 하지만 그냥 사진 않죠. 할인 혜택과 후기까지 꼼꼼히 살피고 신중하게 구매해요. ',
              text3: '홈화면에서 [이달의 특가]를 확인하세요! 매달 새로운 맛과 혜택으로 찾아갑니다!',
              tag: '',
              type: '02'
            },
            '03': {
              img: '/css/myPage/images/usertag-maint.jpg',
              text1: '"다이어트는 꾸준히 해야죠~"',
              text2: '타이트하기 보단 꾸준히 실천할 수 있는 식단을 선호해요. 맛있으면서도 단백질, 당류 등 성분은 꼭 체크하는 진짜 다이어터! ',
              text3: '맛도 성분도 한 번에 비교하려면 최근 본 상품에서 [비교담기] 서비스를 이용해보세요!',
              tag: '',
              type: '03'
            },
            '04': {
              img: '/css/myPage/images/usertag-mania.jpg',
              text1: '"먹다보면 다~ 맛있어"',
              text2: '다이어트에서 효율을 아주 중시해요. 때로 지겹더라도 끈기있는 실천이 다이어트의 지름길이라고 생각해요.',
              text3: '[오렌지멤버스]에 가입하고, 살 때마다 추가할인&적립 받아요!',
              tag: '',
              type: '04'
            },
            '05': {
              img: '/css/myPage/images/usertag-frenz.jpg',
              text1: '"저는 그냥 랭닭에서 사요"',
              text2: '식단은 이미 일상이에요. 오랜 경험으로 믿고 먹는, 믿고 추천하는 제품들이 있어요.',
              text3: '꾸준히 먹는 제품은 [정기구매] 서비스를 통해서 추가할인 받아보세요!',
              tag: '',
              type: '05'
            },
            '06': {
              img: '/css/myPage/images/usertag-standard.jpg',
              text1: '"저는 그냥 정석대로 먹는 편?"',
              text2: '대회, 바디프로필 등 명확한 목표를 갖고 식단을 하고 있어요. 건강기능식품부터 다이어트 간식까지 다이어트 제품에 대해서는 빠삭해요!',
              text3: '식단은 하루라도 놓칠 수 없어! [특급배송]으로 빠르게 받아 완벽한 식단 텐션을 유지하세요!',
              tag: '',
              type: '06'
            },
            '07': {
              img: '/css/myPage/images/usertag-simpler.jpg',
              text1: '"밥보다 시간!"',
              text2: '혹시 도시락 찾으러 오셨어요? 편하고 빠른 식사를 선호해요.',
              text3: '홈화면 [랭킹]메뉴의 [별별랭킹] 카테고리에서 상황에 맞는 다양한 꿀조합을 소개 받아요!',
              tag: '',
              type: '07'
            },
          };

        let userTagExhibitionList = JSON.parse('[{v_exhibition_cd=EX202306230000000247, n_sort=7, v_exhibition_nm=간편식 러버, v_ex_name=07, n_num=1}, {v_exhibition_cd=EX202306230000000245, n_sort=6, v_exhibition_nm=스마트 다이어터, v_ex_name=02, n_num=2}, {v_exhibition_cd=EX202306220000000241, n_sort=5, v_exhibition_nm=닭가슴살 뉴비, v_ex_name=01, n_num=3}, {v_exhibition_cd=EX202306230000000242, n_sort=4, v_exhibition_nm=랭닭 프렌즈, v_ex_name=05, n_num=4}, {v_exhibition_cd=EX202306230000000243, n_sort=3, v_exhibition_nm=유지어터, v_ex_name=03, n_num=5}, {v_exhibition_cd=EX202306230000000244, n_sort=2, v_exhibition_nm=헬스 매니아, v_ex_name=04, n_num=6}, {v_exhibition_cd=EX202306230000000246, n_sort=1, v_exhibition_nm=다이어트의 정석, v_ex_name=06, n_num=7}]');

        if (userTagExhibitionList.length > 0) {
          for (const key in resultObj) {
            if (userTagExhibitionList[0].v_ex_name === resultObj[key].type) {
              resultObj[key]['tag'] = "#special-div" + userTagExhibitionList[0].n_num;
            }
          }
        }

          document.addEventListener("DOMContentLoaded", function() {
            let tagResult = null; // tagResult 초기값을 null로 설정
            let userTag = ''; // userTag 변수 초기화

            const benefitsAlertMsg = ''; // benefitsAlertMsg 초기화

            // userTagExhibitionList 처리
            if (userTagExhibitionList.length > 0) {
              const userTagType = userTagExhibitionList[0].v_ex_name;
              tagResult = resultObj[userTagType]; // userTagType에 맞는 데이터를 tagResult에 할당
              userTag = userTagType; // userTag 변수에 userTagType 할당
            }

            // tagResult 데이터를 UI에 적용하는 부분
            if (tagResult) {
              $('#researchImg').attr('src', tagResult.img);
              $('#researchTxt1').text(tagResult.text1);
              $('#researchTxt2').text(tagResult.text2);
              $('#researchTxt3').text(tagResult.text3);
              $('#researchTag').attr('href', "/promotion/exhibit/userTagList" + tagResult.tag);
            }

            // 혜택 쿠폰 alert 메시지
            if (benefitsAlertMsg) {
              alert(benefitsAlertMsg);
            }

            // 포인트 알림창 표시
            if (get_cookie("closePoint") !== "done") {
              pointAlert();
            }
          });

        });

      </script>
    </div>
    <div class="frame-sm">
      <div class="frame-left">
        <div class="aside-menu-wrap">
          <nav class="aside-menu">
            <ul class="menu-list">
              <li>
                <a href="/mypage/orderlist" class="menu">주문관리</a>
                <ul class="depth2">
                  <li><a href="/mypage/orderlist">주문내역</a></li>
                  <li class=""><a href="/mypage/oldOrderlist">이전 주문내역<span class="sub">(22.04.24 이전)</span></a></li>
                  <li><a href="/mypage/cancellist">취소/반품 내역</a></li>
                  <li class=""><a href="/mypage/routineDelivery">정기배송 관리</a></li>
                  <li class=""><a href="/mypage/restock/list">재입고 알림 상품</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="menu">혜택관리</a>
                <ul class="depth2">
                  <li class=""><a href="/mypage/myCoupon">쿠폰</a></li>
                  <li class=""><a href="/mypage/myPoint">포인트</a></li>
                  <li class=""><a href="/mypage/giftCard/list">랭킹닭컴 상품권 관리</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
              <li>
                <a href="#" class="menu">활동관리</a>
                <ul class="depth2">
                  <li class=""><a href="/mypage/recentProduct/list">최근 본 상품</a></li>
                  <li class=""><a href="/mypage/wish/list">찜한상품</a></li>
                  <li class=""><a href="/mypage/wishBrand/list">관심브랜드</a></li>
                  <li><a href="/mypage/userCounsel/list">1:1문의</a></li><!-- 활성화될 경우 li에 addClass current  -->
                  <li><a href="/mypage/prodReview/list">상품후기</a></li><!-- 활성화될 경우 li에 addClass current  -->
                  <li><a href="/mypage/prodCounsel/list">상품문의내역</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
              <li>
                <a href="#" class="menu">식단상담</a>
                <ul class="depth2">
                  <li><a href="/mypage/dietManage/list">식단상담 목록</a></li><!-- 활성화될 경우 li에 addClass current  -->
                  <li><a href="/mypage/dietManage/app">식단상담 등록</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
              <li>
                <a href="" class="menu goVipView">VIP전용관</a>
              </li>
              <li class="">
                <a href="/mypage/orangeMember" class="menu">오렌지멤버스</a>
              </li>
              <li>
                <a href="/mypage/delivery" class="menu">회원정보관리</a>
                <ul class="depth2">
                  <li class=""><a href="/mypage/delivery">배송지 관리</a></li>
                  <li><a href="/mypage/info/mypage">정보수정</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
            </ul>
          </nav><!--// menu-mypage -->
          <div class="aside-link-box">
            <a href="/service/voc"><i class="ico-bl-speaker"></i><span>고객의 소리</span><i class="ico-arr-right"></i></a>
          </div>
        </div><!--// aside-menu-wrap -->
      </div>
      <script th:inline="javascript">
        function setCurrnetMenuCss() {
          const pathUrl = [[${#httpServletRequest.requestURI}]];
          const menuList = document.querySelectorAll('.menu-list li');

          menuList.forEach(function (menuItem) {
            const link = menuItem.querySelector('a');
            if (pathUrl.indexOf(link.getAttribute('href')) > -1) {
              menuItem.classList.add('current');
            }
          });
        }

        /* 도큐먼트 로드 시 실행되는 스크립트 */
        document.addEventListener("DOMContentLoaded", function() {
          /* 현재 메뉴에 CSS 클래스 적용 */
          setCurrnetMenuCss();

          /* goVipView 클래스 클릭 이벤트 핸들러 */
          const goVipView = document.querySelector(".goVipView");
          if (goVipView) {
            goVipView.addEventListener("click", function (e) {
              e.preventDefault();
              cmAjax({
                url: "/mypage/vip/checkTargetAjax",
                type: "POST",
                dataType: "json",
                success: function (data) {
                  if (data.status === "succ") {
                    if (data.message === "Y") {
                      document.location.href = "/mypage/vip/list";
                    } else {
                      alert(data.message);
                    }
                  }
                }
              });
            });
          }
        });
      </script>
      <div class="frame-right">
        <div class="frame-cnt-inner">
          <div class="list-title-area">
            <h3 class="title-list">최근 주문내역</h3>
          </div><!--// list-title-area -->

          <!-- [Dev] 20220315 추가 : 오렌지멤버스 만료임박할때 노출 -->
          <div class="order-list-slide">
            <!-- [Dev] 20210909 추가 : 주문내역 없을 경우 -->
            <div class="no-data-type1" th:if="${recentOrderAddresses.isEmpty()}">
              <p class="message">최근 3개월 내에 주문내역이 없습니다.  </p>
            </div>
            <div th:unless="${recentOrderAddresses.isEmpty()}" class = "order-data">
              <ul>
                <li th:each="orderAddress : ${recentOrderAddresses.content}">
                  <p th:text="${orderAddress.orderName}"></p>
                </li>
              </ul>
            </div>
            <div th:if="${recentOrderAddresses.totalPages > 1}">
              <div class="pagination">
                <ul>
                  <li th:each="page : ${#numbers.sequence(0, recentOrderAddresses.totalPages - 1)}">
                    <a th:href="@{/?page=${page}}" th:classappend="${page == recentOrderAddresses.number ? 'active' : ''}"
                       th:text="${page + 1}"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div><!--// order-list-area -->

          <!-- 적립 가능 포인트 없을 경우 노출 -->
          <div class="point-bnr-area">
            <a href="https://www.rankingdak.com/landing/content?cont=orangeJoin">
              <img src="https://file.rankingdak.com/image/RANK/BANNER/AR_IMG_1/20230308/IMG1678MEs239623124.jpg" alt="마이페이지 중앙 띠 배너">
            </a>
          </div>
          <!--// 적립 가능 포인트 없을 경우 노출 -->
          <div class="list-title-area">
            <h3 class="title-list">최근 본 상품</h3>
            <a href="/activity_recently" class="btn-link-txt2"><span>전체보기</span><i class="ico-arr-right"></i></a>
          </div><!--// list-title-area -->

          <div class="grid-list-wrap">
            <div class="no-data-type2">
              <p class="message">최근 본 상품이 없습니다. </p>
            </div>
          </div><!--// grid-list-wrap -->

          <div class="grid-area-span2 gap50">
            <div class="colum">
              <div class="list-title-area">
                <h3 class="title-list">찜한상품</h3>
                <a href="/activity_likes" class="btn-link-txt2"><span>전체보기</span><i class="ico-arr-right"></i></a>
              </div><!--// list-title-area -->
              <div class="order-list-area">
                <div th:if="${likesList.isEmpty()}" class="no-data-type3">
                  <p class="message">찜한 상품이 없습니다. </p>
                </div>
                <div th:unless="${likesList.isEmpty()}">
                  <ul>
                    <li th:each="like : ${likesList}"></li>
                  </ul>
                </div>
              </div><!--// order-list-area -->
            </div><!--// colum -->
            <div class="colum">
              <!-- [Dev] 20210909 수정 : 포인트 > 상품후기 -->
              <div class="list-title-area">
                <h3 class="title-list">상품후기</h3>
                <a href="/activity_review" class="btn-link-txt2"><span>전체보기</span><i class="ico-arr-right"></i></a>
              </div><!--// list-title-area -->
              <div class="order-list-area">
                <!-- [Dev] 20210909 추가 : 상품후기 없을 경우 -->
                <div th:if="${reviews.isEmpty()}" class="no-data-type4">
                  <p class="message">작성 가능한 후기가 없습니다.</p>
                </div>
                <div th:unless="${reviews.isEmpty()}">
                  <ul>
                    <li th:each="review : ${reviews}">
                      <p th:text="${review.reviewContent}"></p>
                      <p>작성자 : <span th:text="${review.member.name}"></span></p>
                      <p>상품명 : <span th:text="${review.lunchbox.name}"></span></p>
                    </li>
                  </ul>
                </div>
              </div><!--// order-list-area -->
            </div><!--// colum -->
          </div><!--// grid-area-span2 -->

          <div class="list-title-area">
            <h3 class="title-list">1:1문의</h3>
            <a href="/mypage/userCounsel/list" class="btn-basic-sm2 btn-black"><span>1:1 문의하기</span></a>
          </div><!--// list-title-area -->

          <div class="board-list">
            <!-- [Dev] 20210909 추가 : 문의하신 사항 없을 경우 -->
            <div class="no-data-type5">
              <p class="message">문의하신 사항이 없습니다.</p>
            </div>
          </div><!--// board-list -->

          <h4 class="blind">기타 상담 문의</h4>
          <div class="grid-area-span2 gap20">
            <div class="colum">
              <div class="box-grey-type1">
                <h5 class="tit-box"><i class="ico-bl-cs"></i><span>실시간 채팅 상담</span></h5>
                <ul class="consulting-time">
                  <li>평일<span class="time">09:00 ~ 21:00</span><div class="lunch">점심<span class="time">12:00 ~ 13:00</span></div></li>
                  <li>토요일<span class="time">09:00 ~ 15:00</span></li>
                  <li>일요일<span class="time">09:00 ~ 21:00</span></li>
                </ul>
              </div><!--// box-grey-type1 -->
            </div><!--// colum -->
            <div class="colum">
              <div class="box-grey-type1">
                <h5 class="tit-box">
                  <i class="ico-bl-tel"></i><span>전화상담</span><i class="ico-arr-right"></i>
                  <em class="tel">02-6405-8088</em>
                </h5>
                <ul class="consulting-time">
                  <li>평일<span class="time">09:00 ~ 18:00</span><div class="lunch">점심<span class="time">12:00 ~ 13:00</span></div></li>
                  <li class="bl-none">주말, 휴일에는 실시간<br>채팅 상담을 이용해주세요.</li>
                </ul>
              </div><!--// box-grey-type1 -->
            </div><!--// colum -->
          </div>
        </div><!--// frame-cnt-inner -->
      </div><!--// content-wrap -->
      <form id="command" name="deliveryPop" action="/mypage/main" method="post"><input type="hidden" name="actionFlag" value="M">
        <input type="hidden" name="vDeliveryid">
        <input type="hidden" name="vOrderCd">
        <div>
          <input type="hidden" name="_csrf" value="cbe10549-11c2-4091-994d-0c82c6378385">
        </div></form><div class="layer-wrap" id="modal-my-delivery" style="display: none"></div>
      <script th:inline="javascript">
        /* member-ext 클래스를 가진 요소 클릭 이벤트 핸들러 */
        $('.member-ext').on('click', function(){
          $('.member-ext').hide();
        });

        /* shippingModifyPop 함수 Thymeleaf 스크립트로 변경 */
        var shippingModifyPop = function(e) {
          e.preventDefault();

          var vOrderCd = $(e.target).parent().find("input[name='vOrderCd']").val();

          var $form = $("form[name='deliveryPop']");
          $form.find("input[name='vOrderCd']").val(vOrderCd);

          $("#modal-my-delivery").load("/mypage/orderlist/shippingModifyPop", $form.serialize(), function() {
            $(this).show();
            selectBox();
          });
        }

        /* fnGoProdReviewDetail 함수 Thymeleaf 스크립트로 변경 */
        function fnGoProdReviewDetail(obj) {
          var prodCd = $(obj).attr("data-prodCd");
          var orderCd = $(obj).attr("data-orderCd");
          var sitecd = $(obj).attr("data-sitecd");
          var optionid = $(obj).attr("data-optionid");
          location.href='/mypage/prodReview/reg?prodCd=' + prodCd + '&ordercd=' + orderCd + '&sitecd=' + sitecd + '&optionid=' + optionid;
        }

        /* postReturn 함수 Thymeleaf 스크립트로 변경 */
        function postReturn(data) {
          var vAddr = '';
          if (data.roadAddr == null) {
            vAddr = data.jibunAddr;
          } else {
            vAddr = data.roadAddr;
          }

          $('#userDeliveryForm input[name=vPostcd]').val(data.zipno);
          $('#userDeliveryForm input[name=vAddr]').val(vAddr);
          openDiv();
        }

        /* openPostSearchForm 함수 Thymeleaf 스크립트로 변경 */
        function openPostSearchForm(nowPageNo) {
          $("#postSearchForm input[name=nowPageNo]").val(nowPageNo);
          var param = $("#postSearchForm");
          $('#jusoDiv').load('/juso/getAddrApi', param.serialize());
        }

        /* openDiv 함수 Thymeleaf 스크립트로 변경 */
        function openDiv(e) {
          $('.hideLayers').hide();
          $('#userDeliveryDiv').show();
        }

        /* purchaseConfirm 함수 Thymeleaf 스크립트로 변경 */
        var purchaseConfirm = function(e) {
          e.preventDefault();

          var $this = $(e.target);
          var vOrderProdid = $this.data("prodid");
          var vOrdercd = $this.data("ordercd");

          if (confirm("구매확정 하시겠습니까?")) {
            cmAjax({
              url: "/mypage/orderlist/orderConfirm",
              type: "post",
              data: {
                "vOrderProdid": vOrderProdid,
                "vOrdercd": vOrdercd
              },
              success: function(res) {
                if (res.status === "succ") {
                  location.reload();
                }
              },
              error: function(err) {
                console.log(err);
              }
            });
          }
        }

        /* openUserDeliveryListPop 함수 Thymeleaf 스크립트로 변경 */
        function openUserDeliveryListPop(e) {
          var vOrdercd = $(e.target).data("ordercd");
          var nDayDlvCnt = $(e.target).data("daydlvcnt");
          $('#modal-my-delivery').load("/order/order/userDeliveryList", function() {
            $("#modal-my-delivery").data("ordercd", vOrdercd);
            $("#modal-my-delivery").data("daydlvcnt", nDayDlvCnt);
          });
          $("#modal-my-delivery").show();
        }

        /* callbackSelectAddr 함수 Thymeleaf 스크립트로 변경 */
        function callbackSelectAddr(obj) {
          let daydlvcnt = $("#modal-my-delivery").data("daydlvcnt");

          if (daydlvcnt > 0 && obj.vExpressYn === 'Y' && obj.vDawnDlvYn === 'Y' && obj.vTodayDlvYn === 'N'){
            alert("선택한 지역으로는 당일배송이 불가능합니다.");
            return;
          }

          var data = {
            "vOrderCd": $("#modal-my-delivery").data("ordercd"),
            "vAddr": obj["vAddr"],
            "vAddrDtl": obj["vAddrDtl"],
            "vDeliveryCell": obj["vDeliveryCell"],
            "vDeliveryCell1": obj["vDeliveryCell1"],
            "vDeliveryCell2": obj["vDeliveryCell2"],
            "vDeliveryNm": obj["vDeliveryNm"],
            "vPostcd": obj["vPostcd"]
          };

          cmAjax({
            url: "/mypage/orderlist/shippingModifyPopSave",
            type: "POST",
            data: data,
            dataType: "json",
            success: function(res) {
              if (res.status === "succ") {
                alert("배송지 정보가 변경되었습니다.");
                closePop();
                location.reload();
              } else {
                alert(res.message);
              }
            }
          });
        }

        /* closePop 함수 Thymeleaf 스크립트로 변경 */
        function closePop() {
          $('#modal-my-delivery').html('');
          $("#modal-my-delivery").hide();
          $('body').removeAttr('style');
        }

        /* saveShipping 함수 Thymeleaf 스크립트로 변경 */
        var saveShipping = function(e) {
          e.preventDefault();

          var $form = $("form[id='userDeliveryForm']");

          var valueByName = getValueByName($form, "vDeliveryNm");
          if (valueByName === "") {
            alert("받는 분을 입력해주세요.");
            return;
          }

          if (getValueByName($form, "vPostcd") === "") {
            alert("우편번호를 입력해주세요.");
            return;
          }

          if (getValueByName($form, "vAddrDtl") === "") {
            alert("상세주소를 입력해주세요.");
            return;
          }

          // getValueByName($form, "vDeliveryCell1") === "" ||
          if (getValueByName($form, "vDeliveryCell2") === "") {
            alert("휴대폰 번호를 입력해 주세요.");
            return;
          }

          var data = $form.serialize();
          cmAjax({
            url: "/mypage/orderlist/shippingModifyPopSave",
            type: "POST",
            data: data,
            dataType: "json",
            success: function(res) {
              deliveryPopClose();
              location.reload();
            }
          });
        }

        /* putBack 함수 Thymeleaf 스크립트로 변경 */
        function putBack(e) {
          e.preventDefault();

          var $this = $(e.target);
          var productCd = $this.data("prodid");
          var optionId = $this.data("optionid");
          var productNm = $this.data("prodnm");
          var imgUrl = $this.data("imageurl");

          var orderArray = [];
          var order = {
            "v_productcd": productCd,
            "n_qty": 1,
            "v_uproductcd": productCd,
            "v_gproductcd": productCd
          };

          if (checkNullOrEmptyValue(optionId)) {
            order['v_optionid'] = optionId;
          }

          orderArray.push(order);

          fnCartInsert("01", orderArray, function(status, cartType) {
            if (status === 'succ') {
              if (confirm("장바구니에 추가하였습니다.\n장바구니로 이동하시겠습니까?")) {
                location.href = "/order/cart";
              }
            } else {
              alert("장바구니 등록 실패");
            }
          }, '');
        }

        /* checkNullOrEmptyValue 함수 Thymeleaf 스크립트로 변경 */
        var checkNullOrEmptyValue = function(parameter) {
          if (parameter === null || parameter === '' || parameter === undefined || parameter === 'null') {
            return false;
          }
          return true;
        };

        /* 도큐먼트 로드 시 실행되는 스크립트 */
        document.addEventListener("DOMContentLoaded", function() {
          $(document)
                  .on("click", ".shipping-modify-btn", openUserDeliveryListPop)
                  .on("click", ".btn-confirmed", purchaseConfirm)
                  // .on("click", ".btn-put-back", putBack)
                  .on("click", ".btn-cancel-request", cancelRequest)
                  .on("click", ".ui-close-pop", closePop)
                  .on("click", ".btn-delivery-confirmed", deliveryConfirmed);

          /* 추가 스크립트가 있다면 여기에 작성 */
        });
      </script>
      <script th:src="@{/js/myPage/cart.js}"></script>
      <script th:src="@{/js/myPage/restore_cart.js}"></script>
    </div><!--// frame-sm -->
  </div><!--// content-wrap -->

</section>