<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/myPage/css/common.css">
  <link rel="stylesheet" href="/css/myPage/css/content.css">
  <link rel="stylesheet" href="/css/myPage/css/regular.css">
</th:block>

<section layout:fragment="content">

  <div class="content-wrap">
    <div class="frame-full head-mypage">
      <h2 class="blind">마이페이지</h2>
      <div class="user-info-box">
        <div class="inner">
          <div class="column user-info">
            <span class="img">
                <i class="ico-cou-level01"></i>
                <a href="/member/userTag/intro" class="user-tag-location-btn">
                            <span class="user-tag-location-inn">나의 식단 유형은? <strong>테스트 하러가기</strong></span>
                        </a>
                    </span>
            <div class="txt">
              <p class="greeting">
                <strong class="name">표창영</strong>님 반갑습니다
              </p>
              <ul class="sep-list user-info-list type3">
                <li><!--<i class="ico-bl-crown"></i>--> <a href="/mypage/memberBenefitsInfo">닭대리<i class="ico-arr-right"></i></a></li>
                <li id="groupPointRateText"><a href="/mypage/memberBenefitsInfo">1% 적립</a></li>
                <li class="orange-entryItem">
                  <a href="/mypage/orangeMember">
                    <span class="entry-tooltip">+3% 추가적립!</span>
                  </a>
                </li>
              </ul>
              <p class="level-tip" id="levelUpText"><a href="/mypage/memberBenefitsInfo">83,000원 더 구매 시, 닭과장 진급!</a></p>
            </div>
          </div><!--// user-info -->
          <dl class="column order">
            <dt>주문/배송</dt>
            <dd><a href="/mypage/orderlist"><strong class="num" id="orderCountText">0</strong>건</a></dd>
          </dl><!--// order -->
          <dl class="column coupon">
            <dt>쿠폰</dt>
            <dd><a href="/mypage/myCoupon"><strong class="num" id="couponCountText">0</strong>개</a></dd>
          </dl><!--// coupon -->
          <dl class="column point">
            <dt>포인트</dt>
            <dd class="text-primary"><a href="/mypage/myPoint"><strong class="num" id="totalUnusedPointText">1,370</strong>P</a></dd>
          </dl><!--// point -->
        </div><!--// inner -->
      </div><!--// user-info-box -->

      <div class="layer-wrap layer-usertag" id="usertag-popup">
        <div class="layer-pop">
          <div class="layer-inner">
            <div class="layer-head">
              <h4 class="layer-pop-title">나의 식단 유형</h4>
            </div>
            <div class="layer-body">
              <div class="layer-usertag-inn">
                <div class="layer-usertag-img">
                  <img id="researchImg" src="/resources/pc/images/img/usertag-simpler.jpg" alt="간편식 러버">
                </div>
                <div class="layer-usertag-desc-group">
                  <dl class="layer-usertag-defi">
                    <dt>유형별 한마디</dt>
                    <dd><strong id="researchTxt1">"밥보다 시간!"</strong></dd>
                  </dl>
                  <dl class="layer-usertag-defi">
                    <dt>유형 소개</dt>
                    <dd id="researchTxt2">혹시 도시락 찾으러 오셨어요? 편하고 빠른 식사를 선호해요.</dd>
                  </dl>
                  <dl class="layer-usertag-defi">
                    <dt>랭닭 이용 꿀팁</dt>
                    <dd id="researchTxt3">홈화면 [랭킹]메뉴의 [별별랭킹] 카테고리에서 상황에 맞는 다양한 꿀조합을 소개 받아요!</dd>
                  </dl>
                </div>
              </div>
              <div class="layer-usertag-btn-group">
                <a href="/member/userTag/intro" class="btn-basic-lg2 btn-default">
                  <span>테스트 다시하기</span>
                </a>
                <a href="/promotion/exhibit/userTagList" id="researchTag" class="btn-basic-lg2 btn-black">
                  <span>추천 식단 보러가기</span>
                </a>
              </div>
            </div><!--// layer-body -->
            <button type="button" class="btn-x-sm ui-close-pop" title="닫기"><i class="ico-x-black"></i><span class="blind">닫기</span></button>
          </div>
        </div><!--// layer-pop  -->
      </div><!--// layer-pop-wrap #popupSample-02 -->

      <script>

        $(document).ready(function () {
          let tagResult = '';
          let resultObj = {
            '01':{
              img:'/resources/pc/images/img/usertag-newbie.jpg',
              text1:'"여기는 뭐가 맛있어?"',
              text2:'환영해요! 닭가슴살의 세계에 이제 막 입문했네요!',
              text3:'내 입맛에 딱 맞는 닭가슴살 찾고 있다면, 홈화면의 [1팩 담기]에서 여러 상품을 한 팩 씩 골라보세요! ',
              tag: '',
              type: '01'
            },
            '02':{
              img:'/resources/pc/images/img/usertag-smart.jpg',
              text1:'"어? 이거 맛있을까?"',
              text2:'이 구역의 맛잘알! 하지만 그냥 사진 않죠. 할인 혜택과 후기까지 꼼꼼히 살피고 신중하게 구매해요. ',
              text3:'홈화면에서 [이달의 특가]를 확인하세요! 매달 새로운 맛과 혜택으로 찾아갑니다!',
              tag: '',
              type: '02'
            },
            '03':{
              img:'/resources/pc/images/img/usertag-maint.jpg',
              text1:'"다이어트는 꾸준히 해야죠~"',
              text2:'타이트하기 보단 꾸준히 실천할 수 있는 식단을 선호해요. 맛있으면서도 단백질, 당류 등 성분은 꼭 체크하는 진짜 다이어터! ',
              text3:'맛도 성분도 한 번에 비교하려면 최근 본 상품에서 [비교담기] 서비스를 이용해보세요!',
              tag: '',
              type: '03'
            },
            '04':{
              img:'/resources/pc/images/img/usertag-mania.jpg',
              text1:'"먹다보면 다~ 맛있어"',
              text2:'다이어트에서 효율을 아주 중시해요. 때로 지겹더라도 끈기있는 실천이 다이어트의 지름길이라고 생각해요.',
              text3:'[오렌지멤버스]에 가입하고, 살 때마다 추가할인&적립 받아요!',
              tag: '',
              type: '04'
            },
            '05':{
              img:'/resources/pc/images/img/usertag-frenz.jpg',
              text1:'"저는 그냥 랭닭에서 사요"',
              text2:'식단은 이미 일상이에요. 오랜 경험으로 믿고 먹는, 믿고 추천하는 제품들이 있어요.',
              text3:'꾸준히 먹는 제품은 [정기구매] 서비스를 통해서 추가할인 받아보세요!',
              tag: '',
              type: '05'
            },
            '06':{
              img:'/resources/pc/images/img/usertag-standard.jpg',
              text1:'"저는 그냥 정석대로 먹는 편?"',
              text2:'대회, 바디프로필 등 명확한 목표를 갖고 식단을 하고 있어요. 건강기능식품부터 다이어트 간식까지 다이어트 제품에 대해서는 빠삭해요!',
              text3:'식단은 하루라도 놓칠 수 없어! [특급배송]으로 빠르게 받아 완벽한 식단 텐션을 유지하세요!',
              tag: '',
              type: '06'
            },
            '07':{
              img:'/resources/pc/images/img/usertag-simpler.jpg',
              text1:'"밥보다 시간!"',
              text2:'혹시 도시락 찾으러 오셨어요? 편하고 빠른 식사를 선호해요.',
              text3:'홈화면 [랭킹]메뉴의 [별별랭킹] 카테고리에서 상황에 맞는 다양한 꿀조합을 소개 받아요!',
              tag: '',
              type: '07'
            },
          };

          let userTagExhibitionList = '[{v_exhibition_cd=EX202306230000000247, n_sort=7, v_exhibition_nm=간편식 러버, v_ex_name=07, n_num=1}, {v_exhibition_cd=EX202306230000000245, n_sort=6, v_exhibition_nm=스마트 다이어터, v_ex_name=02, n_num=2}, {v_exhibition_cd=EX202306220000000241, n_sort=5, v_exhibition_nm=닭가슴살 뉴비, v_ex_name=01, n_num=3}, {v_exhibition_cd=EX202306230000000242, n_sort=4, v_exhibition_nm=랭닭 프렌즈, v_ex_name=05, n_num=4}, {v_exhibition_cd=EX202306230000000243, n_sort=3, v_exhibition_nm=유지어터, v_ex_name=03, n_num=5}, {v_exhibition_cd=EX202306230000000244, n_sort=2, v_exhibition_nm=헬스 매니아, v_ex_name=04, n_num=6}, {v_exhibition_cd=EX202306230000000246, n_sort=1, v_exhibition_nm=다이어트의 정석, v_ex_name=06, n_num=7}]';
          if(isEmpty(userTagExhibitionList) == false){
            for (const key in resultObj) {

              if ("07" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+1;
              }

              if ("02" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+2;
              }

              if ("01" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+3;
              }

              if ("05" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+4;
              }

              if ("03" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+5;
              }

              if ("04" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+6;
              }

              if ("06" === resultObj[key].type) {
                resultObj[key]['tag'] = "#special-div"+7;
              }

            }
          }

          let userTag = '';
          if(isEmpty(userTag) == false){
            let userTagType = '';
            for (const key in resultObj) {
              if (key === userTagType) {
                tagResult = resultObj[key];
                break;
              };
            };
            $('#researchImg').attr('src',tagResult.img);
            $('#researchTxt1').text(tagResult.text1);
            $('#researchTxt2').text(tagResult.text2);
            $('#researchTxt3').text(tagResult.text3);
            $('#researchTag').attr('href',"/promotion/exhibit/userTagList"+tagResult.tag);
          }

          const benefitsAlertMsg = '';
          //혜택 쿠폰 alert 메시지
          if(isEmpty(benefitsAlertMsg) == false){
            alert(benefitsAlertMsg);
          }
        });

        $(document).ready(function(){
          if(get_cookie("closePoint") != "done"){
            pointAlert();
          }
        })
        function pointAlert(){
          setTimeout(()=>{
            if($(window).scrollTop() > 150){
              $("#pointAlert").css("position","fixed");
              $("#pointAlert").animate({"top":"70px"})
            }
            else if($(".all-depth-cate").css("display") != "block"){
              $("#pointAlert").animate({"top":"15px"})
            }

            $(window).on('load scroll', function() {
              if ($('#pointAlert').length > 0 && $('#pointAlert').css("display") == "block") { pointAlertScroll();}
            });
            setTimeout(()=>{
              $("#pointAlert").animate(
                      {"top":"-100px"},
                      1000,
                      function(){
                        $("#pointAlert").remove();
                      });
            },5000)
          },1000)
        }

        var lastScrollTop = 0;
        function pointAlertScroll(){
          var winS = $(window).scrollTop();
          var gnbw = $('.gnb-wrap'),
                  gnbPosition = gnbw.position();
          var $header= $('.header'),
                  $headerP = $header.offset().top,
                  $headerH = $header.height();

          if(winS > lastScrollTop) { //downscroll

            if( winS > gnbPosition.top){
              // fix 생김
              $("#pointAlert").css({"position":"fixed"});
            } else {
              // fix 지움
              $("#pointAlert").css({"position":"absolute"})
            }
          } else { //upscroll

            if( winS < $headerP + $headerH){
              // fix 지움
              $("#pointAlert").css({"position":"absolute"})
              if($("#pointAlert").css("top") == "70px"){
                $("#pointAlert").css("top","15px");
              }
            } else{
              // fix 생김
              $("#pointAlert").css({"position":"fixed"});
              if($("#pointAlert").css("top") == "15px"){
                $("#pointAlert").css("top","70px");
              }
            }
          }
          lastScrollTop = winS;
        }



        function closePoint(cookieNm, expiredays) {
          setCookiePointAlert( cookieNm, "done" , expiredays);
          $("#pointAlert").animate({"top":"-100px"});
        }

        function setCookiePointAlert( name, value, expiredays ) {
          var todayDate = new Date();
          todayDate = new Date(parseInt(todayDate.getTime() / 86400000) * 86400000 + 54000000);
          if ( todayDate > new Date() )
          {
            expiredays = expiredays - 1;
          }
          todayDate.setDate( todayDate.getDate() + expiredays );
          document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
        }
        function get_cookie(name) {
          var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return value? value[2] : null;
        }



      </script></div>
    <div class="frame-sm">
      <div class="frame-left">
        <div class="aside-menu-wrap">
          <nav class="aside-menu">
            <ul class="menu-list">
              <li>
                <a href="/mypage/orderlist" class="menu">주문관리</a>
                <ul class="depth2">
                  <li class="current"><a href="/mypage/orderlist">주문내역</a></li>
                  <li class=""><a href="/mypage/oldOrderlist">이전 주문내역<span class="sub">(22.04.24 이전)</span></a></li>
                  <li><a href="/mypage/cancellist">취소/반품 내역</a></li>
                  <li class=""><a href="/mypage/routineDelivery">정기배송 관리</a></li>
                  <li class=""><a href="/mypage/restock/list">재입고 알림 상품</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="menu">혜택관리</a>
                <ul class="depth2">
                  <li class=""><a href="/mypage/myCoupon">쿠폰</a></li>
                  <li class=""><a href="/mypage/myPoint">포인트</a></li>
                  <li class=""><a href="/mypage/giftCard/list">랭킹닭컴 상품권 관리</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
              <li>
                <a href="#" class="menu">활동관리</a>
                <ul class="depth2">
                  <li class=""><a href="/mypage/recentProduct/list">최근 본 상품</a></li>
                  <li class=""><a href="/mypage/wish/list">찜한상품</a></li>
                  <li class=""><a href="/mypage/wishBrand/list">관심브랜드</a></li>
                  <li><a href="/mypage/userCounsel/list">1:1문의</a></li><!-- 활성화될 경우 li에 addClass current  -->
                  <li><a href="/mypage/prodReview/list">상품후기</a></li><!-- 활성화될 경우 li에 addClass current  -->
                  <li><a href="/mypage/prodCounsel/list">상품문의내역</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
              <li>
                <a href="#" class="menu">식단상담</a>
                <ul class="depth2">
                  <li><a href="/mypage/dietManage/list">식단상담 목록</a></li><!-- 활성화될 경우 li에 addClass current  -->
                  <li><a href="/mypage/dietManage/app">식단상담 등록</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
              <li>
                <a href="" class="menu goVipView">VIP전용관</a>
              </li>
              <li class="">
                <a href="/mypage/orangeMember" class="menu">오렌지멤버스</a>
              </li>
              <li>
                <a href="/mypage/delivery" class="menu">회원정보관리</a>
                <ul class="depth2">
                  <li class=""><a href="/mypage/delivery">배송지 관리</a></li>
                  <li><a href="/mypage/info/mypage">정보수정</a></li><!-- 활성화될 경우 li에 addClass current  -->
                </ul>
              </li>
            </ul>
          </nav><!--// menu-mypage -->
          <div class="aside-link-box">
            <a href="/service/voc"><i class="ico-bl-speaker"></i><span>고객의 소리</span><i class="ico-arr-right"></i></a>
          </div>
        </div><!--// aside-menu-wrap -->
      </div>

      <script type="text/javascript">
        $(document).ready(function () {
          /*setCurrnetMenuCss();*/

          $(".goVipView").click(function (e) {
            e.preventDefault();
            cmAjax({
              url : "/mypage/vip/checkTargetAjax"
              , type : "POST"
              , dataType : "json"
              , success : function (data) {

                if (data.status == "succ") {
                  if(data.message == "Y") {
                    document.location.href = "/mypage/vip/list";
                    return;
                  } else {
                    alert(data.message);
                    return false;
                  }
                } else {
                  return false;
                }
              }
            });
          });
        });

        function setCurrnetMenuCss(){
          const pathUrl = window.location.pathname;
          $('.menu-list').find('li').removeClass('current');
          $('.menu-list').find('a').each(function (){
            if(pathUrl.indexOf($(this).attr('href')) > -1){
              $(this).parent('li').addClass('current')
            }
          });
        }
      </script>
      <link rel="stylesheet" type="text/css" href="/static/css/myPage/css/jquery-ui-1.9.2.custom.css">
      <script src="/static/js/myPage/lib/jquery-ui.min.js"></script>

      <div class="frame-right order-list-wrap">
        <div class="frame-cnt-inner">
          <form id="myPageOrderList" name="myPageOrderList" action="/mypage/orderlist" method="get"><div class="menu-title-area">
            <h3 class="title-menu">주문내역</h3>
          </div><!--// menu-title-area -->

            <input type="hidden" name="srchFlag" value="Y">
            <input type="hidden" name="nowPageNo" value="">
            <div class="search-box">
              <input type="radio" id="mypage-order-search-radio-period" class="date-setting" name="mypage-order-search-radio" value="PERIOD" checked="" style="display:none;">
              <input type="hidden" id="mypage-order-search-period" name="periodOption" value="PERIOD">
              <input type="hidden" id="mypage-order-search-start-date" name="dStartDtm" value="2023-06-23">
              <input type="hidden" id="mypage-order-search-end-date" name="dEndDtm" value="2023-07-23">
              <input type="hidden" id="mypage-order-search-startdate-year" data-value="2023">
              <input type="hidden" id="mypage-order-search-startdate-month" data-value="06">
              <input type="hidden" id="mypage-order-search-startdate-day" data-value="23">
              <input type="hidden" id="mypage-order-search-enddate-year" data-value="2023">
              <input type="hidden" id="mypage-order-search-enddate-month" data-value="07">
              <input type="hidden" id="mypage-order-search-enddate-day" data-value="23">
              <div class="search-detail">
                <fieldset>
                  <legend>상세 검색</legend>
                  <div class="search-detail-top">
                    <div class="search-detail-date-wrapper">
                      <input type="text" readonly="" id="searchDateFrom" class="input-text hasDatepicker" value="2023-06-23">
                      ~
                      <input type="text" readonly="" id="searchDateTo" class="input-text hasDatepicker" value="2023-07-23">
                    </div>
                    <div class="search-detail-date-itemname">
                      <div class="input-group w-full">
                        <label for="item1-1" class="blind">검색</label>
                        <input type="text" id="item1-1" name="srchProductNm" class="input-text" placeholder="주문 상품명 검색" value="">
                        <span class="input-group-btn">
                                        <button type="submit" class="btn-icon-search search-word" title=""><i class="ico-btn-search"></i><span class="blind">검색하기</span></button>
                                    </span>
                      </div><!--// input-group -->
                    </div>
                  </div>
                  <div class="search-detail-filter">
                    <div class="search-detail-filter-btn-group">
                      <button type="button" class="detail-filter-btn active" value="1">1개월</button>
                      <button type="button" class="detail-filter-btn" value="3">3개월</button>
                      <button type="button" class="detail-filter-btn" value="6">6개월</button>
                      <button type="button" class="detail-filter-btn" value="12">12개월</button>
                    </div>
                    <div class="search-detail-filter-end">
                      <div class="input-group-form detail-filter-chk-group">
                        <div class="custom-checkbox">
                          <input type="checkbox" id="dlvTypeAll" class="checkbox type-dark dlvTypeAll" name="dlvTypeAll" value="N" checked=""><label for="dlvTypeAll">전체</label>
                        </div>
                        <div class="custom-checkbox">
                          <input type="checkbox" id="dlvNrm" class="checkbox type-dark dlvType" name="dlvNrm" value="N" checked=""><label for="dlvNrm">일반배송</label>
                        </div>
                        <div class="custom-checkbox">
                          <input type="checkbox" id="dlvRtn" class="checkbox type-dark dlvType" name="dlvRtn" value="N" checked=""><label for="dlvRtn">정기배송</label>
                        </div>
                      </div>
                      <div class="input-group-form">
                        <div class="input-group-btn dis-inb">
                          <a href="javascript:;" onclick="onSubmitMyPageOrderSearch();" class="btn-form btn-black"><span>조회하기</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div><!--// search-detail-->
            </div><!--// search-box -->
          </form><div class="no-data-type1">
          <p class="message">최근 1개월 내에 주문내역이 없습니다.</p>
        </div>
        </div><!--// frame-cnt-inner -->
      </div><!--// frame-right -->

      <form id="command" name="deliveryPop" action="/mypage/orderlist" method="post"><input type="hidden" name="actionFlag" value="M">
        <input type="hidden" name="vDeliveryid">
        <input type="hidden" name="vOrderCd">
        <div>
          <input type="hidden" name="_csrf" value="36f9d0b2-922e-4543-8572-44d61a7d1438">
        </div></form><div class="layer-wrap" id="modal-my-delivery" style="display: none"></div>


      <!-- ======================== 해당페이지에서만 사용되는 CSS / JS ======================== -->
      <script src="/static/js/myPage/cart.js"></script>
      <script src="/static/js/myPage/restore_cart.js"></script>
      <script>
        $(document).ready(function(){
          var fromInput = $('#searchDateFrom');
          var toInput = $('#searchDateTo');
          var options = {
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['01월','02월','03월','04월','05월','06월','07월','08월','09월','10월','11월','12월'],
            monthNamesShort: ['01월','02월','03월','04월','05월','06월','07월','08월','09월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            showOtherMonths: true, // 타 월 보이기
            showButtonPanel: false, // 버튼 show, hide
            autoClose: false,
            changeMonth: true,
            changeYear: true,
            yearSuffix: '년', // year 텍스트 추가
            closeText: '닫기',
            currentText: '오늘',
            firstDay: 0, // 월요일부터 시작
            showMonthAfterYear:true,
          };

          fromInput.datepicker(options);
          toInput.datepicker(options);
          var datepickerOverlay = $(".ui-datepicker").datepicker("widget");
          $('body').append('<div class="filter-datepicker"></div>')
          $(".filter-datepicker").append(datepickerOverlay);
          fromInput.change(function(){
            dateSelectEvent(this,'start');
          });
          toInput.change(function(){
            dateSelectEvent(this,'end');
          });

          dateControlBtn();
        });

        function dateControlBtn(){
          $('.detail-filter-btn').click(function(){
            var btnVal = $(this).val();

            var thisDay = new Date();
            var compDay = new Date(thisDay.getFullYear(), thisDay.getMonth() - btnVal, thisDay.getDate());
            var thisYear = thisDay.getFullYear();
            var compYear = compDay.getFullYear();
            var thisMonth = thisDay.getMonth() + 1;
            var compMonth = compDay.getMonth() + 1;
            var thisDaynumb = thisDay.getDate();
            var compDaynumb = compDay.getDate();
            $('.detail-filter-btn').removeClass('active');
            $(this).addClass('active');
            if(Number(thisMonth) < 10){
              thisMonth = '0'+thisMonth;
            }
            var thisDaynumb = thisDay.getDate();
            if(Number(thisDaynumb) < 10){
              thisDaynumb = '0'+thisDaynumb;
            };
            if(Number(compMonth) < 10){
              compMonth = '0'+compMonth;
            }
            if(Number(compDaynumb) < 10){
              compDaynumb = '0'+compDaynumb;
            };
            var fullDay = thisYear + '-' + thisMonth + '-' + thisDaynumb;
            var compDayfull = compYear + '-' + compMonth + '-' + compDaynumb;

            $('#searchDateFrom').val(compDayfull);
            $('#searchDateTo').val(fullDay);
            $('#searchDateFrom').trigger('change');
            $('#searchDateTo').trigger('change');
          });
        };

        function dateSelectEvent(sel,x){
          let inputval = $(sel).val();
          let valSplit = inputval.split('-');
          let splitCell = {
            'year':$('#mypage-order-search-'+x+'date-year'),
            'month':$('#mypage-order-search-'+x+'date-month'),
            'day':$('#mypage-order-search-'+x+'date-day'),
          };
          console.log(valSplit);
          splitCell.year.val(valSplit[0]);
          splitCell.year.attr('data-value',valSplit[0]);
          splitCell.month.val(valSplit[1]);
          splitCell.month.attr('data-value',valSplit[1]);
          splitCell.day.val(valSplit[2]);
          splitCell.day.attr('data-value',valSplit[2]);
        }
        var purchaseConfirm = function (e) {



          e.preventDefault();
          var $this = $(this);
          var vOrderProdid = $this.data("prodid");
          var vOrdercd = $this.data("ordercd");

          if (confirm("구매확정 하시겠습니까?")) {
            cmAjax({
              url:"/mypage/orderlist/orderConfirm",
              type: "post",
              data: {
                "vOrderProdid": vOrderProdid,
                "vOrdercd": vOrdercd
              },
              success: function (res) {
                if (res.status === "succ") {
                  location.reload();
                }
              },
              error: function (err) {
                console.log(err);
              }
            });
          }
        }


        var memberOrderListState = {
          startYear: '',
          startMonth: '',
          startDay: '',
          endYear: '',
          endMonth: '',
          endDay: '',
          periodOption: '',
          // 숫자 전체 자리 수 중 남는 앞의 빈 숫자를 0으로 채움

        }

        function getPaddingZeroString(n, width) {
          n = n + '';
          return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
        }

        $(document).ready(function () {

          memberOrderListState.startYear = '2023';
          memberOrderListState.startMonth = '06';
          memberOrderListState.startDay = '23';

          memberOrderListState.endYear = '2023';
          memberOrderListState.endMonth = '07';
          memberOrderListState.endDay = '23';


          addCheckboxEvent($('.dlvTypeAll'), $('.dlvType'));

          // 기간설정 선택시
          $('[name="mypage-order-search-radio"]').on('click',function () {
            if ( $(this).hasClass('date-setting') ) {

              $("input[name='srchFlag']").val("Y");
              $(this).parents('.radio-list').siblings('.ui-toggle-sub').removeClass('hide');
              $(this).parents('.radio-list').siblings('.ui-toggle-sub').find('.input-group.inline-type').show();

              $('#mypage-order-search-startdate-year-select').html("<span>" + memberOrderListState.startYear + "</span>");
              $('#mypage-order-search-startdate-month-select').html("<span>" + memberOrderListState.startMonth + "</span>");
              $('#mypage-order-search-startdate-day-select').html("<span>" + memberOrderListState.startDay + "</span>");

              $('#mypage-order-search-enddate-year-select').html("<span>" + memberOrderListState.endYear + "</span>");
              $('#mypage-order-search-enddate-month-select').html("<span>" + memberOrderListState.endMonth + "</span>");
              $('#mypage-order-search-enddate-day-select').html("<span>" + memberOrderListState.endDay + "</span>");

              $('input[name=periodOption]').val(memberOrderListState.periodOption);
              $('input[name=dStartDtm]').val(memberOrderListState.startYear + '-' + memberOrderListState.startMonth + '-' + memberOrderListState.startDay);
              $('input[name=dEndDtm]').val(memberOrderListState.endYear + '-' + memberOrderListState.endMonth + '-' + memberOrderListState.endDay);

            } else if (  !$(this).hasClass('date-setting') ) {

              $("input[name='srchFlag']").val("N");
              $(this).parents('.radio-list').siblings('.ui-toggle-sub').removeClass('hide');
              $(this).parents('.radio-list').siblings('.ui-toggle-sub').find('.input-group.inline-type').hide();
              /*onSubmitMyPageOrderSearch();*/

            }
          });

          // 커스텀 셀렉트 선택시 이벤트 처리
          var selStartYear = $('#mypage-order-search-startdate-year').find('.select-list').find('li').children('a');
          selStartYear.on('click', function (e) {
            var selectData = $(this).parents('li').data('name');
            $('#mypage-order-search-startdate-year').data('value', selectData.toString());
            console.log('startYear=', selectData.toString());
            memberOrderListState.startYear = selectData.toString();
            e.preventDefault();
          });

          // 커스텀 셀렉트 선택시 이벤트 처리
          var selStartMonth = $('#mypage-order-search-startdate-month').find('.select-list').find('li').children('a');
          selStartMonth.on('click', function (e) {
            var selectData = $(this).parents('li').data('name');
            $('#mypage-order-search-startdate-month').data('value', selectData.toString());
            console.log('startMonth=', selectData.toString());
            memberOrderListState.startMonth = selectData.toString();
            e.preventDefault();
          });

          // 커스텀 셀렉트 선택시 이벤트 처리
          var selStartDay = $('#mypage-order-search-startdate-day').find('.select-list').find('li').children('a');
          selStartDay.on('click', function (e) {
            var selectData = $(this).parents('li').data('name');
            $('#mypage-order-search-startdate-day').data('value', selectData.toString());
            console.log('startDay=', selectData.toString());
            memberOrderListState.startDay = selectData.toString();
            e.preventDefault();
          });

          // 커스텀 셀렉트 선택시 이벤트 처리
          var selEndYear = $('#mypage-order-search-enddate-year').find('.select-list').find('li').children('a');
          selEndYear.on('click', function (e) {
            var selectData = $(this).parents('li').data('name');
            $('#mypage-order-search-enddate-year').data('value', selectData.toString());
            memberOrderListState.endYear = selectData.toString();
            e.preventDefault();
          });

          // 커스텀 셀렉트 선택시 이벤트 처리
          var selEndMonth = $('#mypage-order-search-enddate-month').find('.select-list').find('li').children('a');
          selEndMonth.on('click', function (e) {
            var selectData = $(this).parents('li').data('name');
            $('#mypage-order-search-enddate-month').data('value', selectData.toString());
            memberOrderListState.endMonth = selectData.toString();
            e.preventDefault();
          });

          // 커스텀 셀렉트 선택시 이벤트 처리
          var selEndDay = $('#mypage-order-search-enddate-day').find('.select-list').find('li').children('a');
          selEndDay.on('click', function (e) {
            var selectData = $(this).parents('li').data('name');
            $('#mypage-order-search-enddate-day').data('value', selectData.toString());
            memberOrderListState.endDay = selectData.toString();
            e.preventDefault();
          });

          $(document).on("click", "#btnInit", function(){
            $("input:radio[name='mypage-order-search-radio']:input[value='1MONTH']").prop("checked", true).trigger("click");
            $("#dlvTypeAll").prop("checked", true);
            $("#dlvNrm").prop("checked", true);
            $("#dlvRtn").prop("checked", true);
          });

          return endPointFunction();
        });

        function routineCancelReq(dlvReqno){
          if(confirm("정기배송은 정기배송관리 화면에서 관리할 수 있습니다. 이동 하시겠습니까?")){
            location.href = "/mypage/routineDelivery/detail?vDlvReqno="+dlvReqno;
          }
        }

        function endPointFunction(){
          let srchFlag = "";
          let srchRadio = $('[name="mypage-order-search-radio"]');

          if("Y" == srchFlag){
            srchRadio.parents('.radio-list').siblings('.ui-toggle-sub').removeClass('hide');
            srchRadio.parents('.radio-list').siblings('.ui-toggle-sub').find('.input-group.inline-type').show();
          }else{
            srchRadio.parents('.radio-list').siblings('.ui-toggle-sub').removeClass('hide');
            srchRadio.parents('.radio-list').siblings('.ui-toggle-sub').find('.input-group.inline-type').hide();
          }

          $('#btnDetail').trigger("click");

          let dlvTypeAll = "Y";
          let dlvNrm = "";
          let dlvRtn = "";

          if(dlvTypeAll == "" && dlvNrm == "" && dlvRtn == ""){
            $('#dlvTypeAll').trigger("click");
          }
        }

        function onClickMyPageOrderListOrderCd(obj) {
          console.log($(obj).attr('ordercd'));
          document.location.href = '/mypage/orderdetail?orderCd=' + $(obj).attr('ordercd');
        }

        function validateMyPageOrderListSearchPeriod() {
          var periodOption = $('[name=mypage-order-search-radio]:checked').val();

          var startDate = new Date();
          var nowDate = new Date();

          var startYear = $('#mypage-order-search-startdate-year').data('value');
          var startMonth = $('#mypage-order-search-startdate-month').data('value');
          var startDay = $('#mypage-order-search-startdate-day').data('value');

          var endYear = $('#mypage-order-search-enddate-year').data('value');
          var endMonth = $('#mypage-order-search-enddate-month').data('value');
          var endDay = $('#mypage-order-search-enddate-day').data('value');

          switch (periodOption) {
            case '2WEEKS':
              startDate.setDate(nowDate.getDate() - 14);
              break;
            case '1MONTH':
              startDate.setMonth(nowDate.getMonth() - 1);
              break;
            case '3MONTHS':
              startDate.setMonth(nowDate.getMonth() - 3);
              break;
            case '6MONTHS':
              startDate.setMonth(nowDate.getMonth() - 6);
              break;
            case '12MONTHS':
              startDate.setMonth(nowDate.getMonth() - 12);
              break;
            default:
              break;
          }

          if (periodOption !== "PERIOD") {
            startYear = startDate.getFullYear().toString(10);
            startMonth = getPaddingZeroString(startDate.getMonth() + 1, 2);
            startDay = getPaddingZeroString(startDate.getDate(), 2);

            endYear = nowDate.getFullYear().toString(10);
            endMonth = getPaddingZeroString(nowDate.getMonth() + 1, 2);
            endDay = getPaddingZeroString(nowDate.getDate(), 2);
          }

          var lastStartDayOfMonth = new Date(parseInt(startYear, 10), parseInt(startMonth, 10), 0).getDate();
          var lastEndDayOfMonth = new Date(parseInt(endYear, 10), parseInt(endMonth, 10), 0).getDate();

          if (lastStartDayOfMonth < parseInt(startDay, 10)) {
            alert('검색 시작 기간의 ' + startYear + '년 ' + startMonth + '월은 ' + lastStartDayOfMonth + '일 까지입니다.');
            return false;
          }

          if (lastEndDayOfMonth < parseInt(endDay, 10)) {
            alert('검색 종료 기간의 ' + endYear + '년 ' + endMonth + '월은 ' + lastEndDayOfMonth + '일 까지입니다.');
            return false;
          }

          memberOrderListState.periodOption = periodOption;

          memberOrderListState.startYear = startYear;
          memberOrderListState.startMonth = startMonth;
          memberOrderListState.startDay = startDay;

          memberOrderListState.endYear = endYear;
          memberOrderListState.endMonth = endMonth;
          memberOrderListState.endDay = endDay;

          $('#mypage-order-search-startdate-year').data('value', startYear);
          $('#mypage-order-search-startdate-month').data('value', startMonth);
          $('#mypage-order-search-startdate-day').data('value', startDay);
          $('#mypage-order-search-startdate-year-select').html("<span>" + startYear + "</span>");
          $('#mypage-order-search-startdate-month-select').html("<span>" + startMonth + "</span>");
          $('#mypage-order-search-startdate-day-select').html("<span>" + startDay + "</span>");

          $('#mypage-order-search-enddate-year').data('value', endYear);
          $('#mypage-order-search-enddate-month').data('value', endMonth);
          $('#mypage-order-search-enddate-day').data('value', endDay);
          $('#mypage-order-search-enddate-year-select').html("<span>" + endYear + "</span>");
          $('#mypage-order-search-enddate-month-select').html("<span>" + endMonth + "</span>");
          $('#mypage-order-search-enddate-day-select').html("<span>" + endDay + "</span>");

          $('input[name=periodOption]').val(periodOption);
          $('input[name=dStartDtm]').val(startYear + '-' + startMonth + '-' + startDay);
          $('input[name=dEndDtm]').val(endYear + '-' + endMonth + '-' + endDay);

          return true;
        }

        function onClickMyPageOrderListInitialPeriod() {

          var periodOption = "1MONTH";
          var startDate = new Date();
          var nowDate = new Date();

          startDate.setMonth(nowDate.getMonth() - 1);

          var startYear = startDate.getFullYear().toString(10);
          var startMonth = getPaddingZeroString(startDate.getMonth() + 1, 2);
          var startDay = getPaddingZeroString(startDate.getDate(), 2);

          var endYear = nowDate.getFullYear().toString(10);
          var endMonth = getPaddingZeroString(nowDate.getMonth() + 1, 2);
          var endDay = getPaddingZeroString(nowDate.getDate(), 2);

          memberOrderListState.startYear = startYear;
          memberOrderListState.startMonth = startMonth;
          memberOrderListState.startDay = startDay;

          memberOrderListState.endYear = endYear;
          memberOrderListState.endMonth = endMonth;
          memberOrderListState.endDay = endDay;

          $('#mypage-order-search-startdate-year').data('value', startYear);
          $('#mypage-order-search-startdate-month').data('value', startMonth);
          $('#mypage-order-search-startdate-day').data('value', startDay);
          $('#mypage-order-search-startdate-year-select').html("<span>" + startYear + "</span>");
          $('#mypage-order-search-startdate-month-select').html("<span>" + startMonth + "</span>");
          $('#mypage-order-search-startdate-day-select').html("<span>" + startDay + "</span>");

          $('#mypage-order-search-enddate-year').data('value', endYear);
          $('#mypage-order-search-enddate-month').data('value', endMonth);
          $('#mypage-order-search-enddate-day').data('value', endDay);
          $('#mypage-order-search-enddate-year-select').html("<span>" + endYear + "</span>");
          $('#mypage-order-search-enddate-month-select').html("<span>" + endMonth + "</span>");
          $('#mypage-order-search-enddate-day-select').html("<span>" + endDay + "</span>");

          $('input[name=periodOption]').val(periodOption);
          $('input[name=dStartDtm]').val(startYear + '-' + startMonth + '-' + startDay);
          $('input[name=dEndDtm]').val(endYear + '-' + endMonth + '-' + endDay);
        }

        function onSubmitMyPageOrderSearch() {

          if (!validateMyPageOrderListSearchPeriod()) {
            return false;
          }

          if ($('#dlvTypeAll').prop("checked")) {
            $('#dlvTypeAll').val('Y');
          }

          if ($('#dlvNrm').prop("checked")) {
            $('#dlvNrm').val('Y');
          }

          if ($('#dlvRtn').prop("checked")) {
            $('#dlvRtn').val('Y');
          }

          var frm = $('#myPageOrderList');
          frm.attr('action', '/mypage/orderlist');
          frm.submit();
          return true;
        }

        var searchProductName = function (e) {
          e.preventDefault();

          if (!validateMyPageOrderListSearchPeriod()) {
            return false;
          }

          var frm = $("form[name='myPageOrderList']");

          if ($('#dlvTypeAll').prop("checked")) {
            $('#dlvTypeAll').val('Y');
          }

          if ($('#dlvNrm').prop("checked")) {
            $('#dlvNrm').val('Y');
          }

          if ($('#dlvRtn').prop("checked")) {
            $('#dlvRtn').val('Y');
          }

          /*var searchWord = frm.find("input[name='srchProductNm']").val();
          if (!searchWord) {
              alert("검색어를 입력해주세요.");
              return;
          }*/

          frm.submit();
        }


        var shippingModifyPop = function (e) {
          e.preventDefault();

          var $this = $(this);

          var vOrderCd = $this.data("ordercd");

          var $form = $("form[name='deliveryPop']");
          $form.find("input[name='vOrderCd']").val(vOrderCd);

          $("#modal-my-delivery").load("/mypage/orderlist/shippingModifyPop", $form.serialize(), function () {

            $(this).show();
            selectBox();
          });
        }
        function closePop() {
          $('#modal-my-delivery').html('');
          $("#modal-my-delivery").hide();
        }


        function openUserDeliveryListPop(e) {
          vOrdercd = $(this).data("ordercd");
          let dayDlv = $(this).data("daydlv");

          $('#modal-my-delivery').load("/order/order/userDeliveryList", function () {
            $("#modal-my-delivery").data("ordercd", vOrdercd);
            $("#modal-my-delivery").data("daydlv", dayDlv);
          });
          $("#modal-my-delivery").show();
        }

        function callbackSelectAddr(obj) {
          let daydlv = $("#modal-my-delivery").data("daydlv");

          if (daydlv == 'Y' && obj.vExpressYn == 'Y' && obj.vDawnDlvYn == 'Y' && obj.vTodayDlvYn == 'N'){
            alert("선택한 지역으로는 당일배송이 불가능합니다.");
            return ;
          }

          var data = {
            "vOrderCd" : $("#modal-my-delivery").data("ordercd"),
            "vAddr" : obj["vAddr"],
            "vAddrDtl" : obj["vAddrDtl"],
            "vDeliveryCell" : obj["vDeliveryCell"],
            "vDeliveryCell1" : obj["vDeliveryCell1"],
            "vDeliveryCell2" : obj["vDeliveryCell2"],
            "vDeliveryNm" : obj["vDeliveryNm"],
            "vPostcd" : obj["vPostcd"]
          }

          cmAjax({
            url: "/mypage/orderlist/shippingModifyPopSave",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (res) {
              if (res.status === "succ") {
                alert("배송지 정보가 변경되었습니다.");
                closePop()
                location.reload();
              } else {
                alert(res.message);
              }
            }
          });
        }

        function openPostSearchForm(nowPageNo) {
          $("form[name='postSearchForm'] input[name=nowPageNo]").val(nowPageNo);
          var param = $("form[name='postSearchForm']");
          $('#jusoDiv').load('/juso/getAddrApi', param.serialize());
        }

        function postReturn(data) {
          var vAddr = '';
          if (data.roadAddr == null) {
            vAddr = data.jibunAddr;
          } else {
            vAddr = data.roadAddr;
          }

          $('#userDeliveryForm input[name=vPostcd]').val(data.zipno);
          $('#userDeliveryForm input[name=vAddr]').val(vAddr);
          openDiv();
        }

        function openDiv(e) {
          $('.hideLayers').hide();
          $('#userDeliveryDiv').show();
        }

        var saveShipping = function (e) {
          e.preventDefault();

          var $form = $("form[id='userDeliveryForm']");

          var valueByName = getValueByName($form, "vDeliveryNm");
          if (valueByName === "") {
            alert("받는 분을 입력해주세요.");
            return;
          }

          if (getValueByName($form, "vPostcd") === "") {
            alert("우편번호를 입력해주세요.");
            return;
          }

          if (getValueByName($form, "vAddrDtl") === "") {
            alert("상세주소를 입력해주세요.");
            return;
          }

          // getValueByName($form, "vDeliveryCell1") === "" ||
          if (getValueByName($form, "vDeliveryCell2") === "") {
            alert("휴대폰 번호를 입력해 주세요.");
            return;
          }

          var data = $form.serialize();
          cmAjax({
            url: "/mypage/orderlist/shippingModifyPopSave",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (res) {
              deliveryPopClose();
              location.reload();
            }
          });
        }

        var getValueByName = function(form, name) {
          var val = form.find("input[name='" + name + "']").val();
          return val;
        }

        var cancelRequest = function (e) {
          e.preventDefault();
          var target = e.currentTarget;
          var dataset = target.dataset;
          var ordercd = dataset.ordercd;

          if (ordercd) {
            if (confirm("상품 포장이 시작된 [상품 준비중] 이후 단계에서는 취소가 제한될 수 있습니다.\n"+
                    "주문 내역에서 취소 완료 여부를 꼭 확인 부탁드립니다.\n"+
                    "취소 완료 확인 후 재구매를 부탁드립니다.\n"+
                    "취소 접수를 진행 하시겠습니까?")) {
              // location.href = "/mypage/ordercancel?ordercd=" + ordercd;

              cmAjax({
                url: "/mypage/orderCancelAjax",
                type: "post",
                data: {"vOrdercd": ordercd},
                dataType: "json",
                success: function(res) {
                  if (res.status === "succ") {
                    if (res.message === "true") {
                      location.href = "/mypage/orderdetail?orderCd=" + ordercd;
                    } else {
                      location.href = "/mypage/cancellist"
                    }
                  } else {
                    alert("주문 취소 신청 중 문제가 발생했습니다.");
                  }
                },
                error: function(err) {
                  console.log(err);
                }
              });
            }
          }
        }

        function putBack (e) {

          e.preventDefault();

          var $this = $(this);
          var productCd = $this.data("prodid");
          var optionId = $this.data("optionid");
          var productNm = $this.data("prodnm");
          var imgUrl = $this.data("imageurl");

          var orderArray = [],
                  order = {
                    "v_productcd" : productCd, // option_prod_cd  if null v_productcd
                    "n_qty" : 1,
                    "v_uproductcd" : productCd, // v_productcd
                    "v_gproductcd" : productCd, // productcd
                  }

          if (checkNullOrEmptyValue(optionId)) {
            order['v_optionid'] = optionId
          }

          orderArray.push(order);

          fnCartInsert("01", orderArray, function(status, cartType){

            if(status == 'succ'){

              if (confirm("장바구니에 추가하였습니다.\n장바구니로 이동하시겠습니까?")) {
                location.href = "/order/cart";
              }
            }else{
              alert("장바구니 등록 실패");
            }
          }, '');

        }

        var deliveryConfirmed = function (e) {
          e.preventDefault();

          var $this = $(this);
          var vOrderProdid = $this.data("prodid");
          var vOrdercd = $this.data("ordercd");

          if (confirm("수취확인 처리 하시겠습니까?")) {
            cmAjax({
              url:"/mypage/orderlist/deliveryConfirm",
              type: "post",
              data: {"vOrderProdid": vOrderProdid,
                "vOrdercd" : vOrdercd},
              success: function (res) {
                if (res.status === "succ") {
                  location.reload();
                }
              },
              error: function (err) {
                console.log(err);
              }
            });
          }
        }

        var checkNullOrEmptyValue = function (parameter) {
          if (parameter === null || parameter === '' || parameter === undefined || parameter === 'null') return false;
          return true;
        };

        function closeCartPop () {
          $('.toast-box-wrap').fadeOut();
          setTimeout(function () {
            $('.toast-box-wrap').remove();
          },1000)
        }

        function fnDlvPop(ordercd, orderProdid,dawnDlvYn,dayDlvYn){
          event.preventDefault();
          if(dayDlvYn =='Y'){
            alert("당일배송 상품은 배송 조회하실 수 없습니다.");
            return false;
          }
          window.open("/mypage/orderdlvpop?vOrdercd="+ordercd+"&vOrderProdid="+orderProdid + "&vDawnDlvYn="+dawnDlvYn + "&vDayDlvYn=" + dayDlvYn, "popUpWin", "width=480px, height=832px, status=yes, scrollbars=no,resizable=yes, menubar=no");
        }

        function CustomPagingSetting( pg , size ) {

          var frm = $('#myPageOrderList');

          if ($('#dlvTypeAll').prop("checked")) {
            $('#dlvTypeAll').val('Y');
          }

          if ($('#dlvNrm').prop("checked")) {
            $('#dlvNrm').val('Y');
          }

          if ($('#dlvRtn').prop("checked")) {
            $('#dlvRtn').val('Y');
          }

          $("input[name='nowPageNo']", frm).val(pg);

          if(size != undefined){
            $("input[name='pageSize']", frm).val(size);
          }

          frm.attr('action', '/mypage/orderlist');
          frm.submit();
        }

        $(document).ready()
                .on("click", ".search-word", searchProductName)
                .on("click", ".shipping-modify-btn", openUserDeliveryListPop)
                .on("click", ".btn-confirmed", purchaseConfirm)
                // .on("click", ".btn-put-back", putBack)
                .on("click", ".btn-cancel-request", cancelRequest)
                .on("click", ".ui-close-pop", closePop)
                .on("click", ".btn-delivery-confirmed", deliveryConfirmed)

        ;

      </script>

    </div><!--// frame-sm -->
  </div><!--// content-wrap -->

</section>